<li id="<%= attribute_id %>">
  <%= form.label attribute, label_text %>
  <%= form.fields_for attribute do |f| %>
    <%= f.text_field :amount, value: form.object.send(attribute), size: 10 %>
    <%= f.select :currency, %W[RUB USD EUR], selected: form.object.send(attribute).try(:currency) %>
  <% end %>
</li>
