<li id=<%= attribute%>>
  <label for="<%=attribute %>"> <%=(attribute == "original_price_fare") ?
    "Тариф в валюте офиса выписки" : "Таксы в валюте офиса выписки" %> <small> [<%=attribute %>] </small> </label>
  <input class="text" id="<%=attribute %>]" include_blank="true"
    name=ticket[<%=attribute %>] size="30" type="text"
    value="<%= form.object.send(attribute) ?
      form.object.send(attribute).to_s + ' ' + form.object.send(attribute).currency_as_string : '0.0 RUB' %>">
</li>

