<% content_for :title do %>Сброс пароля<% end %>
<div class="up-form">
<div class="upf-header">
    <h3 class="upf-title">Сброс пароля</h3>
    <p class="upf-description">Мы пришлём на почту ссылку для получения нового пароля.</p>
</div>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

    <div class="upf-field">
        <h6 class="upff-label"><%= f.label :email, 'Электронный адрес' %></h6>
        <%= f.email_field :email, :class => 'upff-input' %>
    </div>
    <div class="upf-submit">
        <%= f.submit "Сбросить пароль", :class => 'upf-button' %>
    </div>

    <% if !devise_error_messages!.empty? || !flash.empty? %>
    <div class="upf-errors">
        <%= devise_error_messages! %>
        <% flash.each do |key, value| %>
            <%= value %>
        <% end %>
    </div>
    <% end %>

<% end %>
</div>
