<%# cache [:calendar, @query_key] do %>
<% if @recommendations.present? %>

<div class="rm-source" data-dates="<%= @search.segments.map{|fs| fs.date_for_render }.join(' ') %>">
<% duration_scale = 88.0 / @recommendations.recs.flat_map(&:segments).collect(&:total_duration).push(600).max %>
<% @recommendations.each do |recommendation| %>
<div class="rm-variants" data-prices='<%= raw recommendation_prices(recommendation) %>'>
    <% cabins = different_cabins(recommendation, @search.cabin) %>
    <% recommendation.variants.each do |variant| %>
    <div class="rm-variant" data-dates="<%= variant.segments.map{|s| s.flights[0].departure_date }.join(' ') %>">
        <div class="rmv-data" data-segments="<%= segment_ids(variant) %>" data-features="<%= variant_features(variant, recommendation.validating_carrier.alliance) %>"><%= raw recommendation.serialize(variant) %></div>
        <div class="rmv-bars">
            <% variant.segments.each_with_index do |segment, scounter| %>
            <ul class="rmv-bar segment<%= scounter + 1 %>">
            <% for part in segment_parts(segment) %>
                <li class="rmvb-<%= part[:type] %>" style="width: <%= (part[:duration] * duration_scale).to_i %>px;">
            <% end %>
            </ul>
            <% end %>
        </div>
        <div class="rmv-details">
        <div class="od-segments">
        <% variant.segments.each_with_index do |segment, scounter| %>
        <%= render :partial => 'details', :locals => {
            :segment => segment,
            :segment_rt => scounter == 1 && @search.rt,
            :segment_cabins => cabins[scounter]
        } %>
        <% end %>
        </div>
        <div class="od-comments">
            <div class="od-comment odc-first">
                <p class="odc-text">Тариф — <%= t @search.cabin, :scope => 'search.options.cabin' %></p>
                <% if recommendation_deficit(recommendation) %>
                    <p class="odc-text">
                        <strong><%= t 'offer.availability.text', :seats => t('offer.availability', {count: recommendation.availability}) %></strong><br>
                        <%= t 'offer.availability.postpone' %>
                    </p>
                <% end %>
            </div>
            <div class="od-comment">
                <p class="odc-text"><%= t 'offer.comments.carrier', :carrier_name => dict(recommendation.validating_carrier) %></p>
                <% if recommendation.validating_carrier.alliance %>
                    <p class="odc-text odc-aux"><%= raw t 'offer.comments.alliance', :alliance_link => content_tag('span', nbsp(recommendation.validating_carrier.alliance.name), :class => 'od-alliance', 'data-carriers' => recommendation.validating_carrier.available_bonus_programms.map{|bp| bp.name}.to_sentence) %></p>
                <% end %>
            </div>
            <div class="od-comment">
                <p class="odc-text"><%= t 'offer.comments.time' %></p>
            </div>
            <% recommendation_comments(recommendation).each do |comment| %>
            <% if comment[:content] %>
                <div class="od-comment odc-specific" data-carrier="<%= comment[:carrier] %>"><%= raw comment[:content] %></div>
            <% end %>
            <% end %>
        </div>
        </div>
    </div>
    <% end %>
</div>
<% end %>

<% end %>
<%# end %>
