<% if @recommendations.present? %>
    <div id="offers-best" class="offers">
    <% if @cheap_recommendation %>
        <h3 class="recomendation">Самый выгодный вариант</h3>
        <%= render :partial => 'recommendation', :locals => {:recommendation => @cheap_recommendation} %>
    <% end %>
    <% if @fast_recommendation %>
        <h3 class="recomendation">Самый быстрый вариант</h3>
        <%= render :partial => 'recommendation', :locals => {:recommendation => @fast_recommendation} %>
    <% end %>
    <% if @optimal_recommendation %>
        <h3 class="recomendation">Оптимальный вариант — разумная цена и время в пути</h3>
        <%= render :partial => 'recommendation', :locals => {:recommendation => @optimal_recommendation} %>
    <% end %>
    </div>
    <div id="offers-all" class="offers" data-amount="<%= @recommendations.size %>">
        <%= render :partial => 'recommendation', :collection => @recommendations %>
    </div>
    <script type="text/javascript">
    app.offers.filtersData = '<%= Recommendation.summary(@recommendations).to_json %>';
    </script>
<% else %>
    <h2>Таких рейсов нет, попробуйте другие даты.</h2>
<% end %>
