<% cache [:pricer, @query_key] do %>

<% nearby_list = nearby_cities_list(@search.rt ? @search.form_segments[0, 1] : @search.form_segments) %>
<% unless nearby_list.empty? %>
<div class="offers-nearby latent">
    <h3 class="offers-title">Соседние города</h3>
    <% nearby_list.each do |ncgroup| %>
        <% ncgroup_fields = ncgroup['fields'].join(' ') %>
        <p class="cities"><strong><%= ncgroup['title'] %>:</strong> <% ncgroup['cities'].each_with_index do |city, city_index| %><%= ', ' if city_index != 0 %><span class="city" data-fields="<%= ncgroup_fields %>"><%= raw city %></span><% end %></p>
    <% end %>
</div>
<% end %>

<% if @recommendations.present? %>
<div id="offers-options" 
    data-filters='<%= raw Recommendation.summary(@recommendations, @locations).to_json.gsub("'", '&rsquo;') %>' 
    data-query_key="<%= @query_key %>" 
    data-people="<%= @search.people_total %>" 
    data-aveprice="<%= @average_price %>"
    data-segments="<%= @search.form_segments.map{|fs| {
      :from => fs.from_as_object.name,
      :to => fs.to_as_object.name,
      :date => date_with_dow(fs.date),
      :human => "#{fs.from_as_object.case_from} #{fs.to_as_object.case_to}"
    } }.to_json %>"
    data-mode="<%= @search.form_segments.length > 1 ? (@search.rt ? 'rt' : 'mw') : 'ow' %>">
<% if @search.form_segments.length == 1 %>
    <% fs1 = @search.form_segments[0] %>
    <div class="ht-content"><span class="segment1"><%= fs1.from_as_object.name %></span> &rarr; <span class="segment2"><%= fs1.to_as_object.name %></span>, <%= fmt_date_short(fs1.date) %></div>
<% elsif @search.rt %>
    <% fs1 = @search.form_segments[0] %>
    <% fs2 = @search.form_segments[1] %>
    <div class="ht-content"><span class="segment1"><%= fs1.from_as_object.name %></span> &#8644; <span class="segment2"><%= fs1.to_as_object.name %></span>, <%= fmt_date_short(fs1.date) %><% if fs2.date != fs1.date %> — <%= fmt_date_short(fs2.date) %><% end %></div>    
<% else %>
    <div class="ht-content"><% @search.form_segments.each_with_index do |fs, fs_counter| %><% if fs_counter > 0 %> <span class="separator">&bull;</span> <% end %><span class="segment<%= fs_counter + 1 %>"><%= fs.from_as_object.name %></span> &rarr; <span class="segment<%= fs_counter + 1 %>"><%= fs.to_as_object.name %></span>, <%= fmt_date_short(fs.date) %><% end %></div>
<% end %>
</div>
<% @recommendations.each do |recommendation| %>
<div class="offer collapsed<%= ' multiple' if recommendation.variants.length > 1 %>" data-summary='<%= recommendation.summary.to_json %>'>
    <% different_cabins = recommendation.cabins_except(@search.cabin) %>
    <% recommendation.variants.each_with_index do |variant, variant_index| %>
        <%= render :partial => 'variant', :locals => {:variant => variant, :recommendation => recommendation, :variant_cabins => different_cabins, :variant_summary => nil} %>
    <% end %>
    <div class="aux">
      <% # для меток %>
    </div>
</div>
<% end %>
<% end %>

<% end %>
