<% cache [:pricer, @query_key] do %>

<% if @destination.present? %>
<div class="offers-subscribe latent">
    <h3 class="offers-title">Подпишитесь на тариф</h3>
    <p class="os-description">Если вам не&nbsp;важно когда лететь, мы&nbsp;сообщим вам о&nbsp;появлении выгодных тарифов на&nbsp;билеты <%= nbsp @destination.from.case_from %> <%= nbsp @destination.to.case_to %><%= ' и обратно' if @destination.rt %> по&nbsp;электронной почте.</p>
    <form class="os-form" action="/subscribe/" data-destination="<%= @destination.id %>" data-from-iata="<%= @destination.from.iata %>" data-to-iata="<%= @destination.to.iata %>" data-rt="<%= @destination.rt %>">
        <div><label class="osf-label" for="osf-email">Ваш адрес</label><input name="email" class="osf-field" id="osf-email" maxlength="50">&nbsp;<input class="osf-submit" type="submit" value="Хочу"></div>
        <p class="osf-error"></p>
    </form>
</div>
<% end %>

<% if @recommendations.present? %>
<% data = Recommendation.filters_data(@recommendations) %>

<div class="rf-data" id="rfg-time">
<% time_titles = ['ночью', 'утром', 'днем', 'вечером'] %>
<% data[:time].each_with_index do |times, i| %>
<% if times.length > 1 %>
<% sindex = i / 2 %>
<% is_dpt = i % 2 == 0 %>
<div class="rfg-column rf-list" data-key="<%= is_dpt ? 'dpt' : 'arv' %><%= sindex + 1 %>t">
    <h6 class="rfgc-title rfgct-segment<%= sindex + 1 %>"><%= raw( is_dpt ? "Вылет<br>#{ @search.segments[sindex].from_as_object.case_from }" : "Прилет<br>#{ @search.segments[sindex].to_as_object.case_to }" ) %></h6>    
    <ul class="rf-values">
    <li class="rfv-empty rfv-selected">в любое время</li>
    <% times.each do |time| %>
        <li class="rfv-item" data-value="<%= time %>"><%= time_titles[time] %></li>
    <% end %>
    </ul>
</div>
<% end %>
<% end %>
</div>

<div class="rf-data" id="rfg-locations">
<% data[:locations].each_with_index do |segment, i| %>
<% if segment[:airports].length > 1 || segment[:cities].length > 1 %>
<% sindex = i / 2 %>
<% is_dpt = i % 2 == 0 %>
<div class="rfg-column rf-list" data-key="<%= is_dpt ? 'dpt' : 'arv' %><%= sindex + 1 %>">
<h6 class="rfgc-title rfgct-segment<%= sindex + 1 %>"><%= raw( is_dpt ? "Вылет<br>#{ @search.segments[sindex].from_as_object.case_from }" : "Прилет<br>#{ @search.segments[sindex].to_as_object.case_to }" ) %></h6>    
<% if segment[:airports].length > 1 %>
    <ul class="rf-values">
    <li class="rfv-empty rfv-selected"><%= is_dpt ? 'из любого аэропорта' : 'в любой аэропорт' %></li>
    <% segment[:airports].each do |airport| %>
        <li class="rfv-item" data-value="<%= airport.iata %>"><%= is_dpt ? airport.case_from : airport.case_to %></li>
    <% end %>
    </ul>
<% end %>
<% if segment[:cities].length > 1 %>
    <ul class="rf-values">
    <% segment[:cities].each do |city| %>
        <li class="rfv-item" data-value="<%= city.iata %>"><%= city.name %></li>
    <% end %>
    </ul>
<% end %>
</div>
<% end %>
<% end %>
</div>

<div class="rf-data" id="rfg-carriers">
<% if data[:alliances].length > 1 %>
<div class="rfg-column rf-list" data-key="alliance">
    <h6 class="rfgc-title">Альянс</h6>
    <ul class="rf-values">
    <li class="rfv-empty rfv-selected">любой</li>
    <% data[:alliances].each do |alliance| %>
        <li class="rfv-item" data-value="<%= alliance.id %>"><%= alliance.name %></li>
    <% end %>
    </ul>
</div>
<% end %>
<% if data[:carriers].length > 1 %>
<div class="rfg-column rf-list" data-key="carrier">
    <h6 class="rfgc-title">Авиакомпания</h6>
    <ul class="rf-values">
    <li class="rfv-empty rfv-selected">любая</li>
    <% data[:carriers].each do |carrier| %>
        <li class="rfv-item" data-value="<%= carrier.iata %>"><%= carrier.name %></li>
    <% end %>
    </ul>
</div>    
<% end %>
<% if data[:planes].length > 1 %>
<div class="rfg-column rf-list" data-key="plane">
    <h6 class="rfgc-title">Самолет</h6>
    <ul class="rf-values">
    <li class="rfv-empty rfv-selected">любой</li>
    <% data[:planes].each do |plane| %>
        <li class="rfv-item" data-value="<%= plane.iata %>"><%= plane.name %></li>
    <% end %>
    </ul>
</div>
<% end %>
</div>

<div class="rf-data" id="rfg-layovers">
<% if data[:few_layovers] || data[:min_layover_duration] != data[:max_layover_duration]%>
<div class="rfg-column">
<% if data[:few_layovers] %>
    <h6 class="rfgc-title">Количество</h6>
    <div class="rf-lcount">
        <input type="checkbox" id="rf-onestop">
        <label for="rf-onestop">Максимум одна пересадка</label>
    </div>
<% end %>
<% if data[:min_layover_duration] != data[:max_layover_duration] %>
    <h6 class="rfgc-title">Длительность</h6>
    <div class="rf-duration" data-min="<%= data[:min_layover_duration] %>" data-max="<%= data[:max_layover_duration] %>">
        <div class="rfd-control">
            <div class="rfd-selected"></div>
            <div class="rfd-enabled"></div>
            <div class="rfd-left"></div>
            <div class="rfd-right"></div>
            <div class="rfd-marks"></div>
            <div class="rfd-slider" data-name="min"></div>
            <div class="rfd-slider" data-name="max"></div>
        </div>
        <div class="rfd-value"></div>
    </div>
<% end %>
</div>
<% end %>
<% if data[:layover_cities].length > 0 %>
<div class="rfg-column rf-list" data-key="lcity">
    <h6 class="rfgc-title">Город пересадки</h6>
    <ul class="rf-values">
    <li class="rfv-empty rfv-selected">любой</li>    
    <% data[:layover_cities].each do |city| %>
        <li class="rfv-item" data-value="<%= city.iata %>"><%= city.name %></li>
    <% end %>
    </ul>
</div>
<% end %>
</div>

<% duration_scale = 98.0 / @recommendations.collect(&:segments).flatten.collect(&:total_duration).push(600).max %>
<% @recommendations.each do |recommendation| %>
<div class="offer" data-prices='<%= raw recommendation_prices(recommendation) %>'>
    <ul class="o-variants">
    <% recommendation.variants_by_duration.each do |variant| %>
        <li data-duration="<%= variant.total_duration %>" data-layover="<%= longest_layover(variant) %>" data-features="<%= variant_features(variant, recommendation.validating_carrier.alliance) %>"><%= raw recommendation.serialize(variant) %></li>
    <% end %>
    </ul>
    <div class="o-segments">
    <% cabins = different_cabins(recommendation, @search.cabin) %>
    <% group_segments(recommendation.variants).each_with_index do |segments, scounter| %>
    <div class="o-segment segment<%= scounter + 1 %>">
        <% segment_rt = scounter == 1 && @search.rt %>
        <% segments.each do |segment| %>
            <%= render :partial => 'summary', :locals => {
                :segment => segment,
                :segment_rt => segment_rt,
                :duration_scale => duration_scale
            } %>
            <%= render :partial => 'details', :locals => {
                :segment => segment,
                :segment_rt => segment_rt,
                :segment_cabins => cabins[scounter]
            } %>
        <% end %>
    </div>
    <% end %>
    </div>
    <div class="o-comments">
        <p class="od-comment">Билет оформляет авиакомпания <%= recommendation.validating_carrier.name %>.<% if recommendation.validating_carrier.alliance %> Применяются бонусные программы альянса <span class="od-alliance" data-carriers="<%= recommendation.validating_carrier.available_bonus_programms.map{|bp| bp.name}.to_sentence %>"><%= nbsp(recommendation.validating_carrier.alliance.name) %></span>.<% end %> Время везде местное.</p>
        <% recommendation_comments(recommendation).each do |comment| %>
            <p class="od-comment" data-carrier="<%= comment[:carrier] %>"><%= raw comment[:content] %></p>
        <% end %>
        <% if recommendation_deficit(recommendation) %>
            <p class="od-comment"><span class="odc-hl">По этому тарифу осталось мало мест. Не откладывайте покупку.</span></p>
        <% end %>
    </div>
    <% if admin_user %>
        <% recommendation.variants_by_duration.each do |variant| %>
            <p class="o-debug" data-code="<%= raw recommendation.serialize(variant) %>"><% variant_debug_info recommendation, variant %></p>
        <% end %>
    <% end %>
</div>
<% end %>

<% end %>
<% end %>
