<div class="offer collapsed<%= ' multiple' if recommendation.variants.length > 1 %>" data-summary='<%= recommendation.summary.to_json %>'>
<% different_cabins = recommendation.cabins_except(params[:search]['cabin']) %>
<% recommendation.variants.each_with_index do |variant, variant_index| %>
    <%= render :partial => 'variant', :locals => {:variant => variant, :recommendation => recommendation, :variant_index => variant_index, :variant_cabins => different_cabins} %>
<% end %>
  <div class="aux">
  <!-- Вывод служебной информации -->
  <span style="color:green">
    <%= 'только в беспосадочном запросе.' if recommendation.source == 'right' %>
    <%#= 'в обоих запросах' if recommendation.source.nil? %>
    <%= 'не было в беспосадочном запросе!' if recommendation.source == 'left' && !recommendation.layovers? %>
  </span>
  </div>
</div>
