<%# cache [:pricer, @query_key] do %>

<% if @destination.present? %>
<div class="r-subscription">
    <h3 class="rs-title">Подпишитесь на тариф</h3>
    <p class="rs-description">Если вам не&nbsp;важно когда лететь, мы&nbsp;сообщим вам о&nbsp;появлении выгодных тарифов на&nbsp;билеты <%= nbsp @destination.from.case_from %> <%= nbsp @destination.to.case_to %><%= ' и обратно' if @destination.rt %> по&nbsp;электронной почте.</p>
    <form class="rs-form" action="/subscribe/" data-destination="<%= @destination.id %>" data-from-iata="<%= @destination.from.iata %>" data-to-iata="<%= @destination.to.iata %>" data-rt="<%= @destination.rt %>">
        <div><label class="rsf-label" for="rsf-email">Ваш адрес</label><input name="email" class="rsf-field" id="rsf-email" maxlength="50">&nbsp;<input class="rsf-submit" type="submit" value="Хочу"></div>
        <p class="rsf-error"></p>
    </form>
</div>
<% end %>

<% if @recommendations.present? %>
<% data = Recommendation.filters_data(@recommendations) %>

<div class="r-average latent"><%= @average_price.round.to_i if @average_price %></div>

<div class="rf-data" id="rfg-time">
<% time_titles = ['ночью', 'утром', 'днем', 'вечером'] %>
<% data[:time].each_with_index do |times, i| %>
<% if times[:dpt].length > 1 || times[:arv].length > 1 %>
<div class="rfg-column">
    <% if times[:dpt].length > 1 %>
    <div class="rf-list" data-key="dpt<%= i + 1 %>t">
        <h6 class="rfgc-title rfgct-segment<%= i + 1 %>">Вылет <%= raw @search.segments[i].from_as_object.case_from %></h6>    
        <ul class="rf-values">
            <li class="rfv-empty rfv-selected">в любое время</li>
            <% times[:dpt].each do |time| %>
                <li class="rfv-item" data-value="<%= time %>"><%= time_titles[time] %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <% if times[:arv].length > 1 %>
    <div class="rf-list" data-key="arv<%= i + 1 %>t">
        <h6 class="rfgc-title rfgct-segment<%= i + 1 %>">Прилет <%= raw @search.segments[i].to_as_object.case_to %></h6>    
        <ul class="rf-values">
            <li class="rfv-empty rfv-selected">в любое время</li>
            <% times[:arv].each do |time| %>
                <li class="rfv-item" data-value="<%= time %>"><%= time_titles[time] %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
</div>   
<% end %>
<% end %>
</div>

<div class="rf-data" id="rfg-locations">
<% locations_title = { 
  :airports => false,
  :cities => false
} %>
<% data[:locations].each_with_index do |segment, i| %>
<% if segment[:dpt][:airports].length > 1 || segment[:dpt][:cities].length > 1 || segment[:arv][:airports].length > 1 || segment[:arv][:cities].length > 1 %>
<div class="rfg-column">
    <% if segment[:dpt][:airports].length > 1 || segment[:dpt][:cities].length > 1 %>
    <div class="rf-list" data-key="dpt<%= i + 1 %>">    
        <h6 class="rfgc-title rfgct-segment<%= i + 1 %>">Вылет <%= raw @search.segments[i].from_as_object.case_from %></h6>        
        <% if segment[:dpt][:cities].length > 1 %>
            <% locations_title[:cities] = true %>
            <ul class="rf-values">
            <li class="rfv-empty rfv-selected">из любого города</li>
            <% segment[:dpt][:cities].each do |city| %>
                <li class="rfv-item" data-value="<%= city.iata %>"><%= city.case_from %></li>
            <% end %>
            </ul>
        <% elsif segment[:dpt][:airports].length > 1 %>
            <% locations_title[:airports] = true %>
            <ul class="rf-values">
            <li class="rfv-empty rfv-selected">из любого аэропорта</li>
            <% segment[:dpt][:airports].each do |airport| %>
                <li class="rfv-item" data-value="<%= airport.iata %>"><%= airport.case_from %></li>
            <% end %>
            </ul>
        <% end %>    
    </div>
    <% end %>
    <% if segment[:arv][:airports].length > 1 || segment[:arv][:cities].length > 1 %>
    <div class="rf-list" data-key="arv<%= i + 1 %>">    
        <h6 class="rfgc-title rfgct-segment<%= i + 1 %>">Прилет <%= raw @search.segments[i].to_as_object.case_to %></h6>        
        <% if segment[:arv][:cities].length > 1 %>
            <% locations_title[:cities] = true %>        
            <ul class="rf-values">
            <li class="rfv-empty rfv-selected">в любой город</li>
            <% segment[:arv][:cities].each do |city| %>
                <li class="rfv-item" data-value="<%= city.iata %>"><%= city.case_to %></li>
            <% end %>
            </ul>
        <% elsif segment[:arv][:airports].length > 1 %>
            <% locations_title[:airports] = true %>        
            <ul class="rf-values">
            <li class="rfv-empty rfv-selected">в любой аэропорт</li>
            <% segment[:arv][:airports].each do |airport| %>
                <li class="rfv-item" data-value="<%= airport.iata %>"><%= airport.case_to %></li>
            <% end %>
            </ul>
        <% end %>    
    </div>
    <% end %>
</div>
<% end %>
<% end %>
<% locations_title[:parts] = [] %>
<% locations_title[:parts] << 'города' if locations_title[:cities] %>
<% locations_title[:parts] << 'аэропорты' if locations_title[:airports] %>
<p class="latent rfg-label"><%= locations_title[:parts].join(' и ') %></p>
</div>

<div class="rf-data" id="rfg-carriers">
<% if data[:alliances].length > 1 %>
<div class="rfg-column">
<div class="rf-list" data-key="alliance">
    <h6 class="rfgc-title">Альянс</h6>
    <ul class="rf-values">
    <li class="rfv-empty rfv-selected">любой</li>
    <% data[:alliances].each do |alliance| %>
        <li class="rfv-item" data-value="<%= alliance.id %>"><%= alliance.name %></li>
    <% end %>
    </ul>
</div>
</div>
<% end %>
<% if data[:carriers].length > 1 %>
<div class="rfg-column">
<div class="rf-list" data-key="carrier">
    <h6 class="rfgc-title">Авиакомпания</h6>
    <ul class="rf-values">
    <li class="rfv-empty rfv-selected">любая</li>
    <% data[:carriers].each do |carrier| %>
        <li class="rfv-item" data-value="<%= carrier.iata %>"><%= carrier.name %></li>
    <% end %>
    </ul>
</div>
</div>    
<% end %>
<% if data[:planes].length > 1 %>
<div class="rfg-column">
<div class="rf-list" data-key="plane">
    <h6 class="rfgc-title">Самолет</h6>
    <ul class="rf-values">
    <li class="rfv-empty rfv-selected">любой</li>
    <% data[:planes].each do |plane| %>
        <li class="rfv-item" data-value="<%= plane.iata %>"><%= plane.name %></li>
    <% end %>
    </ul>
</div>
</div>
<% end %>
</div>

<div class="rf-data" id="rfg-layovers">
<% if data[:few_layovers] || data[:min_layover_duration] != data[:max_layover_duration]%>
<div class="rfg-column">
<% if data[:few_layovers] %>
    <h6 class="rfgc-title">Количество</h6>
    <div class="rf-lcount">
        <input type="checkbox" id="rf-onestop">
        <label for="rf-onestop">Максимум одна пересадка</label>
    </div>
<% end %>
<% if data[:min_layover_duration] != data[:max_layover_duration] %>
    <h6 class="rfgc-title">Длительность</h6>
    <div class="rf-duration" data-min="<%= data[:min_layover_duration] %>" data-max="<%= data[:max_layover_duration] %>">
        <div class="rfd-control">
            <div class="rfd-selected"></div>
            <div class="rfd-enabled"></div>
            <div class="rfd-left"></div>
            <div class="rfd-right"></div>
            <div class="rfd-marks"></div>
            <div class="rfd-slider" data-name="min"></div>
            <div class="rfd-slider" data-name="max"></div>
        </div>
        <div class="rfd-value"></div>
    </div>
<% end %>
</div>
<% end %>
<% if data[:layover_cities].length > 0 %>
<div class="rfg-column rf-list" data-key="lcity">
    <h6 class="rfgc-title">Город пересадки</h6>
    <ul class="rf-values">
    <li class="rfv-empty rfv-selected">любой</li>    
    <% data[:layover_cities].each do |city| %>
        <li class="rfv-item" data-value="<%= city.iata %>"><%= city.name %></li>
    <% end %>
    </ul>
</div>
<% end %>
</div>

<% duration_scale = 98.0 / @recommendations.collect(&:segments).flatten.collect(&:total_duration).push(600).max %>
<% @recommendations.each do |recommendation| %>
<div class="offer" data-prices='<%= raw recommendation_prices(recommendation) %>'>
    <ul class="o-variants">
    <% recommendation.variants_by_duration.each do |variant| %>
        <li data-duration="<%= variant.total_duration %>" data-dpttimes="<%= variant.segments.map(&:departure_time).join('-') %>" data-segments="<%= segment_ids(variant) %>" data-layover="<%= longest_layover(variant) %>" data-features="<%= variant_features(variant, recommendation.validating_carrier.alliance) %>"><%= raw recommendation.serialize(variant) %></li>
    <% end %>
    </ul>
    <div class="o-segments">
    <% cabins = different_cabins(recommendation, @search.cabin) %>
    <% group_segments(recommendation.variants).each_with_index do |segments, scounter| %>
    <div class="o-segment segment<%= scounter + 1 %>">
        <% segment_rt = scounter == 1 && @search.rt %>
        <% segment_country = {
          :dpt => @search.segments[scounter].from_as_object.class == Country,
          :arv => @search.segments[scounter].to_as_object.class == Country          
        } %>
        <% segments.each do |segment| %>
            <%= render :partial => 'summary', :locals => {
                :segment => segment,
                :segment_rt => segment_rt,
                :duration_scale => duration_scale,
                :segment_country => segment_country
            } %>
            <%= render :partial => 'details', :locals => {
                :segment => segment,
                :segment_rt => segment_rt,
                :segment_cabins => cabins[scounter]
            } %>
        <% end %>
    </div>
    <% end %>
    </div>
    <div class="o-comments">
        <p class="od-comment">Билет оформляет авиакомпания <%= recommendation.validating_carrier.name %>.<% if recommendation.validating_carrier.alliance %> Применяются бонусные программы альянса <span class="od-alliance" data-carriers="<%= recommendation.validating_carrier.available_bonus_programms.map{|bp| bp.name}.to_sentence %>"><%= nbsp(recommendation.validating_carrier.alliance.name) %></span>.<% end %> Время везде местное.</p>
        <% recommendation_comments(recommendation).each do |comment| %>
            <p class="od-comment" data-carrier="<%= comment[:carrier] %>"><%= raw comment[:content] %></p>
        <% end %>
        <% if recommendation_deficit(recommendation) %>
            <p class="od-comment"><span class="odc-hl">По этому тарифу осталось <%= recommendation.availability %>&nbsp;<%= Russian.pluralize(recommendation.availability, 'место', 'места', 'мест') %>. Не откладывайте покупку.</span></p>
        <% end %>
    </div>
    <% if admin_user %>
        <% recommendation.variants_by_duration.each do |variant| %>
            <p class="o-debug" data-segments="<%= segment_ids(variant) %>"><% variant_debug_info recommendation, variant %></p>
        <% end %>
    <% end %>
</div>
<% end %>

<% end %>
<%# end %>
