<% cache [:pricer, @query_key] do %>

<% nearby_list = nearby_cities_list(@search.rt ? @search.form_segments[0, 1] : @search.form_segments) %>
<% unless nearby_list.empty? %>
<div class="offers-nearby latent">
    <h3 class="offers-title">Соседние города</h3>
    <% nearby_list.each do |item| %>
        <p class="cities" data-fields="<%= item['fields'].join(' ') %>"><strong><%= item['title'] %>:</strong> <%= raw item['cities'] %></p>
    <% end %>
</div>
<% end %>

<% if @recommendations.present? %>
<div id="offers-options" 
    data-filters='<%= raw Recommendation.summary(@recommendations, @locations).to_json.gsub("'", '&rsquo;') %>' 
    data-query_key="<%= @query_key %>" 
    data-people="<%= @search.people_total %>" 
    data-aveprice="<%= @average_price %>"
    data-segments="<%= @search.form_segments.map{|fs| {:from => fs.from_as_object.name, :to => fs.to_as_object.name, :date => human_date(fs.date)} }.to_json %>"
></div>
<% @recommendations.each do |recommendation| %>
<div class="offer collapsed<%= ' multiple' if recommendation.variants.length > 1 %>" data-summary='<%= recommendation.summary.to_json %>'>
    <% different_cabins = recommendation.cabins_except(@search.cabin) %>
    <% recommendation.variants.each_with_index do |variant, variant_index| %>
        <%= render :partial => 'variant', :locals => {:variant => variant, :recommendation => recommendation, :variant_cabins => different_cabins, :variant_summary => nil} %>
    <% end %>
    <div class="aux">
      <% if admin_user %>
        <span style="color:green">
            <%= recommendation.source %>
        </span>
      <% end %>
    </div>
</div>
<% end %>
<% end %>

<% end %>
