<h4<%= ' class="ret"' if segment_counter > 0 %>><strong class="direction"><%= segment_counter == 0 ? 'Перелёт туда' : 'Обратный перелёт' %></strong><% if segment.layovers? %> с <%= segment.layover_count == 1 ? 'пересадкой' : "#{segment.layover_count} пересадками" %> <%= segment.flights[0].arrival.city.case_in %><% end %></h4>
<% segment.flights.each_with_index do |flight, flight_index| %>
<div class="flight<%= ' ret' if segment_counter > 0 %> wrap">
    <div class="point<%= ' arv' if flight_index == 0 %>">
        <div class="time">
            <h5><%= fmt_time( flight.departure_time ) %></h5>
            <p><%= fmt_date( flight.departure_date ) %></p>
            <!--<p>МСК</p>-->
        </div>
        <div class="info">
            <h6>Вылет <%= flight.departure.city.case_from %></h6>
            <p>Аэропорт <%= flight.departure_name %><% if flight.departure_term %>, терминал&nbsp;<%= flight.departure_term %><% end %></p>
            <p>Рейс <%= flight.operating_carrier_iata %>&nbsp;<%= flight.flight_number %> <%= flight.departure.city.name %> — <%= flight.arrival.city.name %></p>
            <p>Авиакомпания <%= flight.marketing_carrier_name %></p>
            <p>Самолёт <%= flight.equipment_type_name %></p>
            <p><%= human_duration(flight.duration) %> в пути</p>
        </div>
    </div>
    <div class="point<%= ' dpt' if flight_index == segment.flights.length - 1 %>">
        <div class="time">
            <h5><%= fmt_time( flight.arrival_time ) %></h5>
            <p><%= fmt_date( flight.arrival_date ) %></p>
            <!--<p>CEST</p>-->
        </div>
        <div class="info">
            <h6>Прилёт <%= flight.arrival.city.case_to %></h6>
            <p>Аэропорт <%= flight.arrival_name %><% if flight.arrival_term %>, терминал&nbsp;<%= flight.arrival_term %><% end %></p>
            <% layover = segment.layover_durations[flight_index] %>
            <% if layover %>
            <p><%= human_duration(layover) %> между рейсами</p>
            <% end %>
            <!--<ul class="warnings">
                <li>Разные терминалы прилёта и вылета</li>
            </ul>
            <p class="timezone">Разница во времени с Москвой — минус 2 часа</p>-->
        </div>
    </div>
</div>
<% end %>
