<tr<%= ' class="ret"' if segment_counter > 0 %>>
    <td></td>
    <th colspan="6"><strong class="direction"><%= segment_counter == 0 ? 'Перелёт туда' : 'Обратный перелёт' %></strong><% if segment.layovers? %> с <%= human_layovers_count(segment.layover_count) %> <%= layovers_in(segment.flights[0..-2]) %><% end %></th>
</tr>
<% segment.flights.each_with_index do |flight, flight_index| %>
<% next_date_arrival = (flight_index == segment.flights.length - 1 && flight.arrival_date != segment.flights[0].departure_date) %>
<% row_classnames = [] %>
<% row_classnames << 'ret' if segment_counter > 0 %>
<% row_classnames << 'last' if flight_index == segment.flights.length - 1 %>
<tr<%= " class=\"#{row_classnames.join(' ')}\"" unless row_classnames.empty? %>>
    <td></td>
    <td class="point<%= ' arv' if flight_index == 0 %>" colspan="3">
        <div class="time">
            <h5><%= fmt_time( flight.departure_time ) %></h5>
            <% if flight_index == 0 %>
            <p><%= human_date( flight.departure_date ) %></p>
            <% end %>
            <!--<p>МСК</p>-->
        </div>
        <div class="info">
            <h6>Вылет <%= flight.departure.city.case_from %></h6>
            <p>Аэропорт <%= flight.departure_name %><% if flight.departure_term %>, терминал&nbsp;<%= flight.departure_term %><% end %></p>
            <p>Авиакомпания <%= flight.operating_carrier_name %></p>
            <p>Рейс <%= flight.operating_carrier_iata %>&nbsp;<%= flight.flight_number %> <%= flight.departure.city.name %> — <%= flight.arrival.city.name %></p>
            <p>Самолёт <%= flight.equipment_type_name %></p>
            <p><%= human_duration(flight.duration) %> в пути</p>
        </div>
    </td>
    <td></td>
    <td class="point<%= ' dpt' if flight_index == segment.flights.length - 1 %>" colspan="2">
        <div class="time">
            <h5><%= fmt_time( flight.arrival_time ) %></h5>
            <% if next_date_arrival %>
            <p><%= human_date( flight.arrival_date ) %></p>
            <% end %>
            <!--<p>CEST</p>-->
        </div>
        <div class="info">
            <h6>Прилёт <%= flight.arrival.city.case_to %><%= ' на следующий день' if next_date_arrival %></h6>
            <p>Аэропорт <%= flight.arrival_name %><% if flight.arrival_term %>, терминал&nbsp;<%= flight.arrival_term %><% end %></p>
            <% layover = segment.layover_durations[flight_index] %>
            <% if layover %>
            <p><%= human_duration(layover) %> между рейсами</p>
            <% end %>
            <ul class="warnings">
            <% if layover %>
                <% if layover < 90 %>
                    <li class="schange">Короткая стыковка</li>
                <% elsif layover > 240 %>
                    <li class="lchange">Длинная стыковка</li>
                <% end %>
            <% end %>
            <% if flight_index < segment.flights.length - 1 %>
                <% next_flight = segment.flights[flight_index + 1] %>
                <% if next_flight.departure_name != flight.arrival_name %>
                    <li class="diffad">Разные аэропорты прилёта и вылета</li>
                <% elsif next_flight.departure_term != flight.arrival_term %>
                    <li class="diffad">Разные терминалы прилёта и вылета</li>
                <% end %>
            <% end %>
            </ul>
            <!--<p class="timezone">Разница во времени с Москвой — минус 2 часа</p>-->
        </div>
    </td>
</tr>
<% end %>
