<tr class="<%= segment_counter == 0 ? 'ow' : 'rt' %>">
    <% if variant.common_carrier && variant.segments.length > 1 %>
        <% if segment_counter == 0 %>
            <td rowspan=<%= variant.segments.length %> class="extra g-middle">
                <p style="background:url(<%= segment.marketing_carrier.icon_url %>) no-repeat"><%= segment.marketing_carrier_name %>
        <% end %>
    <% else %>
        <td class="extra">
            <p style="background:url(<%= segment.marketing_carrier.icon_url %>) no-repeat"><%= segment.marketing_carrier_name %>
    <% end %>

    <td class="dpt">
        <div class="direction"><%= segment_counter == 0 ? 'туда' : 'обратно' %></div>
        <h3><%= fmt_time( segment.departure_time ) %><!--<%= fmt_date( segment.departure_date ) %>--></h3>
        <h4><%= segment.departure.city.name %>, <%= segment.departure_name %></h4>
        <% if segment.departure_term %>
            <h5 class="light">Терминал <%= segment.departure_term %></h5>
        <% end %>

    <td class="fly">
        <% for flight, layover in segment.flights.zip(segment.layover_durations) %>
            <a href=# title="Рейс <%= flight.operating_carrier_iata %>&nbsp;<%= flight.flight_number %> <%= flight.departure.city.name %> &mdash; <%= flight.arrival.city.name %>, <%= human_duration(flight.duration) %> в пути на <%= flight.equipment_type_name %>"></a>
            <% if layover %>
                <a href=# title="Пересадка <%= flight.arrival.city.case_in.split(' ', 2)[0] %> <%= flight.arrival.city.case_in.split(' ', 2)[1] %> длиной <%= human_duration(layover) %>" class="change"></a>
            <% end %>
        <% end %>

        <h5><%= human_duration(segment.total_duration) %> в пути</h5>

        <% for flight, layover in segment.flights.zip(segment.layover_durations) %>
            <% if layover %>
                <h5 class="light">пересадка <%= human_duration(layover) %></h5>
            <% end %>
        <% end %>

    <td class="arv">
        <h3><%= fmt_time( segment.arrival_time ) %><!--<%= fmt_date( segment.arrival_date ) %>--></h3>
        <h4><%= segment.arrival.city.name %>, <%= segment.arrival_name %></h4>
        <% if segment.arrival_term %>
            <h5 class="light">Терминал <%= segment.arrival_term %></h5>
        <% end %>

    <% if variant.common_layovers && variant.segments.length > 1 %>
        <% if segment_counter == 0 %>
            <td rowspan=<%= variant.segments.length %> class="extra extra-info g-middle">
                <% if segment.layovers? %>
                    <%= segment.layover_count %>&nbsp;<%= Russian.pluralize(segment.layover_count, 'пересадка', 'пересадки', 'пересадок') %>
                    <% for flight, layover in segment.flights.zip(segment.layover_durations) %>
                        <% if layover %>
                            <br/>
                            <%= flight.arrival.city.case_in %>
                        <% end %>
                    <% end %>
                <% end %>
        <% end %>
    <% else %>
        <td class="extra extra-info">
            <% if segment.layovers? %>
                <%= segment.layover_count %>&nbsp;<%= Russian.pluralize(segment.layover_count, 'пересадка', 'пересадки', 'пересадок') %>
                <% for flight, layover in segment.flights.zip(segment.layover_durations) %>
                    <% if layover %>
                        <br/>
                        <%= flight.arrival.city.case_in %>
                    <% end %>
                <% end %>
            <% end %>
    <% end %>

