<% common_cabin = segment_cabins && segment_cabins.length == 1 && segment_cabins[0] %>
<tr class="segment-<%= segment_counter + 1 %>">
    <td></td>
    <th colspan="5"><strong class="direction"><% if @search.rt && segment_counter == 1 %>Обратный перелёт<% else %>Перелёт <%= raw segment.departure.city.case_from.gsub(/ /, '&nbsp;') %> <%= raw segment.arrival.city.case_to.gsub(/ /, '&nbsp;') %><% end %><% if common_cabin %> <span class="cabin"><%= human_cabin_ins(common_cabin) %></span><% end %></strong><% if segment.layovers? %> с&nbsp;<%= human_layovers_count(segment.layover_count) %> <%= layovers_in(segment.flights[0..-2]) %><% end %></th>
</tr>
<% segment.flights.each_with_index do |flight, flight_index| %>
<% next_date_arrival = (flight_index == segment.flights.length - 1 && flight.arrival_date != segment.flights[0].departure_date) %>
<tr class="segment-<%= segment_counter + 1 %><%= ' last' if flight_index == segment.flights.length - 1 %>">
    <td></td>
    <td class="point lpoint<%= ' arv' if flight_index == 0 %>" colspan="2">
        <div class="time">
            <h5><%= fmt_time( flight.departure_time ) %></h5>
            <% if flight_index == 0 %>
            <p><%= human_date( flight.departure_date ) %></p>
            <% end %>
        </div>
        <div class="info">
            <h6>Вылет <%=nbsp flight.departure.city.case_from %></h6>
            <p>Аэропорт <%= flight.departure_name %><% if flight.departure_term %>, терминал&nbsp;<%= flight.departure_term %><% end %></p>
            <p>Авиакомпания <%= flight.operating_carrier_name %></p>
            <p>Рейс <%= flight.marketing_carrier_iata %>&nbsp;<%= flight.flight_number %> <%= flight.departure.city.name %> — <%= flight.arrival.city.name %></p>
            <p>Самолёт <%= flight.equipment_type_name %></p>
            <p><%= human_duration(flight.duration) %> в&nbsp;пути</p>
            <% if segment_cabins && !common_cabin && segment_cabins[flight_index] %>
                <p><span class="cabin"><%= human_cabin_nom(segment_cabins[flight_index]) %></span></p>
            <% end %>
        </div>
    </td>
    <td></td>
    <td class="point rpoint<%= ' dpt' if flight_index == segment.flights.length - 1 %>" colspan="2">
        <div class="time">
            <h5><%= fmt_time( flight.arrival_time ) %></h5>
            <% if next_date_arrival %>
            <p><%= human_date( flight.arrival_date ) %></p>
            <% end %>
        </div>
        <div class="info">
            <h6>Прилёт <%=nbsp flight.arrival.city.case_to %><% if next_date_arrival %> на&nbsp;следующий день<% end %></h6>
            <p>Аэропорт <%= flight.arrival_name %><% if flight.arrival_term %>, терминал&nbsp;<%= flight.arrival_term %><% end %></p>
            <% layover = segment.layover_durations[flight_index] %>
            <% if layover %>
                <p><%= human_duration(layover) %> между рейсами</p>
            <% end %>
            <ul class="warnings">
            <% if layover %>
                <% if layover < 121 %>
                    <li class="schange">Короткая стыковка</li>
                <% elsif layover > 240 %>
                    <li class="lchange">Длинная стыковка</li>
                <% end %>
            <% end %>
            <% if flight_index < segment.flights.length - 1 %>
                <% next_flight = segment.flights[flight_index + 1] %>
                <% if next_flight.departure_name != flight.arrival_name %>
                    <li class="diffad">Разные аэропорты прилёта и вылета</li>
                <% elsif next_flight.departure_term != flight.arrival_term %>
                    <li class="diffad">Разные терминалы прилёта и вылета</li>
                <% end %>
            <% end %>
            </ul>
            <% techstops = flight.technical_stops %>
            <% unless techstops.empty? %>
                <p class="tstops">Рейс выполняется с <%= techstops.length == 1 ? 'промежуточной посадкой' : 'промежуточными посадками' %> <%= technical_stops_in(techstops) %></p>
            <% end %>
        </div>
    </td>
</tr>
<% end %>
