<% carrier = primary_carrier(segment) %>
<div class="os-summary"
    data-carrier="<%= carrier.iata %>"
    data-flights="<%= flight_codes(segment) %>"
    data-dpt="<%= time_in_minutes(segment.departure_time) %>"
    data-duration="<%= segment.total_duration %>"
>
<div class="oss-carrier">
    <img class="ossc-icon" src="<%= carrier.icon_url %>">
    <div class="ossc-title">
        <span class="ossct-text" title="<%= carrier.name %>"><%= carrier.name %></span>
        <span class="ossct-overlay"></span>
    </div>
</div>
<div class="wrap oss-wrap">
    <div class="oss-dpt">
        <h5 class="oss-time"><%= fmt_time(segment.departure_time) %></h5>
        <p class="oss-airport"><%= airport_and_term(segment.departure, segment.departure_term) %></p>
    </div>
    <div class="oss-parts">
        <ul class="oss-bar">
        <% for part in segment_parts(segment) %>
            <li class="ossb-<%= part[:type] %>" title="<%= raw part[:title] %>" style="width: <%= (part[:duration] * duration_scale).to_i %>px;">
        <% end %>
        </ul>
        <p class="oss-duration"><%= short_human_duration(segment.total_duration) %></p>
        <% if segment.layovers? %>
            <p class="ossi-m"><%= raw human_layovers_medium(segment) %></p>
            <p class="ossi-l"><%= raw human_layovers_large(segment) %></p>
        <% else %>
            <p class="ossi-m">прямой, <%= segment.flights.first.equipment_type_name %></p>
        <% end %>
    </div>
    <div class="oss-arv">
        <h5 class="oss-time"><%= fmt_time(segment.arrival_time) %></h5>
        <p class="oss-airport"><%= airport_and_term(segment.arrival, segment.arrival_term) %></p>
    </div>
</div>
<div class="oss-line"></div>
</div>
