<table class="offer-variant g-none" data-summary='<%= raw variant_summary || variant.summary.to_json %>' data-booking="query_key=<%= @query_key %>&recommendation=<%= recommendation.serialize(variant) %>">
<col width="118">
<col width="140">
<col width="85">
<col width="85">
<col width="140">
<col width="109">
<thead>
<tr>
    <th class="book"><% if recommendation.sellable? %><a href="#" class="a-button">Выбрать</a><% end %></th>
    <td class="cost" colspan="5"><dl><%= decorated_price recommendation.price_total, 'dt', 'dd' %></dl></td>
</tr>
</thead>

<tbody class="summary">
<% variant_carriers = primary_operating_carriers(variant) %>
<% common_carrier = variant.segments.length > 1 && variant_carriers.map{|vc| vc['name'] }.uniq.length == 1 %>
<% variant.segments.each_with_index do |segment, segment_counter| %>
<tr class="segment-<%= segment_counter + 1 %>">
    <% if common_carrier %>
        <% if segment_counter == 0 %>
            <% if variant.segments.length > 2 %>
            <td class="carrier common-mw" rowspan="<%= variant.segments.length * 2 %>">
                <p><img src="<%= variant_carriers[0]['icon_url'] %>" alt=""></p>
                <p><%= variant_carriers[0]['name'] %></p>
            </td>
            <% else %>
            <td class="carrier common" rowspan="2">
            <table class="shift"><tr><td>
                <p><img src="<%= variant_carriers[0]['icon_url'] %>" alt=""></p>
                <p><%= variant_carriers[0]['name'] %></p>
            </td></tr></table>
            </td>
            <% end %>
        <% elsif variant.segments.length < 3 %>
        <td rowspan="2"></td>
        <% end %>
    <% else %>
    <td class="carrier" rowspan="2">
        <p><img src="<%= variant_carriers[segment_counter]['icon_url'] %>" alt=""></p>
        <p><%= variant_carriers[segment_counter]['name'] %></p>
    </td>
    <% end %>
    <td class="dpt">
        <h5><%= fmt_time( segment.departure_time ) %><% if @search.rt %><span class="direction"> — <%= segment_counter == 0 ? 'туда' : 'обратно' %></span><% end %></h5>
        <h6><%= segment.departure.city.name %></h6>
        <% unless segment.departure.equal_to_city %>
            <p><%= segment.departure_name %></p>
        <% end %>
        <% if segment.departure_term %>
            <p class="note">Терминал&nbsp;<%= segment.departure_term %></p>
        <% end %>
    </td>
    <td class="trip" colspan="2">
        <ul class="parts wrap">
        <% layover_human_durations = [] %>
        <% for flight, layover in segment.flights.zip(segment.layover_durations) %>
            <li class="flight" title="Перелёт <%= flight.departure.city.case_from %> <%= flight.arrival.city.case_to %>"></li>
            <% if layover %>
                <% layover_human_durations << human_duration(layover) %>
                <li class="layover<% if layover < 121 %> lovs<% elsif layover > 240 %> lovl<% end %>" title="Пересадка <%= flight.arrival.city.case_in %>, <%= human_duration(layover) %>"></li>
            <% end %>
        <% end %>
        </ul>
        <h6><%= human_duration(segment.total_duration) %> в&nbsp;пути</h6>
        <% unless layover_human_durations.empty? %>
            <p class="note"><%= raw layover_human_durations.to_sentence %> между&nbsp;рейсами</p>
        <% end %>
    </td>
    <td class="arv">
        <h5><%= fmt_time( segment.arrival_time ) %><% if segment.departure_date != segment.arrival_date %>&nbsp;<span class="arvdate"><%= human_date(segment.arrival_date) %></span><% end %></h5>
        <h6><%= segment.arrival.city.name %></h6>
        <% unless segment.arrival.equal_to_city %>
            <p><%= segment.arrival_name %></p>
        <% end %>
        <% if segment.arrival_term %>
            <p class="note">Терминал&nbsp;<%= segment.arrival_term %></p>
        <% end %>
    </td>
    <td class="changes" rowspan="2">
        <% if segment.layovers? %>
        <p>С <%= human_layovers_count(segment.layover_count) %> <%= layovers_in(segment.flights[0..-2]) %></p>
        <% end %>
        <% visible_cabins = variant_cabins[segment_counter].compact %>
        <% unless visible_cabins.empty? %>
            <p class="cnote"><span class="cabin"><%= human_cabin_nom(visible_cabins.first) %></span></p>
        <% end %>
    </td>
</tr>
<tr class="segment-<%= segment_counter + 1 %>">
    <td colspan="4" class="variants"></td>
</tr>
<% end %>
<tr class="bar">
    <td colspan="6">
        <div class="segment">
    
        </div>
    </td>
</tr>
<tr class="controls">
    <td></td>
    <td class="toggle" colspan="2">
    <div class="toggle-tab">
        <span class="link expand">Подробнее о перелёте</span>
        <span class="link collapse">Скрыть подробности</span>
    </div>
    </td>
    <td class="rules" colspan="3">
      <% if admin_user  %>
        <% variant_debug_info recommendation, variant %>
        <a href="#">Правила тарифа</a> (<%= recommendation.booking_classes.join(', ') %>)
      <% end %>
    </td>
</tr>
</tbody>

<tbody class="details">
<% variant.segments.each_with_index do |segment, segment_counter| %>
    <%= render :partial => 'segment_details', :locals => {:segment => segment, :variant => variant, :segment_counter => segment_counter, :segment_cabins => variant_cabins[segment_counter]} %>
<% end %>
<tr class="book">
    <th>
      <% if recommendation.sellable? %>
        <a href="#" class="a-button">Выбрать</a>
      <% end %>
    </th>
    <td colspan="6">
    <% bonus_programs = recommendation.validating_carrier.avaliable_bonus_programms %>
    <div class="valcarrier">Билет оформляет авиакомпания <%= recommendation.validating_carrier.name %>.<% if recommendation.validating_carrier.alliance %> Применяются бонусные программы альянса <span class="link alliance" data-details="<%= bonus_programs.map{|bp| bp.name}.to_sentence %>"><%= recommendation.validating_carrier.alliance.name %></span>.<% end %></div>
    <dl class="sum" data-value="<%= recommendation.price_total.round.to_i %>">
        <dt>Итого <strong><%= human_price(recommendation.price_total) %></strong><%= ' за всех' if @search.people_total > 1 %> со всеми сборами</dt>
        <dd>Тариф — <%= human_price(recommendation.price_fare) %>, налоги и сборы — <%= human_price(recommendation.price_tax_and_markup) %></dd>
    </dl>
    </td>
</tr>
</tbody>
</table>
