<table class="offer-variant<%= ' g-none' if variant_index > 0 %>" data-departures="<%= segments_departure variant %>" data-options='<%= variant.summary.to_json %>'>
<colgroup>
    <col width="118">
    <col width="85">
    <col width="55">
    <col width="83">
    <col width="83">
    <col width="140">
    <col width="111">
</colgroup>
<thead>
    <tr>
        <td class="cost">
            <dl>
                <dt><%= recommendation.price_total.to_i.to_s.sub(/(\d)(\d{3})$/, '\1<span class="digit">\2</span>') %></dt>
                <dd><%= Russian.pluralize(recommendation.price_total.to_i, 'рубль', 'рубля', 'рублей') %></dd>
            </dl>
        </td>
        <td class="booking">
            <a href="/booking/?flight_codes=<%= variant.flight_codes.join('_') %>" class="a-button" target="booking" title="Мы предложим вам самостоятельно выписать себе билеты. Приготовьте, пожалуйста, (загран)паспорт или иные подходящие документы, по которым вы полетите.">Купить</a>
        </td>
        <% if recommendation.variants.length > 1 %>
        <% other_variants = variant_summary(recommendation, variant) %>
        <% unless other_variants.blank? %>
        <td class="variants" colspan="5">
            <h6>Другие варианты вылета по такой же цене:</h6>
            <p class="b-pseudo"><%= other_variants %></p>
        </td>
        <% else %>
        <td colspan="5"></td>
        <% end %>
        <% end %>
    </tr>
</thead>
<tbody class="summary">
    <% variant.segments.each_with_index do |segment, segment_counter| %>
        <%= render :partial => 'segment_summary', :locals => {:segment => segment, :variant => variant, :segment_counter => segment_counter} %>
    <% end %>
    <tr>
        <td></td>
        <td class="toggle" colspan="3">
            <span class="b-pseudo expand"><u>Подробнее о перелёте</u></span>
            <span class="b-pseudo collapse"><u>Скрыть подробности</u></span>
        </td>
        <td class="rules" colspan="3">
            <%= 'Не можем продать' unless recommendation.sellable? %>
            <a href="#">Правила тарифа</a> (VRUAFL) 
        </td>
    </tr>
</tbody>
<tbody class="details">
    <% variant.segments.each_with_index do |segment, segment_counter| %>
        <%= render :partial => 'segment_details', :locals => {:segment => segment, :variant => variant, :segment_counter => segment_counter} %>
    <% end %>
    <tr class="booking">
        <td></td>
        <td colspan="6">
        <a href="/pnr_form/new/?flight_codes=<%= variant.flight_codes.join('_') %>" class="a-button" target="booking" title="Мы предложим вам самостоятельно выписать себе билеты. Приготовьте, пожалуйста, (загран)паспорт или иные подходящие документы, по которым вы полетите.">Купить</a>
            <dl class="sum">
                <dt>Итого <strong><%= human_price(recommendation.price_total.to_i) %></strong> за всех со всеми сборами</dt>
                <dd>Тариф — <%= human_price(recommendation.prices[0].to_i) %>, налоги и сборы — <%= human_price(recommendation.prices[1].to_i) %></dd>
            </dl>
        </td>
    </tr>    
</tbody>
</table>
