%numberOfUnit
  %unitNumberDetail
    %numberOfUnits= adults + children
    %typeOfUnit PX
  %unitNumberDetail
    %numberOfUnits 200
    %typeOfUnit RC
- 1.upto(adults) do |n|
  %paxReference
    %ptc ADT
    %traveller
      %ref=n
- 1.upto(children) do |n|
  %paxReference
    %ptc CH
    %traveller
      %ref= n+adults

%fareOptions
  %pricingTickInfo
    %pricingTicketing
      %priceType CUC
  %feeIdDescription
    %feeId
      %feeType SORT
      %feeIdNumber FEE
  %conversionRate
    %conversionRateDetail
      %currency RUB

- if nonstop
  %travelFlightInfo
    %flightDetail
      %flightType N

%itinerary
  %requestedSegmentRef
    %segRef 1
  %departureLocalization
    %departurePoint
      %locationId= from_iata
  %arrivalLocalization
    %arrivalPointDetails
      %locationId= to_iata
  %timeDetails
    %firstDateTimeDetail
      %date= date1
    %rangeOfDate
      %rangeQualifier C
      %dayInterval= day_interval
- if rt
  %itinerary
    %requestedSegmentRef
      %segRef 2
    %departureLocalization
      %departurePoint
        %locationId= to_iata
    %arrivalLocalization
      %arrivalPointDetails
        %locationId= from_iata
    %timeDetails
      %firstDateTimeDetail
        %date= date2
      %rangeOfDate
        %rangeQualifier C
        %dayInterval= day_interval
