<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="utf-8">
    <title>Страховки</title>
    <meta name="description" content="Eviterra.com — простой, удобный и красивый способ найти и купить авиабилет. Поиск, выбор рейса и бронирование онлайн. Цены на авиабилеты. +7 495 660-35-20">
    <meta name="keywords" content="авиабилет, авиакасса, авиабилеты купить, бронирование, выбрать рейс, авиарейс, перелет, дешевые авиабилеты, цены на билеты, онлайн бронирование, эвитерра, eviterra, спецпредложения, авиакомпании, расписание рейсов, маршрут, агентство, турагентство, путешествия">
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag 'static/all' %>
    <%= javascript_include_tag 'static' %>
</head>
<body>
<div class="page-wrapper">

<%= render 'shared/header' %>

<iframe style="border: none; width: 100%; height: 1200px;" src="//partners.cherehapa.makingit.ru/?partner=11"></iframe>

<div class="page-buffer"></div>
</div>
<%= render 'shared/footer' %>
</body>
</html>