<% as_table ||= false %>
<% strype = cycle('background-color: #fff', 'background-color: #ddd') %>
<% if as_table %>
<table>
  <tr style="<%= strype %>; text-align:right; <%= 'background-color: #fdd' if commission.disabled? %>">
    <td width="4%">
      <%= link_to "#{commission.carrier} ##{commission.number}", admin_commissions_path(:anchor => "#{commission.carrier}_#{commission.number}"), :id => "#{commission.carrier}_#{commission.number}" %>
    </td>
    <td width="10%"> <%= commission.system %> </td>
    <td width="10%"> <%= commission.ticketing_method %> </td>
    <td width="10%" style="<%= 'color: blue' if commission.ticketing_method == 'direct' %>"     title="<%= commission.agent_comments %>"> <%= commission.agent %> </td>
    <td width="10%" style="<%= 'color: blue' if commission.ticketing_method == 'aviacenter' %>" title="<%= commission.subagent_comments %>"> <%= commission.subagent %> </td>
    <td width="10%" title="сбор агента 1%/2%"> <%= commission.consolidator %> </td>
    <td width="10%" style="<%= 'color:green' unless commission.discount.try(:zero?) %>" title="скидка"> <%= commission.discount %> </td>
    <td width="30%" style="color:red"> <%= "отключено #{reason_of_disability(commission)}" if commission.disabled? %> </td>
  </tr>
</table>
<% else %>
<table>
  <tr style="<%= strype %>">
    <td width="4%" style="<%= 'color: red' if commission.disabled? %>">
      <%= link_to "#{commission.carrier} ##{commission.number}", admin_commissions_path(:anchor => "#{commission.carrier}_#{commission.number}"), :id => "#{commission.carrier}_#{commission.number}" %>
    </td>
    <th width="48%">агентский договор</th>
    <th width="48%">субагентский договор</th>
  </tr>
  <tr style="<%= strype %>">
    <td></td>
    <th> <%= commission.agent %> </td>
    <th> <%= commission.subagent %> </td>
  </tr>
  <tr style="<%= strype %>">
    <td></td>
    <td> <%= raw (commission.agent_comments || '--').gsub("\n", "<br>") %> </td>
    <td> <%= raw (commission.subagent_comments || '--').gsub("\n", "<br>") %> </td>
  </tr>
  <tr style="<%= strype %>">
    <td></td>
    <td>
      <% if commission.no_commission %>
        <h3>прячем из поиска</h3>
      <% else %>
        <h3>правила</h3>
        <ul>
          <% if commission.disabled? %>
            <li style="color:red">продажа отключена <%= reason_of_disability(commission) %> </li>
          <% end %>
          <li> выписка <strong><%= commission.ticketing_method %></strong> (<%= commission.system %>) </li>
          <% unless commission.consolidator.try(:zero?) %>
            <li> авиацентр <strong><%= commission.consolidator %></strong> </li>
          <% end %>
          <% unless commission.blanks.try(:zero?) %>
            <li> за бланки <strong><%= commission.blanks %></strong> </li>
          <% end %>
          <% unless commission.discount.try(:zero?) %>
            <li> скидка <strong><%= commission.discount %></strong> </li>
          <% end %>
          <% if commission.classes.present? %>
            <li> классы <%= commission.classes.join(' ') %> </li>
          <% end %>
          <% if commission.subclasses %>
            <li> подклассы <%= commission.subclasses.join(' ') %> </li>
          <% end %>
          <% if commission.interline && !commission.interline == :no %>
            <li> интерлайн: <%= commission.interline.inspect %></li>
          <% end %>
          <% if commission.routes.present? %>
            <li> маршруты <%= commission.routes.join(' ') %> </li>
          <% end %>
          <% if commission.domestic %>
            <li> только внутренние авиаперевозки </li>
          <% end %>
          <% if commission.international %>
            <li> только международные авиаперевозки </li>
          <% end %>
          <% if commission.strt_date %>
            <li> работает c <%= commission.strt_date %></li>
          <% end %>
          <% if commission.expr_date %>
            <li> работает по <%= commission.expr_date %></li>
          <% end %>
          <% if commission.check %>
            <li>дополнительная сложная проверка предложения</li>
          <% end %>

          <% if commission.important %>
            <li> пытаемся применить раньше других комиссионных правил</li>
          <% end %>
          </ul>
        <% end %>


      <br>
      <br>

    </td>
    <td>
      <% if commission.examples.present? %>
        <h3>примеры</h3>
        <ul>
          <% commission.examples.each do |code, source| %>
            <li><%= code %></li>
          <% end %>
        </ul>
      <% end %>
    </td>
  </tr>
</table>
<% end %>
