<h2>Проверить маршрут</h2>
<form action="<%= check_admin_commissions_url %>" method="GET">
  перевозчик <input name="carrier" size=2 value="<%= params[:carrier] || @recommendation && @recommendation.validating_carrier_iata %>">,
  короткий код <input name="example" size=40 value="<%= params[:example] || @recommendation && @recommendation.short %>">
  <br>
  <input type="submit" value="Проверить">
</form>
<br>
<form action="<%= check_admin_commissions_url %>" method="GET">
  длинный код<br>
  <input name="code" size=120 value="<%= params[:code] || @recommendation && @recommendation.serialize %>"></br>
  <input type="submit" value="Проверить">
</form>
<hr>
