<p>валидирующий перевозчик:
<%= Carrier[@recommendation.validating_carrier_iata].name rescue '' %> (<%= @recommendation.validating_carrier_iata %>)</p>

 <table>
 <% @recommendation.journey.segments.each_with_index do |segment, seg_idx| %>
   <% segment.flights.each do |flight| %>
     <tr>
       <td width="2%"> <%= seg_idx + 1 %> </td>
       <td width="5%" align="right" > <%= flight.carrier_pair %> </td>
       <td width="5%"> <%= flight.flight_number if flight.flight_number != '9999' %> </td>
       <td width="20%">
         <%= flight.departure_iata %>,
         <%= flight.departure.city.name %>
       </td>
       <td width="20%">
         <%= flight.arrival_iata %>,
         <%= flight.arrival.city.name %>
       </td>
       <td>
         <%= @recommendation.booking_class_for_flight(flight) %> <%= {Y:"", W:"", M:"", C:"бизнес", F:"первый класс"}[@recommendation.cabin_for_flight(flight).to_sym] %>
       </td>
     </tr>
   <% end %>
 <% end %>
 </table>
