<% as_table ||= false %>
<% strype = cycle('background-color: #fff', 'background-color: #ddd') %>
<% if as_table %>
<table>
  <tr style="<%= strype %>; text-align:right; <%= 'background-color: #fdd' if rule.disabled? %>">
    <td width="4%">
      <%= link_to "#{rule.carrier} #{rule.ticketing_method} ##{rule.number}", admin_commissions_path(:anchor => "#{rule.carrier}_#{rule.number}"), :id => "#{rule.carrier}_#{rule.number}" %>
    </td>
    <td width="10%"> <%= rule.system %> </td>
    <td width="10%"> <%= rule.ticketing_method %> </td>
    <td width="10%" style="<%= 'color: blue' if rule.ticketing_method == 'direct' %>"     title="<%= rule.agent_comments %>"> <%= rule.agent %> </td>
    <td width="10%" style="<%= 'color: blue' if rule.ticketing_method == 'aviacenter' %>" title="<%= rule.subagent_comments %>"> <%= rule.subagent %> </td>
    <td width="10%" title="сбор агента 1%/2%"> <%= rule.consolidator %> </td>
    <td width="10%" style="<%= 'color:green' unless rule.discount.try(:zero?) %>" title="скидка"> <%= rule.discount %> </td>
    <td width="10%" style="<%= 'color:green' unless rule.our_markup.try(:zero?) %>" title="надбавка"> <%= rule.our_markup %> </td>
    <td width="26%" style="color:red"> <%= "отключено #{reason_of_disability(rule)}" if rule.disabled? %> </td>
  </tr>
</table>
<% else %>
<table>
  <tr style="<%= strype %>">
    <td width="4%" style="<%= 'color: red' if rule.disabled? %>">
      <%= link_to "#{rule.carrier} #{rule.ticketing_method} ##{rule.number}", admin_commissions_path(:anchor => "#{rule.carrier}_#{rule.number}"), :id => "#{rule.carrier}_#{rule.number}" %>
    </td>
    <th width="48%">агентский договор</th>
    <th width="48%">субагентский договор</th>
  </tr>
  <tr style="<%= strype %>">
    <td></td>
    <th> <%= rule.agent %> </td>
    <th> <%= rule.subagent %> </td>
  </tr>
  <tr style="<%= strype %>">
    <td></td>
    <td> <%= raw (rule.agent_comments || '--').gsub("\n", "<br>") %> </td>
    <td> <%= raw (rule.subagent_comments || '--').gsub("\n", "<br>") %> </td>
  </tr>
  <tr style="<%= strype %>">
    <td></td>
    <td>
      <% if rule.no_commission %>
        <h3>прячем из поиска</h3>
      <% else %>
        <h3>правила</h3>
        <ul>
          <% if rule.disabled? %>
            <li style="color:red">продажа отключена <%= reason_of_disability(rule) %> </li>
          <% end %>
          <li> выписка <strong><%= rule.ticketing_method %></strong> (<%= rule.system %>) </li>

          <% if rule.tour_code %>
            <li> tour code: <%= rule.tour_code %></li>
          <% end %>
          <% if rule.designator %>
            <li> designator: <%= rule.designator %></li>
          <% end %>

          <% unless rule.consolidator.try(:zero?) %>
            <li> авиацентр <strong><%= rule.consolidator %></strong> </li>
          <% end %>
          <% unless rule.blanks.try(:zero?) %>
            <li> за бланки <strong><%= rule.blanks %></strong> </li>
          <% end %>
          <% unless rule.discount.try(:zero?) %>
            <li> скидка <strong><%= rule.discount %></strong> </li>
          <% end %>
          <% unless rule.our_markup.try(:zero?) %>
            <li> надбавка <strong><%= rule.our_markup %></strong> </li>
          <% end %>
          <% if rule.classes.present? %>
            <li> классы <%= rule.classes.join(' ') %> </li>
          <% end %>
          <% if rule.subclasses %>
            <li> подклассы <%= rule.subclasses.join(' ') %> </li>
          <% end %>
          <% if rule.interline && rule.interline != [:no] %>
            <li> интерлайн: <%= rule.interline.every.to_s.to_sentence %></li>
          <% end %>
          <% if rule.routes.present? %>
            <li> маршруты <%= rule.routes.join(' ') %> </li>
          <% end %>
          <% if rule.domestic %>
            <li> только внутренние авиаперевозки </li>
          <% end %>
          <% if rule.international %>
            <li> только международные авиаперевозки </li>
          <% end %>
          <% if rule.check %>
            <li>дополнительная сложная проверка предложения</li>
          <% end %>

          <% if rule.important %>
            <li> пытаемся применить раньше других комиссионных правил</li>
          <% end %>
          </ul>
        <% end %>


      <br>
      <br>

    </td>
    <td>
      <% if rule.examples.present? %>
        <h3>примеры</h3>
        <ul>
          <% rule.examples.each do |example| %>
            <li><%= example.code %></li>
          <% end %>
        </ul>
      <% end %>
    </td>
  </tr>
</table>
<% end %>
