<% as_table ||= false %>
<% error ||= nil %>
<% examples ||= [] %>
<% highlight_error = proc {|kind| raw 'style="color:red"' if kind == error } %>
<% strype = cycle('background-color: #fff', 'background-color: #ddd') %>
<% if as_table %>
<table>
  <tr style="<%= strype %>; text-align:right; <%= 'background-color: #fdd' if rule.disabled? %>">
    <td width="10%">
      <%= link_to "#{rule.carrier} #{rule.ticketing_method} ##{rule.number}", admin_commissions_path(:anchor => "#{rule.carrier}_#{rule.number}"), :id => "#{rule.carrier}_#{rule.number}" %>
    </td>
    <td width="10%" style="<%= 'color: blue' if rule.ticketing_method == 'direct' %>" title="<%= rule.agent_comments %>"> <%= rule.agent %> </td>
    <td width="10%" style="<%= 'color: blue' if rule.ticketing_method != 'direct' %>" title="<%= rule.subagent_comments %>"> <%= rule.subagent %> </td>
    <td width="10%" title="сбор агента 1%/2%"> <%= rule.consolidator %> </td>
    <td width="10%" style="<%= 'color:green' unless rule.discount.try(:zero?) %>" title="скидка"> <%= rule.discount %> </td>
    <td width="10%" style="<%= 'color:green' unless rule.our_markup.try(:zero?) %>" title="надбавка"> <%= rule.our_markup %> </td>
    <td width="30%" style="color:red"> <%= "отключено #{reason_of_disability(rule)}" if rule.disabled? %> </td>
  </tr>
</table>
<% else %>
<table>
  <tr style="<%= strype %>">
    <th width="10%" style="<%= 'color: red' if rule.disabled? %>">
      <%= link_to "#{rule.carrier} #{rule.ticketing_method} ##{rule.number}", admin_commissions_path(:anchor => "#{rule.carrier}_#{rule.number}"), :id => "#{rule.carrier}_#{rule.number}" %> </th>
    <th width="10%" style="<%= 'color: cyan' if rule.ticketing_method == 'direct' %>" title="<%= rule.agent_comments %>">
      <%= rule.agent %> </th>
    <th width="10%" style="<%= 'color: cyan' if rule.ticketing_method != 'direct' %>" title="<%= rule.subagent_comments %>">
      <%= rule.subagent %> </th>
    <th width="10%" title="сбор агента 1%/2%">
      <%= rule.consolidator unless rule.consolidator.try(:zero?) %> </th>
    <th width="10%" style="<%= 'color:green' unless rule.discount.try(:zero?) %>" title="скидка">
      <%= rule.discount unless rule.discount.try(:zero?) %> </th>
    <th width="10%" style="<%= 'color:green' unless rule.our_markup.try(:zero?) %>" title="надбавка">
      <%= rule.our_markup unless rule.our_markup.try(:zero?) %> </th>
    <th width="10%">
      <% if rule.tour_code %>
        tour code: <%= rule.tour_code %>
      <% end %>
      <% if rule.designator %>
        designator: <%= rule.designator %>
      <% end %>
    </th>
    <th width="10%" style="color:red"> <%= rule.subagent - rule.discount + rule.our_markup %>
    <%# "отключено #{reason_of_disability(rule)}" if rule.disabled? %> </th>
  </tr>
  <tr style="<%= strype %>">
    <td colspan=4><h3>агентский договор</h3> <%= raw (rule.agent_comments || '--').gsub("\n", "<br>") %> </td>
    <td colspan=4><h3>субагентский договор</h3> <%= raw (rule.subagent_comments || '--').gsub("\n", "<br>") %> </td>
  </tr>
  <tr style="<%= strype %>">
    <td colspan=4>
        <h3>правила</h3>
        <ul>
          <% if rule.important %>
            <li> пытаемся применить раньше других комиссионных правил</li>
          <% end %>
          <% if rule.disabled? %>
            <li style="color:red">продажа отключена <%= reason_of_disability(rule) %> </li>
          <% end %>
          <% if rule.classes.present? %>
            <li <%= highlight_error[:classes] %>> классы: <%= rule.classes.join(' ') %> </li>
          <% end %>
          <% if rule.subclasses %>
            <li <%= highlight_error[:subclasses] %>> подклассы: <%= rule.subclasses.join(' ') %> </li>
          <% end %>
          <% if rule.interline %>
            <li <%= highlight_error[:interline] %>> интерлайн: <%= rule.interline.every.to_s.to_sentence %></li>
          <% end %>
          <% if rule.routes.present? %>
            <li <%= highlight_error[:routes] %>> маршруты: <%= rule.routes.join(' ') %> </li>
          <% end %>
          <% if rule.domestic %>
            <li <%= highlight_error[:geo] %>> только внутренние авиаперевозки </li>
          <% end %>
          <% if rule.international %>
            <li <%= highlight_error[:geo] %>> только международные авиаперевозки </li>
          <% end %>
          <% if rule.check %>
            <li <%= highlight_error[:check] %>>дополнительная сложная проверка предложения</li>
          <% end %>


          </ul>

    </td>
    <td colspan=4>
      <% provided_examples = examples.presence || (rule.examples || []).map(&:code) %>
      <% if provided_examples.present? %>
        <h3>примеры</h3>
        <ul>
          <% provided_examples.each do |example| %>
            <li><%= link_to(example, check_admin_commissions_url(example: example, carrier: rule.carrier), target: '_blank') %></li>
          <% end %>
        </ul>
      <% end %>
    </td>
  </tr>
</table>
<% end %>
