<p>
<% @commissions.every.carrier.uniq.sort.each do |carrier_code| %>
  <a href="#<%= carrier_code %>"><%= carrier_code %></a>
<% end %>
</p>
<hr>

<%= render 'form' %>

<% @commissions.group_by(&:carrier).each do |carrier_code, commissions| %>
  <h2 id="<%= carrier_code %>"><%= "(#{carrier_code})" %> <%= Carrier[carrier_code].name  rescue '' %></h2>
  <% commissions.each_with_index do |commission, idx| %>
    <%= render 'commission', :commission => commission, :number => idx+1 %>
  <% end %>
  <hr>
<% end %>
