<p style="text-align:right"><a href='/admin/orders/show_versions/<%=@item.id %>?_popup=true' class='iframe'>История изменений</a></p>
<div id="term">Терминал:
  <pre data-replace-with="<%= url_for :action => :pnr_raw, :id => @item.id %>"></pre>
</div>
<div>
  <strong>
    <%= @item.payment_status %> / <%= @item.ticket_status %>
    <br>
    <br>
  </strong>
</div>
<% if @item.code && @item.payment_status == 'not blocked' && @item.offline_booking? %>
<div id="pay_url">
URL для оплаты: <%= link_to edit_payment_url(:code => @item.code), edit_payment_url(:code => @item.code)%>
<% if @item.last_pay_time.try(:future?) %>
  действительна до <%= @item.last_pay_time.strftime("%d %b %Y, %H:%M") %>
<% else %>
  уже не действительна
<% end %>
</div>
<% end %>

<table><tr>
  <td><%= button_to 'Показать PNR', {:action => 'show_pnr', :id => @item.id} %> <%= link_to 'PNR EN', {:action => 'show_pnr', :id => @item.id, :lang => "EN"} %></td>
<% if @item.payment_status == 'blocked'  %>
  <td><%= button_to 'Charge', {:action => 'charge', :id => @item.id}, {:confirm => 'Списать деньги с карты? (возврат до двух месяцев!)'} %></td>
  <td><%= button_to 'Unblock', {:action => 'unblock', :id => @item.id}, {:confirm => 'разблокировать средства? (заблокировать их обратно уже не выйдет!)'} %></td>
<% end %>
<% if @item.payment_status == 'pending' %>
  <td><%= button_to 'Money received', {:action => 'money_received', :id => @item.id} %></td>
  <td><%= button_to 'No money received', {:action => 'no_money_received', :id => @item.id} %></td>
  <td><%= button_to 'дать оплатить картой', {:action => 'make_payable_by_card', :id => @item.id} %></td>
<% end %>
<% if @item.ticket_status == 'booked' %>
  <td><%= button_to 'Ticket', {:action => 'ticket', :id => @item.id}, {:confirm => 'сменить состояние на "ticketed"? (реальная выписка пока делается из терминала)'}%></td>
<% end %>
<% if @item.ticket_status == 'ticketed' && @item.source == 'sirena' %>
  <td><%= button_to 'Void', {:action => 'void', :id => @item.id}, {:confirm => 'отменить выписку (работает только в сирене, не снимает места!) ?'} %></td>
<% end %>
<% unless @item.ticket_status == 'canceled'  %>
  <td><%= button_to 'Cancel', {:action => 'cancel', :id => @item.id}, {:confirm => 'отменить бронирование?'} %></td>
<% end %>
<% if @item.ticket_status == 'ticketed' %>
  <td><%= button_to 'Обновить билеты', {:action => 'reload_tickets', :id => @item.id} %></td>
<% end %>
</tr> </table>

