<br>

<% @data.each do |day| %>

  <% if !day[:day_data].blank? %>
  <div style='float: left; width: 200px'>
    <h3><%= day[:title]%></h3>
    <% day[:day_data].each do |dest| %>
      <%= dest['from'] %> <%= display_rt_arrow(dest['rt']) %> <%= dest['to'] %> : <%= dest['search']['pricer']['total'] %> <br>
    <% end %>
  </div>
  <% end %>
  
<% end %>