<div class="filters">
  <form accept-charset="UTF-8" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>

  <div id="filters">
    <ul>
      <li><input autocomplete="off" class="daterangepicker" id="date" name="date" title="Создан" type="text" value="<%= params[:date]%>" /></li>
      <li><input data-disable-with="Sending data ..." type="submit" value="фильтр" /></li>
    </ul>
  </div>

  </form>
</div>

<br>


  <div style=''>
    <h3><%= @data[:title]%></h3>
    <p>Всего: <%= @data[:total_s] %> ; <%= @data[:total_e] %> ; <%= (@data[:total_e].to_f / @data[:total_s] * 100).round(2) %>%</p>
    <table>
        <thead>
        <tr>
            <th>Направление</th>
            <th>Всего</th>
            <% @partners.each do |partner|%>
            <th><%= partner %></th>
            <% end %>
        </tr>
        <% @data[:day_data].each_with_index do |dest, index| %>
        <tr style='color: #444; padding: 2px 2px;' class="<%= cycle("even", "odd") %>">
          <td>
          <%= index + 1 %>. <%= dest[0] %>
          </td>
          <td>
          <%= dest[1].nested('search.api.total') %>
        / <%= dest[1].nested('enter.api.total', '-') %>
        <% if dest[1].nested('enter.api.total') %>
          : <%= (dest[1].nested('enter.api.total').to_f / dest[1].nested('search.api.total') * 100).round(2) %>%
        <% end %>
          </td>

        <% @partners.each do |partner|%>
          <td>
          <%= dest[1].nested('search.api.'+partner+'.total', '-') %>/<%= dest[1].nested('enter.api.'+partner+'.total', '-') %>
          <% if dest[1].nested('enter.api.'+partner+'.total') %>
           : <%= (dest[1].nested('enter.api.'+partner+'.total').to_f / dest[1].nested('search.api.'+partner+'.total') * 100).round(2) %>%
          <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </div>
