<br>

<% @data.each do |day| %>

  <% if !day[:day_data].blank? %>
  <% counter = 0 %>
  <div style='float: left; width: 250px'>
    <h3><%= day[:title]%></h3>
    <p>Всего: <%= day[:total_s] %> ; <%= day[:total_e] %> ; <%= (day[:total_e].to_f / day[:total_s] * 100).round(2) %>%</p>
    <% day[:day_data].each do |dest| %>
      <% if !dest['search']['api'].blank? %>
      <% counter = counter + 1 %>
      <div style='color: #444; padding: 2px 2px;'>
        <%= counter%>. <%= dest['from'] %> <%= display_rt_arrow(dest['rt']) %> <%= dest['to'] %>
        ; <%= dest['search']['api']['total'] %>
        <% if !dest['enter'].blank? %>
        ; <%= dest['enter']['api']['total'] %>
        ; <%= (dest['enter']['api']['total'].to_f / dest['search']['api']['total'] * 100).round(2) %>%
        <% else %>
        ; - ; -
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
  <% end %>
  
<% end %>