%travelProductIdent
  %productDetails
    %departureDate= departure_date
  %boardpointDetail
    %departureCityCode= departure_iata
  %offPointDetail
    %arrivalCityCode= arrival_iata
  %companyIdentification
    %marketingAirlineCode= marketing_carrier_iata
  %flightIdentification
    %flightNumber= flight_number
