%travelProductIdent
  %productDetails
    %departureDate= flight.departure_date
  %boardpointDetail
    %departureCityCode= flight.departure_iata
  %offPointDetail
    %arrivalCityCode= flight.arrival_iata
  %companyIdentification
    %marketingAirlineCode= flight.marketing_carrier_iata
  %flightIdentification
    %flightNumber= flight.flight_number
    - if booking_class
      %classOfService= booking_class
