%messageDetails
  %messageFunctionDetails
    %businessFunction 1
    %messageFunction 741
    %responsibleAgency 1A
    %additionalMessageFunction 170
%currencyOverride
  %conversionRateDetails
    %currency RUB
-# Non corporate Unifares and Public fares
%corporateFareInfo
  %corporateFareIdentifiers
    %fareQualifier UP
%passengersGroup
  %segmentRepetitionControl
    %segmentControlDetails
      %quantity= 1
      %numberOfUnits= people_count[:adults]
  %travellersID
    - 1.upto(people_count[:adults]) do |n|
      %travellerDetails
        %measurementValue= n
  %ptcGroup
    %discountPtc
      %valueQualifier ADT
- if people_count[:children] > 0
  %passengersGroup
    %segmentRepetitionControl
      %segmentControlDetails
        %quantity= 2
        %numberOfUnits= people_count[:children]
    %travellersID
      - 1.upto(people_count[:children]) do |n|
        %travellerDetails
          %measurementValue= n + people_count[:adults]
    %ptcGroup
      %discountPtc
        %valueQualifier CH
- if people_count[:infants] > 0
  %passengersGroup
    %segmentRepetitionControl
      %segmentControlDetails
        %quantity= 3
        %numberOfUnits= people_count[:infants]
    %travellersID
      - 1.upto(people_count[:infants]) do |n|
        %travellerDetails
          %measurementValue= n + people_count[:adults] + people_count[:children]
    %ptcGroup
      %discountPtc
        %valueQualifier INF
-#%cabinPreferenceOption
  %preferenceLevel
    %productDetailsQualifier FC
  %cabinPreference
    %genericDetails
      %cabinClass 1
%pricingOptionsGroup
  %pricingDetails
    %companyDetails
      %marketingCompany= validating_carrier
%pricingOptionsGroup
  %pricingDetails
    %priceTicketDetails
      -# list of lower fares
      %indicators M
      -# Request Electronic ticket fares
      %indicators E
      -# No split PNR (we can't use multi-ticketing yet)
      %indicators NS
%tripsGroup
  %originDestination
  -flights.each do |fl|
    %segmentGroup
      %segmentInformation
        %flightDate
          %departureDate= fl.departure_date
        %boardPointDetails
          %trueLocationId= fl.departure_iata
        %offpointDetails
          %trueLocationId= fl.arrival_iata
        %companyDetails
          %marketingCompany= fl.marketing_carrier_iata
        %flightIdentification
          %flightNumber= fl.flight_number
          %bookingClass= booking_class_for_flight fl
