%numberOfUnit
  %unitNumberDetail
    %numberOfUnits= people_count[:adults] + people_count[:children]
    %typeOfUnit PX
  %unitNumberDetail
    %numberOfUnits 200
    %typeOfUnit RC

%paxReference
  %ptc ADT
  - 1.upto(people_count[:adults]) do |n|
    %traveller
      %ref=n
- if people_count[:children] > 0
  %paxReference
    %ptc CH
    - 1.upto(people_count[:children]) do |n|
      %traveller
        %ref= n+people_count[:adults]
- if people_count[:infants] > 0
  %paxReference
    %ptc INF
    - 1.upto(people_count[:infants]) do |n|
      %traveller
        %ref= n
        %infantIndicator 1

%fareOptions
  %pricingTickInfo
    %pricingTicketing
      -# currency conversion override. is it still needed?
      %priceType CUC
      -# (only?) etickets
      %priceType ET
      -# public fares
      %priceType RP
      -# unifare
      %priceType RU
  %feeIdDescription
    %feeId
      %feeType SORT
      %feeIdNumber FEE
  %conversionRate
    %conversionRateDetail
      %currency RUB

%travelFlightInfo
  -if cabin
    %cabinId
      %cabinQualifier MC
      %cabin= cabin
  %companyIdentity
    %carrierQualifier W
    -# FIXME нужно нормально получать список подходящих авиакомпаний в модели
    - Carrier.non_commissioned_iatas.each do |iata|
      %carrierId= iata
  - if nonstop
    %flightDetail
      %flightType N

-segments.each_with_index do |segment, i|
  %itinerary
    %requestedSegmentRef
      %segRef= i+1
    %departureLocalization
      -unless segment.from_country_or_region?
        %departurePoint
          %locationId= segment.from_iata
      -else
        - segment.from_as_object.main_city_iatas.each do |code|
          %depMultiCity
            %locationId= code
    %arrivalLocalization
      -unless segment.to_country_or_region?
        %arrivalPointDetails
          %locationId= segment.to_iata
      -else
        - segment.to_as_object.main_city_iatas.each do |code|
          %arrivalMultiCity
            %locationId= code
    %timeDetails
      %firstDateTimeDetail
        %date= segment.date
      %rangeOfDate
        %rangeQualifier C
        %dayInterval= 3#day_interval

