-if number
  %reservationInfo
    %reservation
      %controlNumber= number
%pnrActions
  - option_codes.each do |option_code|
    %optionCode= option_code

%cancelElements

  - if itinerary
    %entryType I

  - else
    %entryType E

    - Array(element).each do |number|
      %element
        %identifier OT
        %number= number

    - Array(passenger).each do |number|
      %element
        %identifier PT
        %number= number

    - Array(segment).each do |number|
      %element
        %identifier ST
        %number= number
