-# https://webservices.amadeus.com/extranet/structures/viewMessageStructure.do?id=1325&serviceVersionId=1497
-# FIXME куда-то это надо вынести
- action_codes = {:NOP => 0, :ET => 10, :ER => 11, :ETK => 12, :ERK => 13, :EF => 14, :ETX => 15, :ERX => 16, :IG => 20, :IR => 21, :STOP => 267, :WARNINGS => 30, :SHORT => 50}

-if action
  %pnrActions
    %optionCode= action_codes[action] || raise "unknown action_code #{action}"
    %optionCode= action_codes[:SHORT]
-else
  %pnrActions
    %optionCode action_codes[:ER]
  - adults.each_with_index do |person, index|
    %travellerInfo
      %elementManagementPassenger
        %reference
          %qualifier PR
          %number= index + 1
        %segmentName NM
      %passengerData
        %travellerInformation
          %traveller
            %surname= person.last_name
            %quantity= (index < people_count[:infants]) ? 2 : 1
          %passenger
            %firstName= person.first_name
            - if index < people_count[:infants]
              %type ADT
              %infantIndicator 3
      -if index < people_count[:infants]
        %passengerData
          %travellerInformation
            %traveller
              %surname= infants[index].last_name
            %passenger
              %firstName= infants[index].first_name
              %type INF
          %dateOfBirth
            %dateAndTimeDetails
              %date= infants[index].birthday.strftime('%d%b%y').upcase
  - children.each_with_index do |person, index|
    %travellerInfo
      %elementManagementPassenger
        %reference
          %qualifier PR
          %number= index + 1 + people_count[:adults]
        %segmentName NM
      %passengerData
        %travellerInformation
          %traveller
            %surname= person.last_name
            %quantity 1
          %passenger
            %firstName= person.first_name
            %type CHD
        %dateOfBirth
          %dateAndTimeDetails
            %date= person.birthday.strftime('%d%b%y').upcase

  -if flights.present?
    %originDestinationDetails
      %originDestination
        -# %origin LGW
        -# %destination FCO
      - flights.each_with_index do |flight, index|
        %itineraryInfo
          %elementManagementItinerary
            %reference
              %qualifier SR
              %number= index + 1
            %segmentName AIR
          %airAuxItinerary
            %travelProduct
              %product
                %depDate= flight.departure_date
              %boardpointDetail
                %cityCode= flight.departure_iata
              %offpointDetail
                %cityCode= flight.arrival_iata
              %company
                %identification= flight.operating_carrier_iata
              %productDetails
                %identification= flight.flight_number
                %classOfService= flight.class_of_service
            %messageAction
              %business
                %function 1
            %relatedProduct
              %quantity= people.count
              %status NN
            %selectionDetailsAir
              %selection
                %option P10
  %dataElementsMaster
    %marker1
    %dataElementsIndiv
      %elementManagementData
        %reference
          %qualifier OT
          %number 2
        %segmentName RF
      %freetextData
        %freetextDetail
          %subjectQualifier 3
          %type P22
        %longFreetext LAH44
    %dataElementsIndiv
      %elementManagementData
        %reference
          %qualifier OT
          %number 3
        %segmentName TK
      %ticketElement
        %passengerType PAX
        %ticket
          -# подозреваю, что TKXL даты не просит
          -# - еще как просит
          %indicator XL
          %date= (Date.today + 5.day).strftime("%d%m%y")
    %dataElementsIndiv
      %elementManagementData
        %reference
          %qualifier OT
          %number 4
        %segmentName FP
      %formOfPayment
        %fop
          %identification CA
    - if validating_carrier
      %dataElementsIndiv
        %elementManagementData
          %reference
            %qualifier OT
            %number 5
          %segmentName FV
        %ticketingCarrier
          %carrier
            %airlineCode= validating_carrier
    -if phone.present?
      %dataElementsIndiv
        %elementManagementData
          %reference
            %qualifier OT
            %number 5
          %segmentName AP
        %freetextData
          %freetextDetail
            %subjectQualifier 3
            %type 3
          %longFreetext= phone
    %dataElementsIndiv
      %elementManagementData
        %reference
          %qualifier OT
          %number 6
        %segmentName AP
      %freetextData
        %freetextDetail
          %subjectQualifier 3
          %type 6
        %longFreetext= '+7(495)6603520'#наш телефон
    - if email.present?
      %dataElementsIndiv
        %elementManagementData
          %reference
            %qualifier OT
            %number 7
          %segmentName AP
        %freetextData
          %freetextDetail
            %subjectQualifier 3
            %type P02
          %longFreetext= email
    - if commission
      %dataElementsIndiv
        %elementManagementData
          %reference
            %qualifier OT
            %number 8
          %segmentName FM
        %commission
          %commissionInfo
            -if commission.agent_percentage?
              %percentage= commission.agent_value
            -else
              %amount= commission.agent_value
