-# https://webservices.amadeus.com/extranet/structures/viewMessageStructure.do?id=1325&serviceVersionId=1497
-#FIXME нужно распилить на 2 шаблона
-if pnr_action && !adults
  %pnrActions
    %optionCode= action_codes[pnr_action] || raise("unknown action_code #{pnr_action}")
    -# ошибка для ET IR, никакого эффекта для ER, IG
    -# %optionCode= action_codes[:SHORT]
-else
  %pnrActions
    %optionCode= action_codes[:ER]
  - adults.each_with_index do |person, index|
    %travellerInfo
      %elementManagementPassenger
        %reference
          %qualifier PR
          %number= index + 1
        %segmentName NM
      %passengerData
        %travellerInformation
          %traveller
            %surname= person.last_name
            %quantity= person.associated_infant ? 2 : 1
          %passenger
            %firstName= person.first_name_with_code
            - if person.associated_infant
              %type ADT
              %infantIndicator 3
      -if person.associated_infant
        %passengerData
          %travellerInformation
            %traveller
              %surname= person.associated_infant.last_name
            %passenger
              %firstName= person.associated_infant.first_name
              %type INF
          %dateOfBirth
            %dateAndTimeDetails
              %date= person.associated_infant.birthday.strftime('%d%b%y').upcase
  - children.each_with_index do |person, index|
    %travellerInfo
      %elementManagementPassenger
        %reference
          %qualifier PR
          %number= index + 1 + people_count[:adults]
        %segmentName NM
      %passengerData
        %travellerInformation
          %traveller
            %surname= person.last_name
            %quantity 1
          %passenger
            %firstName= person.first_name
            %type CHD
        %dateOfBirth
          %dateAndTimeDetails
            %date= person.birthday.strftime('%d%b%y').upcase

  %originDestinationDetails
    %originDestination
      -# %origin LGW
      -# %destination FCO
    -# CC "RU1AHK#{seats}MOW1#{monthplus10}", amadeus.pnr_archive
    %itineraryInfo
      %elementManagementItinerary
        %segmentName RU
      %airAuxItinerary
        %travelProduct
          %product
            %depDate= archive_date
          %boardpointDetail
            %cityCode MOW
          %company
            %identification 1A
        %messageAction
          %business
            %function 32
        %relatedProduct
          %quantity= seat_total
          %status HK

    -if recommendation.present?
      - recommendation.flights.each_with_index do |flight, index|
        %itineraryInfo
          %elementManagementItinerary
            %reference
              %qualifier SR
              %number= index + 1
            %segmentName AIR
          %airAuxItinerary
            %travelProduct
              %product
                %depDate= flight.departure_date
              %boardpointDetail
                %cityCode= flight.departure_iata
              %offpointDetail
                %cityCode= flight.arrival_iata
              %company
                %identification= flight.operating_carrier_iata
              %productDetails
                %identification= flight.flight_number
                %classOfService= recommendation.booking_class_for_flight(flight)
            %messageAction
              %business
                %function 1
            %relatedProduct
              %quantity= people.count
              %status NN
            %selectionDetailsAir
              %selection
                %option P10

  %dataElementsMaster
    %marker1
    %dataElementsIndiv
      %elementManagementData
        %segmentName RF
      %freetextData
        %freetextDetail
          %subjectQualifier 3
          %type P22
        %longFreetext LAH44

    %dataElementsIndiv
      %elementManagementData
        %segmentName TK
      %ticketElement
        %passengerType PAX
        %ticket
          %indicator XL
          %date= tk_xl_date
          %time= tk_xl_time

    %dataElementsIndiv
      %elementManagementData
        %segmentName FP
      %formOfPayment
        %fop
          %identification CA

    - if validating_carrier
      %dataElementsIndiv
        %elementManagementData
          %segmentName FV
        %ticketingCarrier
          %carrier
            %airlineCode= validating_carrier

    -if phone.present?
      %dataElementsIndiv
        %elementManagementData
          %segmentName AP
        %freetextData
          %freetextDetail
            %subjectQualifier 3
            %type 3
          %longFreetext= phone
      -# CC "OSYYCTCP#{@order_form.phone.gsub(/\D/, '' )}-M"
      %dataElementsIndiv
        %elementManagementData
          %segmentName OS
        %freetextData
          %freetextDetail
            %subjectQualifier 3
            %type 28
            %companyId YY
          %longFreetext= "#{phone.gsub(/\D/, '' )}-M"

    %dataElementsIndiv
      %elementManagementData
        %segmentName AP
      %freetextData
        %freetextDetail
          %subjectQualifier 3
          %type 6
        %longFreetext= '+7(495)6603520'#наш телефон
    - (adults + children).each_with_index do |person, index|

      -# CC 'SRDOCSYYHK1-P-...'
      %dataElementsIndiv
        %elementManagementData
          %segmentName SSR
        %serviceRequest
          %ssr
            %type DOCS
            %status HK
            %quantity 1
            %companyId YY
            %freetext= ssr_docs_text(person)[0...70]
            - if ssr_docs_text(person).length > 70
              %freetext= ssr_docs_text(person)[70...140]
        %referenceForDataElement
          %reference
            %qualifier PR
            %number= index+1

      -# CC 'SR FOID...'
      - if srfoid_needed?
        %dataElementsIndiv
          %elementManagementData
            %segmentName SSR
          %serviceRequest
            %ssr
              %type FOID
              %status HK
              %quantity 1
              %companyId= validating_carrier
              %freetext= "PP#{person.cleared_passport}"
          %referenceForDataElement
            %reference
              %qualifier PR
              %number= index+1

      -# CC FE
      %dataElementsIndiv
        %elementManagementData
          %segmentName FE
        %fareElement
          %generalIndicator E
          %freetextLong= "#{validating_carrier} ONLY PSPT #{person.cleared_passport}"
        %referenceForDataElement
          %reference
            %qualifier PR
            %number= index+1

      - if infant = person.associated_infant
        -# CC 'SRDOCSYYHK1-P-...'
        %dataElementsIndiv
          %elementManagementData
            %segmentName SSR
          %serviceRequest
            %ssr
              %type DOCS
              %status HK
              %quantity 1
              %companyId YY
              %freetext= ssr_docs_text(person.associated_infant)
          %referenceForDataElement
            %reference
              %qualifier PR
              %number= index+1

        -# CC FE
        %dataElementsIndiv
          %elementManagementData
            %segmentName FE
          %fareElement
            %generalIndicator E
            %passengerType INF
            %freetextLong= "#{validating_carrier} ONLY PSPT #{infant.cleared_passport}"
          %referenceForDataElement
            %reference
              %qualifier PR
              %number= index+1

      - if person.bonus_present
        -# CC 'FFN...'
        %dataElementsIndiv
          %elementManagementData
            %segmentName SSR
          %serviceRequest
            %ssr
              %type FQTV
              %companyId= person.bonuscard_type
              %indicator P01
          %frequentTravellerData
            %frequentTraveller
              %companyId= person.bonuscard_type
              %membershipNumber= person.bonuscard_type + person.bonuscard_number
          %referenceForDataElement
            %reference
              %qualifier PR
              %number= index+1

    - if email.present?
      %dataElementsIndiv
        %elementManagementData
          %segmentName AP
        %freetextData
          %freetextDetail
            %subjectQualifier 3
            %type P02
          %longFreetext= email

    - if agent_commission?
      %dataElementsIndiv
        %elementManagementData
          %segmentName FM
        %commission
          %commissionInfo
            -if agent_commission_percentage
              %percentage= agent_commission_percentage
            -else
              %amount= agent_commission_value

    -# CC 'OSYYCTCP74956603520 EVITERRA TRAVEL-A'
    %dataElementsIndiv
      %elementManagementData
        %segmentName OS
      %freetextData
        %freetextDetail
          %subjectQualifier 3
          %type 28
          %companyId YY
        %longFreetext CTCP74956603520 EVITERRA TRAVEL-A

    -# CC "es#{::Amadeus::Session::BOOKING}-B"
    %dataElementsIndiv
      %elementManagementData
        %segmentName ES
      %pnrSecurity
        %security
          %identification= es_office_id
          %accessMode B

    -# CC 'RM INTERNET BOOKING'
    %dataElementsIndiv
      %elementManagementData
        %segmentName RM
      %miscellaneousRemark
        %remarks
          %type RM
          %freetext INTERNET BOOKING
