<% if admin_user %>
<div id="search-debug">
    Amadeus: <%= debug_service_env(:amadeus)%> <br>
    PaytureAlfa: <%= debug_service_env(:payture_alfa) %><br>
    PayturePSB: <%= debug_service_env(:payture_psb) %><br>
    Payu: <%= debug_service_env(:payu) %><br>
    card processing: <%= Conf.payment.card_processing %>
</div>
<% end %>
