<div id="results-header">
<div class="rh-wrapper">
    <table class="rh-content">
    <tr>
        <td class="rh-left"><h3 class="rh-summary"></h3></td>
        <td class="rh-right">
            <div id="results-button">
                <div class="rb-side rb-disabled"><div class="rb-side"><%= raw t('results.header.find') %></div></div>
                <div class="rb-side rb-enabled"><div class="rb-side"><div class="rb-active"><%= raw t('results.header.find') %></div></div></div>
            </div>
            <div class="rh-edit"><span class="rhe-link"><%= raw t('results.header.new') %></span></div>
            <div class="rh-select"><span class="rhs-link"><%= raw t('results.header.all') %></span></div>            
        </td>
    </tr>
    </table>
    <div id="results-filters">
        <div class="rf-group" data-id="time">
            <div class="rfg-control"><span class="rfg-label">Время вылета и прилета</span><span class="rfg-counter"></span></div>
            <div class="rfg-content"></div>
        </div>
        <div class="rf-group" data-id="locations">
            <div class="rfg-control"><span class="rfg-label">Города и аэропорты</span><span class="rfg-counter"></span></div>
            <div class="rfg-content"></div>
        </div>
        <div class="rf-group" data-id="carriers">
            <div class="rfg-control"><span class="rfg-label">Авиакомпании и самолеты</span><span class="rfg-counter"></span></div>
            <div class="rfg-content"></div>
        </div>
        <div class="rf-group" data-id="layovers">
            <div class="rfg-control"><span class="rfg-label">Пересадки</span><span class="rfg-counter"></span></div>
            <div class="rfg-content"></div>
        </div>                        
    </div>
    <div class="rh-shadow"></div>
</div>
</div>

<div id="results-message">
<div class="rm-half"></div>
<div class="rm-content">
    <div id="rm-loading">
        <h3 class="rm-title"><span class="rmt-text"><%= t('results.loading.title') %></span></h3>
        <h6 class="rml-progress"><%= t('results.loading.time') %></h6>
        <ul class="rml-features">
            <li><%= t('results.loading.carriers') %></li>
            <li><%= t('results.loading.currency') %></li>
            <li><%= t('results.loading.payment') %></li>
        </ul>
        <div class="rml-advice">
            <p><strong class="rmla-prefix">Совет:</strong> чем раньше от&nbsp;момента вылета вы&nbsp;покупаете авиабилеты, тем&nbsp;они, как&nbsp;правило, дешевле.</p>
        </div>
        <p class="appstore" style="margin-top: 15px;"><a target="_blank" href="https://itunes.apple.com/ru/app/eviterra/id569307779?mt=8&uo=4"><img alt "Available in App Store" src="images/common/appstore-available.png" /></a></p>
    </div>
    <div id="rm-empty">
        <h3 class="rm-title"><%= t('results.empty.title') %></h3>
        <h6 class="rme-title"><%= t('results.empty.reasons') %></h6>
        <ul class="rme-reasons">
            <li><%= t('results.empty.dates') %></li>
            <li><%= t('results.empty.carriers') %></li>
            <li><%= t('results.empty.city') %></li>
        </ul>
    </div>
</div>
</div>

<div id="results-content">

    <div id="results-tabs">
    <div id="rf-placeholder"></div>
    <ul class="rt-content wrap">
        <li class="rt-item" data-tab="cheap"></li>
        <li class="rt-item" data-tab="optimal"></li>
        <li class="rt-item" data-tab="nonstop"></li>
        <li class="rt-item" data-tab="all"></li>
        <li class="rt-item rt-matrix" data-tab="matrix"></li>
    </ul>
    </div>

    <div class="o-book" id="ob-template">
        <div class="ob-button">
            <div class="obb-title"></div>
            <div class="obb-side obb-left"><div class="obb-side obb-right"></div></div>
        </div>
        <div class="od-control od-show"><%= t('results.details.show') %></div>
        <div class="od-control od-hide"><%= t('results.details.hide') %></div>
        <div class="ob-state"></div>
        <div class="ob-line"></div>
    </div>
    
    <div id="ost-template">
    <ul class="os-title wrap">
        <li class="ost-item ost-name"><span class="ostn-text">{0}</span></li>
        <li class="ost-item ost-dpt"><%= t('results.columns.dpt') %></li>
        <li class="ost-item ost-duration"><%= t('results.columns.duration') %></li>
        <li class="ost-item ost-arv"><%= t('results.columns.arv') %></li>
    </ul>
    </div>
    
    <div id="results-cheap" class="offers-list"></div>
    <div id="results-optimal" class="offers-list"></div>
    <div id="results-nonstop" class="offers-list"></div>    
    <div id="results-all" class="offers-list"></div>
    <div id="results-matrix" class="offers-list">
        <div class="offer">
        <div class="rm-prices">
        <table class="rmp-table">
            <tr><td class="rmpt-rt" style="background: none;"></td><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>
            <tr class="rmpt-rt"><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr class="rmpt-rt"><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr class="rmpt-rt"><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><th class="rmpt-rt"></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr class="rmpt-rt"><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr class="rmpt-rt"><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr class="rmpt-rt"><th></th><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        </table>
        </div>
        </div>
    </div>
    
    <div class="rc-placeholder"></div>
    
</div>
