<div id="search">

<!-- Locations -->
<div id="search-locations">
<div class="sl-content">
    <div id="search-mode">
        <div class="sm-control"><%= t('search.locations.rt') %></div>
        <ul class="sm-values">
            <li data-mode="rt"><%= t('search.locations.rt') %></li>
            <li data-mode="ow"><%= t('search.locations.ow') %></li>
            <li data-mode="mw"><%= t('search.locations.mw') %></li>    
        </ul>
    </div>
    <div class="sl-segment sl-segment1" data-segment="1">
        <div class="sl-field dpt">
            <label for="sl-segment1-dpt"><%= t('search.locations.from') %></label>
            <input type="text" id="sl-segment1-dpt">
        </div>
        <div class="sl-icon sl-return"></div>
        <div class="sl-field arv">
            <label for="sl-segment1-arv"><%= t('search.locations.to') %></label>
            <input type="text" id="sl-segment1-arv">
        </div>
    </div>
    <div class="sl-segment sl-segment2 latent" data-segment="2">
        <div class="sl-field dpt">
            <label for="s2-segment1-dpt"><%= t('search.locations.from') %></label>
            <input type="text" id="s2-segment1-dpt">
        </div>
        <div class="sl-icon"></div>
        <div class="sl-field arv">
            <label for="sl-segment2-arv"><%= t('search.locations.to') %></label>
            <input type="text" id="sl-segment2-arv">
        </div>
        <div class="sl-toggle">
            <span class="sl-add"><%= t('search.locations.add') %></span>
            <span class="sl-remove latent"><%= t('search.locations.remove') %></span>
        </div>
    </div>
    <div class="sl-segment sl-segment3 latent" data-segment="3">
        <div class="sl-field dpt">
            <label for="sl-segment3-dpt"><%= t('search.locations.from') %></label>
            <input type="text" id="sl-segment3-dpt">
        </div>
        <div class="sl-icon"></div>
        <div class="sl-field arv">
            <label for="sl-segment3-arv"><%= t('search.locations.to') %></label>
            <input type="text" id="sl-segment3-arv">
        </div>
        <div class="sl-toggle">
            <span class="sl-add"><%= t('search.locations.add') %></span>
            <span class="sl-remove latent"><%= t('search.locations.remove') %></span>
        </div>
    </div>
    <div class="sl-segment sl-segment4 latent" data-segment="4">
        <div class="sl-field dpt">
            <label for="sl-segment4-dpt"><%= t('search.locations.from') %></label>
            <input type="text" id="sl-segment4-dpt">
        </div>
        <div class="sl-icon"></div>
        <div class="sl-field arv">
            <label for="sl-segment4-arv"><%= t('search.locations.to') %></label>
            <input type="text" id="sl-segment4-arv">
        </div>
        <div class="sl-toggle">
            <span class="sl-add"><%= t('search.locations.add') %></span>
            <span class="sl-remove latent"><%= t('search.locations.remove') %></span>
        </div>
    </div>
    <div class="sl-segment sl-segment5 latent" data-segment="5">
        <div class="sl-field dpt">
            <label for="sl-segment5-dpt"><%= t('search.locations.from') %></label>
            <input type="text" id="sl-segment5-dpt">
        </div>
        <div class="sl-icon"></div>
        <div class="sl-field arv">
            <label for="sl-segment5-arv"><%= t('search.locations.to') %></label>
            <input type="text" id="sl-segment5-arv">
        </div>
        <div class="sl-toggle">
            <span class="sl-add"><%= t('search.locations.add') %></span>
            <span class="sl-remove latent"><%= t('search.locations.remove') %></span>
        </div>
    </div>
    <div class="sl-segment sl-segment6 latent" data-segment="6">
        <div class="sl-field dpt">
            <label for="sl-segment6-dpt"><%= t('search.locations.from') %></label>
            <input type="text" id="sl-segment6-dpt">
        </div>
        <div class="sl-icon"></div>
        <div class="sl-field arv">
            <label for="sl-segment6-arv"><%= t('search.locations.to') %></label>
            <input type="text" id="sl-segment6-arv">
        </div>
        <div class="sl-toggle">
            <span class="sl-remove latent"><%= t('search.locations.remove') %></span>
        </div>
    </div>
</div>
</div>

<div id="search-wrapper">

	<!-- Map -->
	<div id="search-map">
	    <div class="smap-prices">
    	    <div class="smp-link"><br></div>
            <div class="smp-slider">
                <div class="smps-base">
                    <div class="smps-selected"></div>
                    <div class="smps-control"></div>
                </div>
                <div class="smps-title"></div>
                <div class="smps-value"></div>
            </div>
	    </div>
	    <div class="smap-content"></div>
	    <div class="smap-tshadow"></div>
	    <div class="smap-bshadow"></div>
	</div>
	
	<!-- Dates -->
	<div id="search-dates" data-now="<%= Time.now.to_formatted_s(:rfc822) %>">
	<div class="sd-timeline">
	    <div class="sdt-content">
	        <div class="sdt-hover sdt-fhover"></div>
	        <div class="sdt-hover sdt-shover"></div>
	        <div class="sdt-tab sdt-ftab"></div>
	        <div class="sdt-tab sdt-stab"></div>        
	        <div class="sdt-selected"></div>
	    </div>
	</div>
	<div class="sd-calendar">
	    <div class="sdc-content">
	    <div class="sdc-slider">
	        <div class="sdc-month">
	        <ul class="sdc-week">
    	        <% week = t('search.dates.week').split(' ') %>
	            <li class="sdcw-day"><span class="sdcw-title"><%= week[0] %></li>
	            <li class="sdcw-day"><span class="sdcw-title"><%= week[1] %></li>
	            <li class="sdcw-day"><span class="sdcw-title"><%= week[2] %></li>
	            <li class="sdcw-day"><span class="sdcw-title"><%= week[3] %></li>
	            <li class="sdcw-day"><span class="sdcw-title"><%= week[4] %></li>
	            <li class="sdcw-day"><span class="sdcw-title dayoff"><%= week[5] %></li>
	            <li class="sdcw-day"><span class="sdcw-title dayoff"><%= week[6] %></li>
	        </ul>
	        </div>
	        <div class="sdc-reset"></div>
	    </div>
	    <div class="sdc-overlay">
	        <div class="sdc-splitter"></div>
	    </div>
	    </div>
	    <div class="sdc-dragging"></div>
	</div>
	</div>

</div>

<!-- Options -->
<div id="search-options">
<div class="so-content wrap">
    <div class="so-persons" data-name="adults">
        <h6 class="so-title"><%= t('search.options.adults.title') %> <em><%= t('search.options.asults.hint') %></em></h6>
        <ul class="so-values">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
        </ul>
    </div>
    <div class="so-persons" data-name="children">
        <h6 class="so-title"><%= t('search.options.children.title') %> <em><%= t('search.options.children.hint') %></em></h6>
        <ul class="so-values">
            <li>0</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
        </ul>
    </div>
    <div class="so-persons" data-name="infants">
        <h6 class="so-title"><%= t('search.options.infants.title') %> <em><%= t('search.options.infants.hint') %></em></h6>
        <ul class="so-values">
            <li>0</li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
        </ul>
    </div>    
    <div class="so-cabin">
        <h6 class="so-title"><%= t('search.options.cabin.title') %></h6>
        <ul class="so-values">
            <li data-value="Y"><%= t('search.options.cabin.Y') %></li>
            <li data-value="C"><%= t('search.options.cabin.C') %></li>
            <li data-value="F"><%= t('search.options.cabin.F') %></li>
        </ul>
    </div>
</div>
</div>

<%= render 'debug' %>

</div>
