<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <%# @title = 'Выбор направления' %>
    <%= render 'shared/head_common', {:title => 'Выбор направления'} %>

    <script type="text/javascript" src="/js/lib/jquery-ui-1.8.min.js"></script>

    <!-- API Я.Карт -->
    <script src="http://api-maps.yandex.ru/1.1/index.xml?key=ALbfWUsBAAAA12OmfQIAfAJwdvj4ieWN5B6zaN0ZvfteY90AAAAAAAAAAACH_1UX_hn04Wtmar7a930xij45OA==" type="text/javascript"></script>
    
    <!-- [production] Все нижеследующие скрипты объединить в таком же порядке и упаковать -->
    <script type='text/javascript' src='/js/main.js'></script>
    <script type='text/javascript' src='/js/utils.js'></script>
    <script type='text/javascript' src='/js/multifield.js'></script>
    <script type='text/javascript' src='/js/autocomplete.js'></script>
    <script type='text/javascript' src='/js/radio.js'></script>
    <script type='text/javascript' src='/js/button.js'></script>
    <script type='text/javascript' src='/js/loader.js'></script>
    <script type='text/javascript' src='/js/search.js'></script>
    <script type='text/javascript' src='/js/map.js'></script>
    <script type='text/javascript' src='/js/calendar.js'></script>
    <script type='text/javascript' src='/js/define.js'></script>
    <script type='text/javascript' src='/js/offers.js'></script>
    <script type='text/javascript' src='/js/timer.js'></script>
    <script type='text/javascript' src='/js/onready.js'></script>
</head>

<body>
    <div class="l-page">
        <div class="l-header">
            <%= render 'shared/header' %>
        </div>

        <div class="l-canvas">
            <%= render 'search' %>
            <%= render 'offers' %>
        </div>
        
        <div class="l-canvas-bottom"></div>
    </div>

    <div class="l-footer">
        <%= render 'shared/footer' %>
    </div>

    <%= render 'shared/popups' %>

</body>

</html>
