<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <%= render 'shared/head_common', {:title => 'авиабилеты по всему миру онлайн'} %>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <%= javascript_include_tag "lib/json2", "lib/pushup", "main", "pageurl", "autocomplete", "radio", "search", "map", "calendar", "filters", "offers", "timer", "hint", "booking/validation", "booking/wizard", "booking/form", :cache => Rails.env.production? %>
</head>
<body>
<%= render 'shared/header' %>
<div class="l-wrapper" id="page-wrapper">
<div class="l-canvas">
    <div class="l-content">
        <%= render 'search' %>
        <%= render 'offers' %>
        <div id="promo" class="wrap">
            <div class="facebook">
                <iframe src="https://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Feviterra&amp;width=240&amp;colorscheme=light&amp;show_faces=true&amp;stream=true&amp;header=false&amp;height=556" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:556px;" allowTransparency="true"></iframe>
            </div>
            <div class="description">
                <h2>Это Eviterra.</h2>
                <h5>Здесь можно найти, сравнить, выбрать&nbsp;и&nbsp;купить билеты на&nbsp;рейсы более 200&nbsp;авиакомпаний всего мира по&nbsp;низкой цене.</h5>
                <p>Просто введите пункт назначения (город, аэропорт или страну), выберите нужный вариант и оплатите банковской картой прямо на сайте.</p>
            </div>
            <div class="airlines">
                <p><img src="/img/promo/airlines.png" alt="" width="628" height="239"></p>
                <h6>Покупать у нас — это просто и очень удобно, быстро и безопасно.<br>Убедитесь сами.</h6>
            </div>
        </div>
    </div>
    <div class="l-footer">
        <%= render 'shared/footer' %>
    </div>
    <div class="l-overlay"></div>
</div>
</div>
<div id="hint">
    <div class="close"></div>
    <div class="content"></div>
</div>
<script type="text/javascript" src="/javascripts/onready.js"></script>
<script type="text/javascript" src="https://yandex.st/share/share.js" charset="utf-8"></script>
<script type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=6.3&s=1&mkt=ru-RU"></script>
<script type="text/javascript">
search.share.init();
search.map.init();
</script>
</body>
</html>
