<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <%= render 'shared/head_common', {:title => 'авиабилеты по всему миру онлайн'} %>
    <%= stylesheet_link_tag "promo", "pushup", "atoms/button", "controls/filter", "controls/autocomplete", "controls/hint", "controls/history", "search/form", "search/fields", "search/panel", "search/calendar", "search/live", "results/results", "results/filters", "results/message", "results/offer", "results/matrix", "results/diagram", "booking/booking", "booking/sections", :cache => Rails.env.production? %>
    <%= javascript_include_tag "lib/json2", "lib/pushup", "main", "pageurl", "controls/autocomplete", "controls/filters", "search/search", "search/map", "search/calendar", "search/history", "results/results", "results/filters", "results/matrix", "results/diagram", "live", "controls/hint", "booking/form", "booking/validation", "booking/names", :cache => Rails.env.production? %>
</head>
<body>
<%= render 'shared/header' %>
<div id="wrapper">
<div id="canvas">
    <div id="content">
        <%= render 'search' %>
        <%= render 'results' %>
        <div id="promo" class="wrap latent">
            <div class="facebook">
                <iframe src="https://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Feviterra&amp;width=240&amp;colorscheme=light&amp;show_faces=true&amp;stream=true&amp;header=false&amp;height=556" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:240px; height:556px;" allowTransparency="true"></iframe>
            </div>
            <div class="description">
                <h2>Это Eviterra.</h2>
                <h5>Здесь можно найти, сравнить, выбрать&nbsp;и&nbsp;купить билеты на&nbsp;рейсы более 200&nbsp;авиакомпаний всего мира по&nbsp;низкой цене.</h5>
                <p>Просто введите пункт назначения (город, аэропорт или страну), выберите нужный вариант и оплатите банковской картой прямо на сайте.</p>
            </div>
            <div class="airlines">
                <p><img src="/img/promo/airlines.png" alt="" width="628" height="239"></p>
                <h6>Покупать у нас — это просто и очень удобно, быстро и безопасно.<br>Убедитесь сами.</h6>
            </div>
        </div>
    </div>
    <%= render 'shared/footer' %>
    <div id="overlay"></div>
</div>
</div>
<div id="hint">
    <div class="close"></div>
    <div class="content"></div>
</div>
<div id="history"></ul>
<script type="text/javascript" src="/javascripts/onready.js"></script>
<script type="text/javascript" src="https://yandex.st/share/share.js" charset="utf-8"></script>
<script type="text/javascript" src="https://maps-api-ssl.google.com/maps/api/js?v=3&sensor=false&language=ru"></script>
<script type="text/javascript">
search.share.init();
search.map.init();
</script>
</body>
</html>
