<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="utf-8">
    <title>Eviterra — самые дешевые авиабилеты по всему миру онлайн. Все авиакомпании. Максимальные скидки.</title>
    <meta name="description" content="Eviterra — простой, удобный и быстрый способ найти и купить авиабилет. Поиск, выбор рейса и бронирование онлайн. Мгновенная оплата и оформление авиабилетов. Цены на авиабилеты.">
    <meta name="keywords" content="авиабилет, авиабилеты, дешевые авиабилеты, авиабилеты онлайн, авиакасса, авиа билеты, авиакомпании, все авиакомпании, купить авиабилеты, куплю авиабилеты, авиабилеты дешево, самые дешевые авиабилеты, стоимость авиабилетов, билеты на самолет, авиабилеты из москвы, забронировать авиабилеты, бронирование авиабилетов, выбрать рейс, авиарейс, перелет, дешевые авиаперелеты, цены на билеты, онлайн бронирование, эвитерра, авитерра, авитера, евитерра, eviterra, aviterra.ru, evitera, эвитера, эвиттера, эвиттерра, спецпредложения, акции, авиакомпании, расписание рейсов, сложный маршрут, агентство, турагентство, путешествия, аэрофлот, трансаэро, lufthansa, iberia, s7, сибирь, delta, ютэйр, гтк россия, пулково, аэросвит, air berlin, шереметьево, домодедово, внуково, авиабилеты по россии, авиабилеты в европу, авиабилеты в сша">
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag 'home' %>
    <%= javascript_include_tag "local/ru", 'home' %>
</head>
<body>

<%= render 'shared/header' %>
<%= render 'search' %>
<%= render 'results' %>

<% if corporate_mode? %>
    <div id="corporate">
    <div class="corporate-content">
        <a class="corporate-exit" href="<%= stop_corporate_url %>">Выйти</a>
        <p class="corporate-message">Вы находитесь в корпоративном режиме.</p>
    </div>
    </div>
<% end %>

<div id="booking">
    <div class="b-content offer"></div>
    <div class="b-loading">
        <h5 class="bl-title"><span class="bl-progress">Проверяем доступность мест</span><h5>
    </div>
</div>

<div id="queries">
<div class="q-content">
    <div class="q-history"></div>
    <div class="q-live">
        <h5 class="ql-title">Что находят и покупают:</h5>
        <ul class="ql-items"></ul>
    </div>
</div>
</div>

<div id="hint">
    <div class="h-close"></div>
    <div class="h-content"></div>
</div>

<%= render 'shared/footer' %>

<script type="text/javascript">
page.init();
</script>

<script src="//translate.google.com/translate_a/element.js?cb=googleSectionalElementInit&ug=section&hl=ru"></script>
<script type="text/javascript" src="https://maps-api-ssl.google.com/maps/api/js?v=3&sensor=false&language=ru"></script>
<!--
<script src="//mc.yandex.ru/metrika/watch_visor.js" type="text/javascript" defer="defer"></script>
<script type="text/javascript" src="https://yandex.st/share/share.js" charset="utf-8"></script>
-->
<script type="text/javascript">
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=429677207045748";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
(function(d,s,id) {
    var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}
}(document,"script","twitter-wjs"));
(function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
$('#share-icons').show();
</script>

</body>
</html>
