<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="utf-8">
    <title>Eviterra — самые дешевые авиабилеты по всему миру онлайн</title>
    <meta name="description" content="Eviterra.com — простой, удобный и красивый способ найти и купить авиабилет. Поиск, выбор рейса и бронирование онлайн. Цены на авиабилеты. +7 (495) 660-35-20">
    <meta name="keywords" content="авиабилет, авиакасса, авиабилеты купить, бронирование, выбрать рейс, авиарейс, перелет, дешевые авиабилеты, цены на билеты, онлайн бронирование, эвитерра, eviterra, спецпредложения, авиакомпании, расписание рейсов, маршрут, агентство, турагентство, путешествия">
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag 'home', :debug => true %>
    <%= javascript_include_tag "local/ru", 'home', :debug => true %>
</head>
<body>

<%= render 'shared/header' %>
<%= render 'search' %>
<%= render 'results' %>

<% if corporate_mode? %>
    <div id="corporate">
    <div class="corporate-content">
        <a class="corporate-exit" href="<%= stop_corporate_url %>">Выйти</a>
        <p class="corporate-message">Вы находитесь в корпоративном режиме.</p>
    </div>
    </div>
<% end %>

<div id="booking">
    <div class="b-content offer"></div>
    <div class="b-loading">
        <h5 class="bl-title"><span class="bl-progress">Проверяем доступность мест</span><h5>
    </div>
</div>

<div id="queries">
<div class="q-content">
    <div class="q-history"></div>
    <div class="q-live">
        <h5 class="ql-title">Что находят и покупают:</h5>
        <ul class="ql-items"></ul>
    </div>
</div>
</div>

<div id="hint">
    <div class="close"></div>
    <div class="content"></div>
</div>

<%= render 'shared/footer' %>

<script type="text/javascript">
page.init();
</script>

<script src="//translate.google.com/translate_a/element.js?cb=googleSectionalElementInit&ug=section&hl=ru"></script>
<script type="text/javascript" src="https://maps-api-ssl.google.com/maps/api/js?v=3&sensor=false&language=ru"></script>
<!--
<script src="//mc.yandex.ru/metrika/watch_visor.js" type="text/javascript" defer="defer"></script>
<script type="text/javascript" src="https://yandex.st/share/share.js" charset="utf-8"></script>
-->
</body>
</html>
