<p style="text-align:right"><a href='/admin/payments/show_versions/<%=@item.id %>?_popup=true' class='iframe'>История изменений</a></p>
<div id="term">Терминал:
  <pre data-replace-with="<%= url_for :action => :payment_raw, :id => @item.id %>"></pre>
</div>

<table><tr>
<% if @item.can_charge?  %>
  <td><%= button_to 'Charge', {:action => 'charge', :id => @item.id}, {:confirm => 'точно?' } %></td>
<% end %>
<% if @item.can_block?  %>
  <td><%= button_to 'Block',  {:action => 'block',  :id => @item.id}, {:confirm => 'точно?'} %></td>
<% end %>
<% if @item.can_cancel?  %>
  <td><%= button_to 'Cancel', {:action => 'cancel', :id => @item.id}, {:confirm => 'точно?'} %></td>
<% end %>
<td>
  <div><strong> <%= @item.class.model_name.human %>: <%= @item.status %></strong>
  <%= @item.control_links %>
</div>
</td>
</tr></table>
