<% @flights ||= @pnr.flights %>
<% booking_classes = @pnr ? @pnr.booking_classes : [] %>
<tbody valign="top">
<tr>
    <td colspan="6" class="pad_null"><font size="3">&nbsp;<br></font></td>
</tr>
<tr valign="bottom">
    <td class="pad_null">
        <font family="Arial" size="3" style="font-size: 18px;"><strong><% unless @lang %>Сведения о маршруте<br><%end%>Itinerary Information</strong></font>
    </td>
    <td class="pad_null" colspan="2">
        <font family="Arial" size="3" style="font-size: 15px;"><strong><% unless @lang %>Отправление<br><%end%>Departure</strong></font>
    </td>
    <td class="pad_null" colspan="2">
        <font family="Arial" size="3" style="font-size: 15px;"><strong><% unless @lang %>Прибытие<br><%end%>Arrival</strong></font>
    </td>
    <td class="pad_null">
        <font family="Arial" size="3" style="font-size: 15px;"><strong><% unless @lang %>Тариф<br><%end%>Fare</strong></font>
    </td>
</tr>
<tr>
    <td colspan="6" class="pad_null"><font size="2">&nbsp;<br></font></td>
</tr>
<% for flight, booking_class in @flights.zip(booking_classes) %>
<tr>
    <td class="pad_null" align="right" valign="top" style="text-align: right; vertical-align: top;">
        <font size="2" family="Arial"><%= full_human_date( flight.departure_date ) %></font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </td>
    <td class="pad_null" valign="top" style="vertical-align: top;">
        <font size="2" family="Arial">
        <font color="#ed1192"><strong style="color: #ed1192;"><%= fmt_time(flight.departure_time) %></strong></font><br>
        <% unless @lang %>
        <%= flight.departure.city.name %><br>
        <strong style="font-weight: bold;"><%= flight.departure_name %><% if flight.departure_term %>, терминал&nbsp;<%= flight.departure_term %><% end %> — <%= flight.departure.iata %><% if flight.departure_term %>(<%= flight.departure_term %>)<% end %></strong><br>
        <% if flight.operating_carrier_name %>
          <%= flight.operating_carrier_name %>
        <% else %>
          <%= flight.marketing_carrier_name %>
        <% end %><br>
        <%= flight.marketing_carrier_iata %>&nbsp;<%= flight.flight_number %> / <%= flight.equipment_type_name %><br>
        <% if flight.warning %><%= flight.warning %><br><% end %>
        <br><%else%>

        <%= flight.departure.city.name_en %><br>
        <strong style="font-weight: bold;"><%= flight.departure_name_en %><% if flight.departure_term %>, terminal&nbsp;<%= flight.departure_term %><% end %> — <%= flight.departure.iata %><% if flight.departure_term %>(<%= flight.departure_term %>)<% end %></strong><br>
        <% if flight.operating_carrier_name %>
          <%= flight.operating_carrier_name_en %>
        <% else %>
          <%= flight.marketing_carrier_name_en %>
        <% end %><br>
        <%= flight.marketing_carrier_iata %>&nbsp;<%= flight.flight_number %> / <%= flight.equipment_type_name_en %><br>
        <% if flight.warning %><%= flight.warning %><br><% end %>
        <%end%>
        </font>
        <br>
    </td>

    <td class="pad_null">&nbsp;&nbsp;<br></td>
    <td class="pad_null" valign="top" style="vertical-align: top;">
        <font size="2" family="Arial">
        <strong><font color="#ed1192"><%= fmt_time( flight.arrival_time ) %></font><% if flight.arrival_date != flight.departure_date %> <%= fmt_date(flight.arrival_date) %><% end %></strong><br>
        <% unless @lang %>
        <%= flight.arrival.city.name %><br>
        <%= flight.arrival_name %><% if flight.arrival_term %>, терминал/terminal&nbsp;<%= flight.arrival_term %><% end %> — <%= flight.arrival.iata %><% if flight.arrival_term %>(<%= flight.arrival_term %>)<% end %><br>
        <br><br><br><%else%>

        <%= flight.arrival.city.name_en %><br>
        <%= flight.arrival_name_en %><% if flight.arrival_term %>, терминал/terminal&nbsp;<%= flight.arrival_term %><% end %> — <%= flight.arrival.iata %><% if flight.arrival_term %>(<%= flight.arrival_term %>)<% end %><br>
        <%end%>
        </font>
    </td>
    <td class="pad_null">&nbsp;&nbsp;<br></td>
    <td class="pad_null">
        <font size="2" family="Arial"><%= booking_class %> (HK)</font>
    </td>
</tr>
<% end %>
<tr>
    <td colspan="6" class="pad_null"><font size="2">&nbsp;<br></font></td>
</tr>
</tbody>
