<tr valign="bottom" style="font-size: 13px;">
    <td style="font-weight: bold; font-size: 18px; line-height: 21px;"><% unless @lang %>Пассажиры<br><% end %>Passengers</td>
    <td><% unless @lang %>Документ<br><% end %>Document</td>
    <td><% if @passengers.map{|passenger| passenger.tickets.present? ? 1 : 0}.sum > 0 %><% unless @lang %>Номер билета<br><% end %>E-ticket number<% end %></td>
</tr>
<tr>
    <td colspan="4" style="font-size: 8px; line-height: 10px;"><div style="border-bottom: 1px solid #d6d6d6;"><br></div></td>
</tr>
<% @passengers.each_with_index do |passenger, i| %>
<tr>
    <td colspan="4" style="font-size: 8px; line-height: 10px;"><br></td>
</tr>
<tr style="font-size: 18px; line-height: 21px;">
    <td style="font-weight: bold;"><%= passenger.last_name %> <%= passenger.first_name %></td>
    <td><%= passenger.passport %></td>
    <td colspan="2">
    <% if passenger.tickets.present? %>
        <table cellspacing="0" cellpadding="0" style="font-size: 13px; line-height: 15px;">
        <col width="206">
        <col width="210">
        <% first_ticket = true %>
        <% for ticket in passenger.tickets %>
        <tr valign="top">
            <td style="width: 206px; font-size: 18px; line-height: 21px;"><%= ticket.number_with_code %></td>
            <td><% if ticket.parent %>получен в обмен билета <%= ticket.parent.number_with_code %><% end %></td>
        </tr>
        <% unless first_ticket %>
        <tr>
            <td colspan="2" style="font-size: 6px; line-height: 6px;"><br></td>
        </tr>        
        <% end %>
        <% first_ticket = false %>
        <% end %>
        </table>
    <% end %>
    </td>
</tr>
<tr>
    <td colspan="4" style="font-size: 8px; line-height: 10px;"><div style="border-bottom: 1px solid #d6d6d6;"><br></div></td>
</tr>
<% end %>
