<tbody valign="top">
<tr>
    <td colspan="6" class="pad_null">&nbsp;<br></td>
</tr>
<tr valign="bottom">
    <td class="pad_null">
        <font family="Arial" size="3" style="font-size: 18px;"><strong><% unless @lang %>Сведения о пассажирах<br><%end%>Traveler Information</strong></font>
    </td>
    <td class="pad_null" colspan="2"><br></td>
    <td class="pad_null" colspan="3">
        <font family="Arial" size="3" style="font-size: 15px;"><strong><% unless @lang %>Сведения об агенте<br><%end%>Agent Information</strong></font>
    </td>
</tr>
<tr>
    <td colspan="6" class="pad_null"><font size="2" style="font-size: 8px;">&nbsp;<br></font></td>
</tr>
<% @passengers.each_with_index do |passenger, i| %>
  <tr>
    <td class="pad_null">
        <font family="Arial" size="2">
          <strong style="font-weight: bold;"><%= passenger.last_name %> <%= passenger.first_name %> &nbsp;</strong><br><%= passenger.passport %><br>
        </font>
    </td>
    <td class="pad_null" colspan="2">
    <% if passenger.tickets.present? %>
        <font family="Arial" size="2">
          <% for ticket in passenger.tickets %>
            <%= ticket.number_with_code %>
            <% if ticket.parent %>
              <br>
              получен в обмен билета <%= ticket.parent.number_with_code %>
            <% end %>
            <br>
          <% end %>
          <br>
        </font>
    <% end %>
    </td>
    <td class="pad_null" rowspan="<%= @passengers.count %>">
      <% if i == 0 %>
        <font family="Arial" size="2">Eviterra Travel<br>+7 (495) 660-35-20<br>
        <a href="http://www.eviterra.com/" target="_blank" style="color: #ed1192;"><font color="#ed1192">www.eviterra.com</font></a><br>
        <a href="mailto:ticket@eviterra.com" target="_blank" style="color: #ed1192;"><font color="#ed1192">ticket@eviterra.com</font></a>
        </font>
      <% end %>
    </td>
  </tr>
<% end %>
</tbody>
