<%= google_now_template(@pnr, @passengers)%>
<table cellspacing="0" cellpadding="0" width="916" style="font-size: 14px; line-height: 17px; font-family: Arial, sans-serif; color: #333333;">
<col width="340">
<col width="160">
<col width="206">
<col width="210">
<tbody valign="top">
<tr>
    <td colspan="4">
        <div style="border-top: 1px solid #dcd6b2; border-bottom: 1px solid #dcd6b2; background: #fbf4cb; padding: 15px 20px 17px 20px; margin: 0 0 20px 0; font-size: 17px;">
        Ваш электронный билет оформляется и&nbsp;будет выслан&nbsp;вам <%= time_to_ticketing_delay(@prices.created_at) %></div>
    </td>
</tr>
<tr>
    <td width="340" style="font-size: 12px; line-height: 12px;">
        <div style="font-weight: bold; font-size: 23px; line-height: 26px;"><% unless @lang %>Ваш заказ<br><% end %>Your Order</div><br>
        <br><br>
    </td>
    <%= render :partial => 'pnr/numbers' %>
    <td width="210" rowspan="2">
        <div style="font-weight: bold; font-size: 32px; line-height: 30px; color: #F90A6F;">
            <img src="https://eviterra.com/images/booking/eviterra.png" alt="eviterra.com" width="210" height="30"><br>
        </div><br>
        <div style="font-size: 15px; line-height: 21px;">
            +7 495 660-35-20<br>
            <a style="color: #333333;" href="http://www.eviterra.com/" target="_blank">www.eviterra.com</a><br>
            <a style="color: #333333;" href="mailto:operator@eviterra.com" target="_blank">operator@eviterra.com</a>
        </div>
        <br><br>
    </td>
</tr>
<%= render :partial => 'pnr/passengers' %>
</tbody>
</table>
<br>
<br>

<table cellspacing="0" cellpadding="0" width="916" style="font-size: 14px; line-height: 17px; font-family: Arial, sans-serif; color: #333333;">
<col width="320">
<col width="20">
<col width="190">
<col width="20">
<col width="190">
<col width="20">
<col width="156">
<%= render :partial => 'pnr/flights' %>
</table>

<br>
<%= render :partial => 'pnr/upsales' unless @lang %>
<br>

<table cellspacing="0" cellpadding="0" width="916" style="font-size: 14px; line-height: 17px; font-family: Arial, sans-serif; color: #333333;">
<col width="550">
<col width="366">
<tr valign="top">
    <td rowspan="2" width="550">
        <div style="font-weight: bold; font-size: 18px; line-height: 21px;"><% unless @lang %>Информация об оплате<br><% end %>Payment Information</div>
        <div style="font-size: 10px; line-height: 10px;"><br></div>
        <table cellspacing="0" cellpadding="0" style="font-size: 13px; line-height: 18px;">
        <tbody valign="top">
        <col width="320">
        <col width="20">
        <col width="190">
        <%= render :partial => 'pnr/main_prices' %>
        <tr>
            <td><% unless @lang %>Форма оплаты <span style="color: #C0C0C0;">/</span> <% end %>Paid by</td>
            <td><br></td>
            <td><%= @prices.paid_by %></td>
        </tr>
        </tbody>
        </table>
    </td>
    <td width="366">
        <div style="font-weight: bold; font-size: 18px; line-height: 21px;"><% unless @lang %>Данные покупателя<br><% end %>Customer Details</div>
        <div style="font-size: 10px; line-height: 10px;"><br></div>
        <% if @pnr.email || @pnr.phone %>
        <div style="font-size: 13px; line-height: 18px;">
            <%= [@pnr.email, @pnr.phone].compact.join(', ') %>
        </div>
        <div style="font-size: 10px; line-height: 10px;"><br></div>
        <% end %>        
    </td>
</tr>
<tr valign="bottom">
    <td style="font-weight: bold; font-size: 16px; line-height: 20px; color: #F90A6F;">
        Спасибо за заказ на <a href="https://www.eviterra.com/" style="text-decoration: none; color: #F90A6F;">eviterra.com</a><br>
        Thank you for order with <a href="https://www.eviterra.com/" style="text-decoration: none; color: #F90A6F;">eviterra.com</a>
    </td>
</tr>
</table>
