<div style="width: 940px; margin: 0 auto;">

<table cellspacing="0" cellpadding="0" width="100%" style="color: #444; font-size: 16px; line-height: 1.25; font-family: Arial, sans-serif; letter-spacing: -0.02em;">
<col width="355">
<col width="*">
<col width="140">
<col width="200">
<tbody valign="bottom">
<tr>
    <td class="pad_null"><img src="/img/booking/eviterra.png" alt="eviterra" width="350" height="78"></td>
    <td class="pad_null">
        <div style="margin: 0 0 2px;"><font size="4" family="Arial" color="#444444" style="font-size: 20px;"><strong>Электронный билет<br>E-ticket</strong></font></div>
    </td>
    <td class="pad_null">
        <div><font family="Arial" size="3" color="#444444" style="font-size: 14px; line-height: 14px;"><strong>Номер брони</strong></font></div>
        <div><font size="5" family="Arial" color="#ED1192" style="font-size: 30px; line-height: 32px; color: #ED1192;"><strong><%= @pnr.number %></strong></font></div>
    </td>
    <td class="pad_null">
        <div><font family="Arial" size="3" color="#444444" style="font-size: 14px; line-height: 14px;"><strong>Номер билета</strong></font></div>
        <div><font size="5" family="Arial" color="#ED1192" style="font-size: 30px; line-height: 32px; color: #ED1192;"><strong style="white-space: nowrap;"><nobr>123 456789123</nobr></strong></font></div>    
    </td>
</tr>
</tbody>
<tbody valign="top">
<tr>
    <td colspan="4"><br></td>
</tr>
<tr>
    <td colspan="3" class="pad_null">
        <table cellspacing="0" cellpadding="0">
        <col width="270">
        <col width="270">
        <tr>
            <td colspan="2" class="pad_null">
                <font size="4" family="Arial" color="#444444" style="font-size: 20px;"><strong>Сведения о пассажирах<br>Passenger Information</strong></font><br>
                <font size="2" style="font-size: 10px;"><br></font>
            </td>
        </tr>
        <% for p in @pnr.passengers %>
        <tr><td colspan="2" style="border-top: 1px solid #e5e5e5;"><font size="1" style="font-size: 6px;"><br></font></td></tr>
        <tr>
            <td class="pad_null"><font family="Arial" size="3" color="#444444"><%= p.first_name %> <%= p.last_name %></font></td>
            <td class="pad_null"><font family="Arial" size="3" color="#444444">123456</font></td>
        </tr>
        <tr><td colspan="2"><font size="1" style="font-size: 6px;"><br></font></td></tr>
        <% end %>
        <tr>
            <td colspan="2" style="border-top: 1px solid #e5e5e5;"><font size="1" style="font-size: 6px;"><br></font></td>
        </tr>
        </table>
    </td>
    <td class="pad_null">
        <div><font size="4" family="Arial" color="#444444" style="font-size: 20px;"><strong>Сведения об агенте<br>Agent Information</strong></font></div>
        <font size="1" style="font-size: 8px;"><br></font>
        <div>Eviterra Travel JSC<br>+7 (495) 660-35-20<br>www.eviterra.com<br>ticket@eviterra.com</div>
    </td>
</tr>
</tbody>
</table>
<br>
<br>
<table cellspacing="0" cellpadding="0" width="100%" style="color: #444; font-size: 16px; line-height: 1.25; font-family: Arial, sans-serif; letter-spacing: -0.02em;">
<col width="270">
<col width="*">
<col width="35">
<col width="*">
<col width="35">
<col width="110">
<thead valign="bottom">
<tr>
    <td class="pad_null"><font family="Arial" size="4" color="#444444" style="font-size: 20px;"><strong>Сведения о маршруте<br>Itinerary Information</strong></font><br><br></td>
    <td class="pad_null" colspan="2"><font family="Arial" size="3" color="#444444"><strong>Отправление<br>Departure</strong></font><br><br></td>
    <td class="pad_null" colspan="2"><font family="Arial" size="3" color="#444444"><strong>Прибытие<br>Arrival</strong></font><br><br></td>
    <td class="pad_null"><br></td>
</tr>
</thead>
<tbody valign="top">
<% for flight in @pnr.flights %>
<tr>
    <td colspan="6" style="border-top: 1px solid #e5e5e5;"><br></td>
</tr>
<tr>
    <td class="pad_null"><%= fmt_date( flight.departure_date ) %></td>
    <td class="pad_null">
        <font size="3" family="Arial" color="#444444">
        <strong><%= fmt_time(flight.departure_time) %></strong><br>
        <font size="1" style="font-size: 8px;"><br></font>
        <%= flight.departure.city.name %>, <%= flight.departure_name %><% if flight.departure_term %>, терминал&nbsp;<%= flight.departure_term %><% end %><br>
        <%= flight.departure_iata %><% if flight.departure_term %>(<%= flight.departure_term %>)<% end %><br>
        <%= flight.operating_carrier_name %><br>        
        <%= flight.flight_number %><br>
        <%= flight.equipment_type_name %><br>
        <% if flight.warning %><%= flight.warning %><br><% end %>
        </font>
        <br>
    </td>
    <td class="pad_null"><br></td>
    <td class="pad_null">
        <font size="3" family="Arial" color="#444444">
        <% if flight.arrival_date != flight.departure_date %><%= fmt_date(flight.arrival_date) %> <% end %><%= fmt_time( flight.arrival_time ) %><br>
        <font size="1" style="font-size: 8px;"><br></font>
        <%= flight.arrival.city.name %>, <%= flight.arrival_name %><% if flight.arrival_term %>, терминал&nbsp;<%= flight.arrival_term %><% end %><br>
        <%= flight.arrival_iata %><% if flight.arrival_term %>(<%= flight.arrival_term %>)<% end %><br>
        </font>
    </td>
    <td class="pad_null"><br></td>
    <td class="pad_null">
        <font size="3" family="Arial" color="#444444">Тариф: V</font>
    </td>
</tr>
<% end %>
</tbody>
<tr>
    <td colspan="6" style="border-top: 1px solid #e5e5e5;"><font size="1" style="font-size: 8px;"><br></font></td>
</tr>
<tr>
    <td></td>
    <td colspan="5">
        <div style="padding: 0 0 3px;"><font size="2" family="Arial" color="#444444" style="font-size: 12px;"><font color="#ed1192"><strong style="color: #ed1192">Внимание!</strong></font> Указано местное время. Регистрация на рейс заканчивается как правило за 40 минут до вылета</font></div>
        <div style="padding: 0 0 3px;"><font size="2" family="Arial" color="#444444" style="font-size: 12px;"><font color="#ed1192"><strong style="color: #ed1192">Attention!</strong></font> Local time is indicated. Check-in ends mostly 40 minutes before departure time</font></div>
    </td>
</tr>
</table>
<br>
<table cellspacing="0" cellpadding="0" style="color: #444; font-size: 16px; line-height: 1.25; font-family: Arial, sans-serif; letter-spacing: -0.02em;">
<col width="270">
<col width="270">
<tr>
    <td colspan="2" class="pad_null">
        <font size="4" family="Arial" color="#444444" style="font-size: 20px;"><strong>Сведения об оплате<br>Payment Information</strong></font><br>
        <font size="2" style="font-size: 10px;"><br></font>
    </td>
</tr>
<tr><td colspan="2" style="border-top: 1px solid #e5e5e5;"><font size="1" style="font-size: 6px;"><br></font></td></tr>
<tr>
    <td class="pad_null"><font family="Arial" size="3" color="#444444">Тариф / Fare</font></td>
    <td class="pad_null"></td>
</tr>
<tr><td colspan="2"><font size="1" style="font-size: 6px;"><br></font></td></tr>
<tr><td colspan="2" style="border-top: 1px solid #e5e5e5;"><font size="1" style="font-size: 6px;"><br></font></td></tr>
<tr>
    <td class="pad_null"><font family="Arial" size="3" color="#444444">Налоги и сборы / Taxes</font></td>
    <td class="pad_null"></td>
</tr>
<tr><td colspan="2"><font size="1" style="font-size: 6px;"><br></font></td></tr>
<tr><td colspan="2" style="border-top: 1px solid #e5e5e5;"><font size="1" style="font-size: 6px;"><br></font></td></tr>
<tr>
    <td class="pad_null"><font family="Arial" size="3" color="#444444">Итоговая стоимость / Total</font></td>
    <td class="pad_null"></td>
</tr>
<tr><td colspan="2"><font size="1" style="font-size: 6px;"><br></font></td></tr>
<tr><td colspan="2" style="border-top: 1px solid #e5e5e5;"><font size="1" style="font-size: 6px;"><br></font></td></tr>
<tr>
    <td class="pad_null"><font family="Arial" size="3" color="#444444">Форма оплаты / Paid by</font></td>
    <td class="pad_null"></td>
</tr>
<tr><td colspan="2"><font size="1" style="font-size: 6px;"><br></font></td></tr>
<tr><td colspan="2" style="border-top: 1px solid #e5e5e5;"><font size="1" style="font-size: 6px;"><br></font></td></tr>
<tr>
    <td class="pad_null"><font family="Arial" size="3" color="#444444">Адрес покупателя / E-mail</font></td>
    <td class="pad_null"><font family="Arial" size="3" color="#444444"><%= @pnr.email %></font></td>
</tr>
<tr><td colspan="2" style="border-bottom: 1px solid #e5e5e5;"><font size="2" style="font-size: 6px;"><br></font></td></tr>
</table>
<div style="text-align: center; color: #444; font-size: 24px; line-height: 1.25; font-family: Arial, sans-serif; letter-spacing: -0.02em;">
<font size="5"><br></font>
<center>
    <font family="Arial" size="5" color="#444444"><strong>Спасибо за то, что забронировали на <span style="color: #ED1192;"><font color="#ED1192">eviterra.com</font></span>!</strong></font><br>
    <font family="Arial" size="5" color="#444444"><strong>Thank you for booking at <span style="color: #ED1192;"><font color="#ED1192">eviterra.com</font></span>!</strong></font><br>
</center>
</div>

<div style="margin: 50px 0">Терминал: <pre><%=h @pnr.raw %></pre></div>
</div>


<%
=begin
%>
<h3>Lowest fare</h3>


Цены:
<table>
<tr>
<th>Тип</th>
<th>Цена</th>
<th>Валюта</th>
</tr>
<% for p in @pnr.prices %>
<tr>
<td><%= p.fareDataQualifier %> </td>
<td><%= p.fareAmount %></td>
<td><%= p.fareCurrency %></td>
</tr>
<% end %>
</table>

Налоги:
<table>
<tr><th>isoCountry</th><th>taxNature</th><th>fareAmount</th><th>fareCurrency</th></tr>
<% for t in @pnr.taxes %>
<tr>
<td><%= t.isoCountry %></td>
<td><%= t.taxNature %></td>
<td><%= t.fareAmount %></td>
<td><%= t.fareCurrency %></td>
</tr>
<% end %>
</table>
<%
=end
%>
