<tbody valign="top">
<tr>
    <td class="pad_null"><img src="https://eviterra.com/img/booking/eviterra.png" alt="eviterra" width="210" height="30"></td>
    <td class="pad_null" colspan="2">
      <font size="3" family="Arial" style="font-size: 15px;"><strong><% unless @lang %>Электронный билет<br><%end%>E-ticket</strong></font>
    </td>

    <%= render :partial => 'pnr/numbers' %>

</tr>
</tbody>

<%= render :partial => 'pnr/passengers' %>
<%= render :partial => 'pnr/flights' %>

  <tbody valign="top">
  <tr>
      <td colspan="6" class="pad_null">
          <% unless @lang %><font size="2" family="Arial"><strong>Обратите внимание</strong>, что время отправления и прибытия указано местное. Регистрация на внутренние рейсы заканчивается как правило за 40 минут до отправления, на международные рейсы — за полтора часа до отправления.</font><br><%end%>
          <font size="1" style="font-size: 6px;"><br></font>
          <font size="2" family="Arial"><strong>Attention!</strong> Local departure and arrival time is indicated.</font>
      </td>
  </tr>
  <tr>
      <td colspan="6" class="pad_null"><font size="3">&nbsp;<br></font></td>
  </tr>
  </tbody>
  <tbody valign="top">
  <tr>
      <td class="pad_null">
          <font family="Arial" size="3" style="font-size: 18px;"><strong><% unless @lang %>Сведения об оплате<br><%end%>Payment Information</strong></font><br>
          <font size="1" style="line-height: 8px;"><br></font>
      </td>
      <td class="pad_null" colspan="5"><br></td>
  </tr>
  <tr>
      <td class="pad_null">
          <font family="Arial" size="2">
          <% unless @lang %>Тариф /<%end%> Fare<br>
          <% unless @lang %>Налоги и сборы /<%end%> Taxes<br>
          <% unless @prices.price_declared_discount.zero? %>
            <% unless @lang %>Скидка /<%end%> Discount<br>
          <% end %>
          <% unless @lang %>Итоговая стоимость /<%end%> Total<br>
          <% if @prices.show_vat? && @prices.sold_tickets.present? %>

            <% unless @lang %>В том числе НДС <br><%end%>
          <% end %>
          <% unless @lang %>Форма оплаты /<%end%> Paid by<br>
          <% unless @lang %>Дата оформления /<%end%> Issue date
          </font>
      </td>
      <td class="pad_null" colspan="2">
          <font family="Arial" size="2">
          <%= exact_price(@prices.price_fare) %> RUB<br>
          <%= exact_price(@prices.price_tax_and_markup_and_payment) %> RUB<br>
          <% unless @prices.price_declared_discount.zero? %>
            <%= exact_price(@prices.price_declared_discount) %> RUB<br>
          <% end %>
          <%= exact_price(@prices.recalculated_price_with_payment_commission) %> RUB<br>
          <% if @prices.show_vat?  && @prices.sold_tickets.present? %>
            <%= exact_price(@prices.vat) %> RUB<br>
          <% end %>
          <%= @prices.paid_by %><br>
          <%= @prices.created_at.strftime('%d.%m.%y') %>
          </font>
      </td>
      <td class="pad_null" colspan="3">
          <font family="Arial" size="2"><% unless @lang %>Адрес и телефон покупателя<br><%end%>Email and phone number</font><br>
          <font family="Arial" size="1" style="font-size: 6px;"><br></font>
          <font family="Arial" size="2">
          <% if @pnr.email %>
              <a href="mailto:<%= @pnr.email %>" target="_blank" style="color: #ed1192;"><font color="#ed1192"><%= @pnr.email %></font></a><br>
          <% end %>
          <%= @pnr.phone %>
          </font>
      </td>
  </tr>
  </tbody>

<tbody valign="top">
<tr>
    <td class="pad_null" style="text-align: center; font-size: 24px; line-height: 1.25; letter-spacing: -0.02em;" colspan="6">
    <font size="5"><br></font>
    <center>

      <% unless @lang %><font family="Arial" size="5"><strong>Спасибо за покупку на <a href="http://www.eviterra.com/" style="color: #ED1192; text-decoration: none;"><font color="#ED1192">eviterra.com</font></a>!</strong></font><br><%end%>
      <font family="Arial" size="5"><strong>Thank you for purchase at <a href="http://www.eviterra.com/" style="color: #ED1192; text-decoration: none;"><font color="#ED1192">eviterra.com</font></a>!</strong></font><br>

    </center>
    </td>
</tbody>

