<%= google_now_template(@pnr, @passengers)%>
<%= render :partial => 'pnr/header', locals: {pnr_type: 'ticket'} %>
<%= render :partial => 'pnr/flights' %>
<br>
<%= render :partial => 'pnr/upsales' unless @lang %>
<br>
<%= render :partial => 'pnr/details', locals: {pnr_type: 'ticket'} %>
<%= render :partial => 'pnr/footer' %>
<% unless @lang %>
<div style="width: 916px; font-size: 13px; line-height: 15px; font-family: Arial, sans-serif; color: #777777;">
Согласно письму Министерства финансов России № 03–03–06/1/717 от 11.10.2007 данная маршрутная квитанция и посадочный талон
являются достаточными документами для предоставления отчетности в бухгалтерию по месту работы, если это требуется.
</div>
<% end %>
