<script type="text/javascript">

<% for attr in [:ticketed_date, :created_at] %>
$(function(){
  if ($('#<%= attr %>').length) {
    var input = '<label for="<%= attr %>">Дата: <input name="<%= attr %>" id="<%= attr %>" type="text" value="<%= params[attr] %>" style="height: 1.8em;" /></label>'
    $('#<%= attr %>').parent().html(input);

    $('#<%= attr %>').daterangepicker({
            earliestDate: '02/02/11',
            latestDate: '02/02/12',
            dateFormat: 'yy-m-d',
            rangeSplitter: '/',
            datepickerOptions: {
                    duration: 'fast',
                    minDate: new Date(2011, 1 - 1, 1),
                    maxDate: '+1m +1w',
                    changeMonth: true,
                    changeYear: true,
                    firstDay: 1.
            }
    }); 
  }
});
<% end %>

</script>
<ul class="additional_actions">
  <li><%= link_to 'экспорт в Excel', params.merge(:format => 'csv') %></li>
</ul>
