<% content_for :main_grid do %>

<%if @item.versions.size > 0 %>

<h2>История изменений</h2>

<table>
  <thead>
    <tr>
      <th>Дата</th>
      <th>Автор</th>
      <th>Изменения</th>
    </tr>
  </thead>
  <% @item.versions.each do |version| %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%= I18n.l(version.created_at, :format => 'long') %></td>
    <td><%= version.whodunnit || '--' %></td>
    <td>
    <% version.changeset.each do |attribute, (before, after)| %>
      <strong><%= @resource.human_attribute_name(attribute) %></strong>:
      <%= before %> → <%= after %>
      <br><br>
    <% end %>
  </td>
  <% end %>
</table>
<% else %>
  <h2>Нет истории изменений</h2>
<% end %>

<% end %>