<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="utf-8">
    <title>Eviterra — отказ от подписки</title>
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag 'static/all', 'booking/payment' %>
    <%= javascript_include_tag "local/ru", 'static' %>
</head>
<body>
<div class="page-wrapper">
<%= render 'shared/header' %>
<div id="back2search">
    <div class="bs-content"><a class="bs-link" href="/">Поиск авиабилетов</a></div>
</div>

<div class="p-message">
    <h3 class="pm-title">Отказ от подписки</h3>
    <p class="pm-tip">Подписка отменена. Спасибо, что пользуетесь нашими услугами.</p>
</div>
   
<div class="page-buffer"></div>
</div>
<%= render 'shared/footer' %>
</body>
</html>
