%html
  %head

  %body
    %h1 Availability Summary
    %p
      - @availability_summary.each do |klass, availability|
        = (link_to klass, show_seat_map_url(params[:flight], klass))+ availability
    - if @seat_map
      - @seat_map.segments.each_with_index do |segment, seg_index|
        %h1 aircraft #{segment.aircraft} #{Airplane[segment.aircraft].name rescue "not in database"}
        %h2
          segment #{seg_index+1}:
          #{segment.departure_iata} - #{segment.arrival_iata} (#{segment.departure_date})
        - segment.cabins.each_with_index do |cabin, cab_index|
          %table(border=1)
            %h3
              cabin #{cab_index+1} : #{cabin.class}
            %tr
              %th
              - cabin.columns.each do |column_name, column|
                %th(width=30) #{column.name} <sub>#{debug_chars('column', column)}</sub>
                - if column.aisle_to_the_right
                  %th aisle
            - cabin.rows.each do |row_number, row|
              %tr
                - if row.overwing_row?
                  %th(bgcolor="gray") #{row.number} <sub>#{debug_chars('row', row)}</sub>
                - else
                  %th #{row.number} <sub>#{debug_chars('row', row)}</sub>

                - cabin.columns.each do |column_name, column|
                  - seat = row.seats[row.number + column_name]
                  - if column.aisle_to_the_left
                    %td(style="border-width:0")
                  - if seat.no_seat?
                    %td(style="border-width:0")
                  - elsif seat.available?
                    %td(bgcolor="#ddffdd")
                      %sub= debug_chars('seat', seat)
                  - else
                    %td(bgcolor="#ffdddd")
                      %sub= debug_chars('seat', seat)

      %h2 Seat characteristics
      %table
        - SeatMap::SEAT_PROPS.each do |prop, description|
          %tr
            %th
              %a(name="seat_#{prop}")= prop
            %td= description

      %h2 Row characteristics
      %table
        - SeatMap::ROW_PROPS.each do |prop, description|
          %tr
            %th
              %a(name="row_#{prop}")= prop
            %td= description
