<div class="bc-sides">
<div class="bc-front">
    <div class="bc-type" title="Вы можете использовать карты платёжных систем Visa или MasterCard">
        <img class="bc-visa" src="/img/booking/visa.png" alt="Visa"><span class="bc-type-or">&nbsp;или&nbsp;</span><img class="bc-master" src="/img/booking/mastercard.png" alt="MasterCard">
    </div>
    <div class="bc-number">
        <h6 class="blabel"><label for="bc-num1" title="Шестнадцатизначный номер карты">Номер карты</label></h6>
        <div class="bcn-fields">
        <%= f.text_field :number1, :id => "bc-num1", :class => "bfield ClickTaleSensitive", :maxlength => "4" %>
        <%= f.text_field :number2, :id => "bc-num2", :class => "bfield ClickTaleSensitive", :maxlength => "4" %> 
        <%= f.text_field :number3, :id => "bc-num3", :class => "bfield ClickTaleSensitive", :maxlength => "4" %>
        <%= f.text_field :number4, :id => "bc-num4", :class => "bfield ClickTaleSensitive", :maxlength => "4" %>
        </div>
    </div>
    <div class="bc-name">
        <h6 class="blabel"><label for="bc-num1" title="Имя и фамилия латинскими буквами, как на карте">Имя на&nbsp;карте</label></h6>    
        <%= f.text_field :name, :id => 'bc-name', :class => "bfield" %>
        <div class="bwarning language-warning">Пожалуйста, переключитесь на&nbsp;английскую раскладку клавиатуры. Имя нужно вводить латинскими буквами</div>
    </div>
    <div class="bc-exp">
        <h6 class="blabel"><label for="bc-exp-month" title="На карте обозначен как &laquo;VALID THRU&raquo;">Срок действия</label></h6>
        <div class="wrap">
            <div class="date-item" title="Месяц окончания действия карты"><label class="placeholder" for="bc-exp-month">ММ</label><%= f.text_field :month, :id => "bc-exp-month", :class => "bfield date-month ClickTaleSensitive", :maxlength => "2" %></div>
            <div class="date-item" title="Год окончания действия карты"><label class="placeholder" for="bc-exp-year">ГГ</label><%= f.text_field :year_short, :id => "bc-exp-year", :class => "bfield date-year ClickTaleSensitive", :maxlength => "2" %></div>
        </div>
    </div>
</div>
<div class="bc-back">
    <div class="bc-stripe">&nbsp;</div>
    <div class="bc-cvv">
        <h6 class="blabel"><label for="bc-cvv" title="Трёхзначный CVV (CVC) код карты. Карта без этого кода не подходит для оплаты услуг через интернет.">CVV/CVC</label></h6>
        <div id="bc-num-sample" title="Последние четыре цифры номера карты"><span class="empty">####</span></div>
        <%= f.text_field :verification_value, :id => "bc-cvv", :class => "bfield ClickTaleSensitive", :maxlength => "3" %>
    </div>
</div>
</div>
