<div class="section book-bc" onclick="return 'BankCard'">
    <div class="payments">
        <p>Данные вашей банковской карты обрабатываются платежным центром <a target="_blank" href="http://www.alfabank.ru/">Альфа-Банка</a> и защищены ключом шифрования, выданным компанией <a target="_blank" href="http://www.thawte.com/">Thawte</a></p>
        <img class="alfa" src="/img/booking/alfabank.png" alt="Альфа-Банк">
        <img class="thawte" src="/img/booking/thawte.png" alt="Thawte">
    </div>
    <ul class="bankcard">
        <li class="bc-front">
            <p id="bc-type" class="bc-type g-xxs" title="Вы можете использовать карточки платёжных систем Visa или MasterCard">
                <i class="bc-visa"></i><b>&nbsp;или&nbsp;</b><i class="bc-master"></i>
            </p>

            <fieldset class="bc-num">
                <legend></legend>
                <label
                 for="bc-num1"
                 class="g-xs"
                 title="Шестнадцатизначный номер карты"
                >Номер карты</label>
                <div class="bc-num-fields">
                <%= f.text_field :number1,
                 :id => "bc-num1",
                 :class => "text g-xl",
                 :maxlength => "4",
                 :title => "первые четыре цифры номера карты",
                 :onclick => "return {mask: /\\d/, rules: {req: true, num: true, minl: 4, maxl: 4, gender: 'D'}}"
                %>
                <%= f.text_field :number2,
                 :id => "bc-num2",
                 :class => "text g-xl",
                 :maxlength => "4",
                 :title => "вторые четыре цифры номера карты",
                 :onclick => "return {mask: /\\d/, rules: {req: true, num: true, minl: 4, maxl: 4, gender: 'D'}}"
                %>
                <%= f.text_field :number3,
                 :id => "bc-num3",
                 :class => "text g-xl",
                 :maxlength => "4",
                 :title => "предпоследние четыре цифры номера карты",
                 :onclick => "return {mask: /\\d/, rules: {req: true, num: true, minl: 4, maxl: 4, gender: 'D'}}"
                %>
                <%= f.text_field :number4,
                 :id => "bc-num4",
                 :class => "text g-xl",
                 :maxlength => "4",
                 :title => "последние четыре цифры номера карты",
                 :onclick => "return {mask: /\\d/, rules: {req: true, num: true, minl: 4, maxl: 4, gender: 'D'}}"
                %>
                </div>
                <%= f.error_message_on :number, :id => 'error_card_number' %>
            </fieldset>

            <fieldset class="bankcardname text-upper">
                <legend></legend>
                <label 
                 for="bc-name"
                 class="g-xs"
                 title="Имя и фамилию нужно вписать латинскими буквами &mdash; точно, как на карте"
                >Имя на&nbsp;карте</label>
                <%= f.text_field :name,
                  :id => 'bc-name',
                  :class => "text g-l",
                  :title => "имя на карте",
                  :onclick => "return {mask: /[a-z ]/i, rules: {latin: true, minl: 3}}" %>
                <%= f.error_message_on :name, :id => 'error_card_name' %>
                <div class="language-warning">Пожалуйста, переключитесь на&nbsp;английскую раскладку клавиатуры. Имя нужно вводить латинскими буквами</div>                 
            </fieldset>

            <fieldset class="bc-exp">
                <legend></legend>
                <label for="bc-exp-mm" class="g-xs" title="На карте обозначено как &laquo;VALID THRU&raquo;">Срок действия</label>

                <%= f.text_field :month,
                 :id => "bc-exp-mm",
                 :class => "text g-l",
                 :maxlength => "2",
                 :value => @order.card.month  || "мм",
                 :title => "месяц окончания действия карты",
                 :onclick => "return {def: 'мм', mask: /\\d/, rules: {req: true, num: true, minl: 1, maxl: 2, min: 1, max: 12, gender: 'M'}}"
                 %>
                <%= f.error_message_on :month, :id => 'error_card_month' %>
                <i>/</i>
                <%= f.text_field :year_short,
                 :id => "bc-exp-yy",
                 :class => "text g-l",
                 :maxlength => "2",
                 :value =>  @order.card.year_short  ||"гг",
                 :title => "год окончания действия карты",
                 :onclick => "return {def: 'гг', mask: /\\d/, rules: {req: true, num: true, minl: 2, maxl: 2, min: 11, gender: 'M'}}"
                %>
                <%= f.error_message_on :year, :id => 'error_card_year'  %>
            </fieldset>

        <li class="bc-back">
            <p class="magneticstrip">&nbsp;

            <fieldset class="bccvv">
                <legend></legend>
                <label 
                 for="bc-cvv"
                 class="cvv g-xs" 
                 title="Трёхзначный CVV (CVC) код карты. Карта без этого кода непригодна для оплаты услуг через интернет."
                >CVV/CVC</label>

                <label id="bc-cvv-num" for="bc-num4" class="num4 g-xs novalue" title="Последние четыре цифры номера карты"><span class="empty">####</span></label>

                <%= f.text_field :verification_value, 
                 :id => "bc-cvv",
                 :class => "text g-xl",
                 :maxlength => "3",
                 :title => "CVV код банковской карты",
                 :onclick => "return {mask: /\\d/, rules: {req: true, num: true, minl: 3, maxl: 3, gender: 'M'}}"
                %>
                <%= f.error_message_on :verification_value, :id => 'error_card_verification_value' %>
            </fieldset>

            <fieldset class="bankcardbankname g-none">
                <legend></legend>
                <label
                 for="bc-bankname"
                 class="g-xs"
                 title="Банк-эмитент, обозначенный на карте. Можно писать кириллицей или латиницей"
                >Название банка, выпустившего карту</label>

                <input type="text"  
                 id="bc-bankname"
                 name="payment-bankcardbankname"
                 class="text g-l"
                 title="банк, выпустивший карту"
                 onclick="return {rules: {req: false}}"
                >
            </fieldset>
    </ul>

    <table class="bc-bill">
    <tfoot>
        <tr class="g-xxs">
            <td>стоимость <%= @order.people.size == 1 ? 'билета' : 'билетов' %> со&nbsp;всеми налогами и&nbsp;сборами
            <td>
            <td>комиссия банка за&nbsp;проведение платежа
            <td>
            <td>
        </tr>
    </tfoot>
    <tbody>
        <tr>
            <th>Стоимость <%= @order.people.size == 1 ? 'билета' : 'билетов' %>
            <th rowspan="2"><i>+</i>
            <th>Комиссия за&nbsp;транзакцию
            <th rowspan="2"><i>=</i>
            <th>С&nbsp;карты будет списано
        </tr>
        <tr>
            <td><%= decorated_price @order.recommendation.price_total, 'u', 'i' %></td>
            <td><%= decorated_price @order.recommendation.price_payment, 'u', 'i' %></td>
            <td><%= decorated_price @order.recommendation.price_with_payment_commission, 'b', 'i' %></td>
        </tr>
    </tbody>
    </table>
    
    <div class="booking-price g-none">
    <div class="cost"><dl>
        <%= decorated_price @order.recommendation.price_total, 'dt', 'dd' %>
    </dl></div>
    <dl class="sum" data-value="<%= @order.recommendation.price_total.to_i %>">
        <dt>Итого <strong><%= human_price(@order.recommendation.price_total.to_i) %></strong> за всех со всеми сборами</dt>
        <dd>Тариф — <%= human_price((@order.recommendation.price_fare).to_i) %>, налоги и сборы — <%= human_price(@order.recommendation.price_tax_and_markup.to_i) %></dd>
    </dl>    
    </div>
</div>
