<div class="section booking-card">
    <div class="payments">
        <p>Данные вашей банковской карты обрабатываются платежным центром <a target="_blank" href="http://www.alfabank.ru/">Альфа-Банка</a> и защищены 256-битным шифрованием, обеспеченным компанией <a target="_blank" href="http://www.thawte.com/">Thawte</a></p>
        <img class="alfa" src="/img/booking/alfabank.png" alt="Альфа-Банк">
        <img class="thawte" src="/img/booking/thawte.png" alt="Thawte">
    </div>
    <%= render "card", :f => f %>

    <table class="bc-bill">
    <tr>
        <th>Стоимость <%= @order.people.size == 1 ? 'билета' : 'билетов' %></th>
        <th rowspan="2"><i>+</i></th>
        <th>Комиссия за&nbsp;транзакцию</th>
        <th rowspan="2"><i>=</i></th>
        <th>С&nbsp;карты будет списано</th>
    </tr>
    <tr>
        <td><%= decorated_price @order.recommendation.price_total, 'u', 'i' %></td>
        <td><%= decorated_price @order.recommendation.price_payment, 'u', 'i' %></td>
        <td><%= decorated_price @order.recommendation.price_with_payment_commission, 'b', 'i' %></td>
    </tr>
    <tr class="bc-bill-hints">
        <td><p style="width: 165px;">стоимость <%= @order.people.size == 1 ? 'билета' : 'билетов' %> со&nbsp;всеми налогами и&nbsp;сборами</p></td>
        <td></td>
        <td><p style="width: 185px;">комиссия банка за&nbsp;проведение платежа</p></td>
        <td></td>
        <td></td>
    </tr>
    </table>

    <div class="booking-price g-none">
    <div class="cost"><dl>
        <%= decorated_price @order.recommendation.price_total, 'dt', 'dd' %>
    </dl></div>
    <dl class="sum" data-value="<%= @order.recommendation.price_total.round.to_i %>">
        <dt>Итого <strong><%= human_price(@order.recommendation.price_total) %></strong> за всех со всеми сборами</dt>
        <dd>Тариф — <%= human_price(@order.recommendation.price_fare) %>, налоги и сборы — <%= human_price(@order.recommendation.price_tax_and_markup) %></dd>
    </dl>
    </div>
</div>

