<dd class="booking-payment">
<% form_for :card, @card, :url => booking_pay_path do |f| %>
    <ul class="bankcard">
        <li>
            <p class="logos g-xxs" title="Вы можете использовать карточки платёжных систем Visa или MasterCard">
                <i class="visa"></i>&nbsp;или&nbsp;<i class="master inactive"></i>

            <fieldset class="bankcardno">
                <label
                 for="payment-bankcardno"
                 class="g-xs"
                 title="Шестнадцатизначный номер карты"
                >Номер карты</label>

                <%= f.text_field :number1,
                 :id => "payment-bankcardno",
                 :class => "text g-xl",
                 :maxlength => "4"
                %>
                <%= f.text_field :number2,
                 :class => "text g-xl",
                 :maxlength => "4"
                %>
                <%= f.text_field :number3,
                 :class => "text g-xl",
                 :maxlength => "4"
                %>
                <%= f.text_field :number4,
                 :class => "text g-xl",
                 :maxlength => "4"
                %>
                <%= f.error_message_on :number %>
            </fieldset>

            <fieldset class="bankcardname">
                <label 
                 for="payment-bankcardname"
                 class="g-xs"
                 title="Имя и фамилию нужно вписать латинскими буквами &mdash; точно, как на карте"
                >Имя на&nbsp;карте</label>
                <%= f.text_field :name, :id => 'payment-bankcardname', :class => "text g-l" %>
                <%= f.error_message_on :name, :maxlength => 100, :style => "width: 18em;" %>
            </fieldset>

            <fieldset class="bankcardexpires">
                <label for="payment-bankcardexpires-m" class="g-xs" title="На карте обозначено как &laquo;VALID THRU&raquo;">Срок действия</label>


                <%= f.text_field :month, :id => "payment-bankcardexpires-m", :class => "text g-l", :maxlength => "2", :value => "мм", :title => "На карте обозначено как &laquo;MONTH&raquo;" %>
                <%= f.error_message_on :month %>
                <i>/</i>
                <%= f.text_field :year,
                 :id => "payment-bankcardexpires-y",
                 :name => "bankcardexpires-y",
                 :class => "text g-l",
                 :maxlength => "2",
                 :value => "гг",
                 :title => "На карте обозначено как &laquo;YEAR&raquo;"
                %>
                <%= f.error_message_on :year %>
            </fieldset>

        <li>
            <p class="magneticstrip">&nbsp;

            <fieldset class="bankcardcvv">
                <label 
                 for="payment-bankcardcvv" 
                 class="g-xs" 
                 title="Трёхзначный CVV (CVC) код карты. Карта без этого кода непригодна для оплаты услуг через интернет."
                >CVV/CVC</label>

                <b class="g-xs novalue" title="Последние четыре цифры номера карты">XXXX</b>

                <%= f.text_field :verification_value, 
                 :id => "payment-bankcardcvv",
                 :class => "text g-xl",
                 :maxlength => "3"
                %>
                <%= f.error_message_on :verification_value %>
            </fieldset>

            <fieldset class="bankcardbankname">
                <label
                 for="payment-bankcardbankname"
                 class="g-xs"
                 title="Банк-эмитент, обозначенный на карте. Можно писать кириллицей или латиницей"
                >Название банка, выпустившего карту</label>

                <input type="text"  
                 id="payment-bankcardbankname"
                 name="payment-bankcardbankname"
                 class="text g-l"
                >
            </fieldset>
    </ul>

    <table class="bc-bill">
        <tr>
            <th>Стоимость <%= @people.count == 1 ? 'билета' : 'билетов' %>
            <th rowspan="2"><i>+</i>
            <th>Комиссия за&nbsp;транзакцию
            <th rowspan="2"><i>=</i>
            <th>С&nbsp;карты будет списано
        <tr>
            <td><u>25&nbsp;678</u><i>рублей</i>
            <td><u>1&nbsp;265</u><i>рублей</i>
            <td><b>27&nbsp;654</b><i>рубля</i>
        <tfoot>
            <tr class="g-xxs">
                <td>&mdash;&nbsp;стоимость всех билетов с&nbsp;налогами и&nbsp;сборами
                <td>
                <td>&mdash;&nbsp;комиссия платёжной системы за&nbsp;перевод&hellip;ну и&nbsp;нам на&nbsp;сигареты
                <td>
                <td>
    </table>


<% end %>