<div class="section book-c" onclick="return 'Contacts'">
<% fields_for :order do |o| %>
<%= o.hidden_field :number %>
<table>
<col width="314">
<col width="313">
<tr>
    <td>
        <%= o.text_field :email,
          :id => "booking-contacts-email",
          :class => "text g-xl",
          :value => @order.email || "Адрес электронной почты",
          :onclick => "return {def: 'Адрес электронной почты', mask: /[^а-яё]/i, rules: {req: true, email: true}}",
          :title => "электронная почта"
         %>
         <%= o.error_message_on :email, 
           :id => "error_order_email" %>
    <td>
        <%= o.text_field :phone,
          :id => "booking-contacts-phone",
          :class => "text g-xl",
          :value => @order.phone || "Номер телефона",
          :onclick => "return {def: 'Номер телефона', mask: /[\\d \\(\\)\\+-]/i, rules: {req: true}}",
          :title => "номер телефона"
         %>
        <%= o.error_message_on :phone, :id => "error_order_phone" %>
</tr>
<tr>
    <td class="sub g-xxs">
        <label for="booking-contacts-email" title="">На&nbsp;этот адрес мы вышлем <%= @order.people.size == 1 ? 'ваш билет' : 'ваши билеты' %></label>&nbsp;<u class="b-hint" title="Для чего ещё нужен E-mail?">?</u>
        <p>Адрес должен быть реально существующим, чтобы вы&nbsp;смогли получить электронный билет и&nbsp;другие полезные инструкции.</p>

    <td class="sub g-xxs">
        <label for="booking-contacts-phone" title="">Для чего он нужен</label>&nbsp;<u class="b-hint" title="Подробнее об обратной связи">?</u>
        <p>Телефон нужен для связи в&nbsp;экстренных случаях, например, чтобы уладить затруднения с&nbsp;оплатой или сообщить об&nbsp;изменении расписания.</p>
</tr>
</table>
<% end  %>
</div>
