<div class="section booking-contacts">
<%= fields_for :order do |o| %>
<%= o.hidden_field :number %>
<table>
<tr>
    <td>
        <h6 class="blabel"><label for="bcontacts-email">Адрес электронной почты</label></h6>
        <%= o.text_field :email, :id => "bcontacts-email", :class => "bfield" %>
        <div class="bdescription">
            <span class="link hint">Для чего он нужен?</span>
            <p class="htext">Адрес должен быть реально существующим, чтобы вы&nbsp;смогли получить <%= @order.people.size == 1 ? 'ваш электронный билет' : 'ваши электронные билеты' %> и&nbsp;другие полезные инструкции.</p>        
        </div>
    </td>
    <td>
        <h6 class="blabel"><label for="bcontacts-phone">Номер телефона</label></h6>
        <%= o.text_field :phone, :id => "bcontacts-phone", :class => "bfield" %>
        <div class="bdescription">
            <span class="link hint">Для чего он нужен?</span>
            <p class="htext">Телефон нужен для связи в&nbsp;экстренных случаях, например, чтобы уладить затруднения с&nbsp;оплатой или сообщить об&nbsp;изменении расписания.</p>        </div>
        </div>
    </td>
</tr>
</table>
<% end %>
</div>
