<% recommendation = @order_form.recommendation %>
<div class="bf-timer">
<div class="bft-content">
    <h6 class="bft-title"><%= raw t 'booking.countdown.title', :counter => '<span class="bft-counter"></span>' %></h6>
    <p class="bft-description"><%= t 'booking.countdown.description', :passengers => t(@order_form.people.one? ? 'one' : 'few', :scope => 'booking.countdown.passengers') %></p>
</div>
</div>
<div class="b-header"><h3 class="bh-text"><%= t 'booking.title' %></h3></div>
<div class="b-details">
<div class="od-segments">
<% cabins = different_cabins(recommendation, @search.cabin) %>
<% diffCabins = cabins.flatten.compact %>
<% unless diffCabins.empty? %>
    <div class="osd-cabins"><span class="osdn-hlcab">Обратите внимание: некоторые сегменты выполняются <%= t(diffCabins.first, :scope => 'offer.details.cabin_ins') %></span></div>
<% end %>
<% recommendation.variants.first.segments.each_with_index do |segment, scounter| %>
    <%= render :partial => '/pricer/details', :locals => {
        :segment => segment,
        :segment_rt => scounter == 1 && @search.rt,
        :segment_cabins => cabins[scounter]
    } %>
<% end %>
</div>
<div class="od-comments">
    <p class="od-comment"><%= t 'offer.comments.carrier', :carrier_name => recommendation.validating_carrier.name %><% if recommendation.validating_carrier.alliance %> <%= raw t 'offer.comments.alliance', :alliance_link => content_tag('span', nbsp(recommendation.validating_carrier.alliance.name), :class => 'od-alliance', 'data-carriers' => recommendation.validating_carrier.available_bonus_programms.map{|bp| bp.name}.to_sentence) %><% end %> <%= t 'offer.comments.time' %></p>    
    <% recommendation_comments(recommendation).each do |comment| %>
        <p class="od-comment" data-carrier="<%= comment[:carrier] %>"><%= raw comment[:content] %></p>
    <% end %>
    <% if recommendation_deficit(recommendation) %>
        <p class="od-comment"><span class="odc-hl"><%= t 'offer.availability.text', :seats => t('offer.availability', {count: recommendation.availability}) %></span></p>
    <% end %>    
</div>
</div>

<% price_total = @order_form.recommendation.price_with_payment_commission.round.to_i %>
<%= form_for @order_form.card, :as => :card, :url => booking_pay_path, :html => { :id => 'booking-form', :autocomplete => 'off', :novalidate => 'novalidate' } do |f| %>

    <div class="bf-newprice" data-price="<%= price_total %>">
        <h5 class="bfnp-title"><%= raw t 'booking.newprice.title', :price => human_price(price_total) %></h5>
        <h6 class="bfnp-content"><%= raw t 'booking.newprice.description', :tickets => t(@order_form.people.one? ? 'one' : 'few', :scope => 'booking.newprice.tickets'), :other => content_tag('span', t('booking.newprice.other'), :class => 'link') %></h6>
    </div>

    <div class="bf-section bf-persons" data-type="persons">
        <div class="bfs-title">
            <h4 class="bfst-text"><%= t @order_form.people.one? ? 'one' : 'few', :scope => 'booking.passengers' %></h4>
            <!--<div class="bfst-line"></div>-->
        </div>
        <p class="bfp-order" style="display: <%= @order_form.people_count[:infants] > 0 && @order_form.people_count[:adults] > 1 ? 'block' : 'none' %>;"><%= t 'booking.passengers.order' %></p>

        <%= render 'person_form' %>

        <div class="bf-warning" id="bfw-name-latin">
        	<p><%= raw t 'booking.passengers.names.keyboard' %></p>
        	<p class="bfw-tip"><%= raw t 'booking.passengers.names.letters' %></p>
        </div>
        <div class="bf-warning" id="bfw-name-order">
        	<p><%= raw t 'booking.passengers.names.check' %></p>
        	<p class="bfw-tip"><%= raw t 'booking.passengers.names.controls', :swap => content_tag('span', t('booking.passengers.names.swap'), :class => 'link bfwno-swap'), :leave => content_tag('span', t('booking.passengers.names.leave'), :class => 'link bfwno-leave') %></p>
        </div>
        <div class="latent" id="bfh-withseat"><%= raw t 'booking.passengers.with_seat.description' %></div>
        <div class="latent" id="bfh-passport"><%= raw t 'booking.passengers.document.description' %></div>
        <div class="latent" id="bfh-expiration"><%= raw t 'booking.passengers.expiration.description' %></div>        
    </div>

    <%= render 'contacts_form' %>
    
    <div class="bf-section" data-type="payment">
        <div class="bfs-title">
            <h4 class="bfst-text"><%= t @order_form.last_pay_time ? 'card_cash' : 'only_card', :scope => 'booking.payment' %></h4>
            <div class="bfst-tip"><%= raw t 'booking.payment.PCI_DSS' %></div>
            <div class="bfst-line"></div>
        </div>
        <% if @order_form.enabled_delayed_payment? %>
        <div class="bfp-type clearfix">
            <div class="bfpt-item bfpt-selected">
                <h5 class="bfpt-title"><label for="bfpt-card" class="bfpt-label"><%= t 'booking.payment.by_card.label' %></label></h5>
                <p class="bfpt-tip"><label for="bfpt-card"><%= raw t 'booking.payment.by_card.ticket' %></label></p>
                <input type="radio" name="order[payment_type]" class="bfpt-radio" id="bfpt-card" value="card" checked="checked">
            </div>
            <div class="bfpt-item">
                <h5 class="bfpt-title"><label for="bfpt-cash" class="bfpt-label"><%= t 'booking.payment.by_cash.label' %></label></h5>
                <p class="bfpt-tip"><label for="bfpt-cash"><% if !@order_form.enabled_delivery? %><%= raw t 'booking.payment.by_cash.office' %><% else %><%= raw t @order_form.enabled_cash? ? 'both' : 'delivery', :scope => 'booking.payment.by_cash', :sum => human_price(Conf.payment.price_delivery) %><% end %></label></p>
                <input type="radio" name="order[payment_type]" class="bfpt-radio" id="bfpt-cash" value="cash">
            </div>
        </div>
        <% else %>
        <div class="bfp-type">
            <p><%= raw t 'booking.payment.by_card.ticket' %></p>
            <input type="hidden" name="order[payment_type]" value="card">
        </div>
        <% end %>
        <%= render 'payment_cash_form' if @order_form.enabled_delayed_payment? %>
        <%= render 'payment_card_form', :f => f %>
    </div>
    
    <% price_fare = @order_form.recommendation.price_fare.round.to_i %>
    <% price_tax_and_markup = @order_form.recommendation.price_tax_and_markup.round.to_i %>
    <% price_discount = -@order_form.recommendation.price_discount.round.to_i %>
    <div class="bf-footer">
        <div class="bff-left">
            <div class="bff-price">
                <div class="bffp-content">
                    <p class="bffp-card"><%= t 'booking.price.total_card', :count => price_total %><br><%= decorate_price human_price(price_total), '<span class="bffp-sum">', '</span>' %></p>
                    <p class="bffp-nd"><%= t 'booking.price.total_cash' %><br><%= decorate_price human_price(price_total), '<span class="bffp-sum">', '</span>' %></p>
                    <p class="bffp-wd"><%= t 'booking.price.total_cash' %><br><%= decorate_price human_price(price_total + Conf.payment.price_delivery), '<span class="bffp-sum">', '</span>' %></p>
                    <% if @order_form.people.many? %>
                        <p class="bffp-tip"><%= t('booking.price.for_all') %></p>
                    <% end %>
                    <ul class="bffp-details">
                        <li class="bffpd-item"><%= t 'booking.price.fare' %> — <%= short_price(price_fare) %></li>
                        <li class="bffpd-item"><%= t 'booking.price.taxes' %> — <%= short_price(@order_form.recommendation.price_tax) %></li>

                        <% if Conf.site.fee_scheme != 'v3' || @order_form.recommendation.fee > 0 %>
                          <li class="bffpd-item"><%= t 'booking.price.fee' %> — <%= short_price(@order_form.recommendation.fee) %></li>
                        <% elsif @order_form.recommendation.fee < 0 %>
                          <li class="bffpd-item"><%= t 'booking.price.discount' %> — <%= short_price(-@order_form.recommendation.fee) %></li>
                        <% end %>
                        <li class="bffpd-item bffp-wd"><%= t 'booking.price.delivery' %> — <%= short_price(Conf.payment.price_delivery) %></li>
                        <% if price_discount > 0 && Conf.site.fee_scheme != 'v3'%>
                            <li class="bffpd-item"><%= t 'booking.price.fare_compensation' %> — <%= short_price(price_discount) %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bff-right">
            <div class="bff-agree">
                <input type="checkbox" id="bffa-check" checked="checked">
                <%= raw t 'booking.buy.agree' %>
            </div>
            <div class="bff-submit">
                <div class="bf-button">
                    <div class="bfb-title"><%= t 'booking.buy.button' %></div>
                    <div class="bfb-side bfb-left"><div class="bfb-side bfb-right"></div></div>
                </div>
                <div class="bff-disclaimer">
                    <p class="bffd-card"><%= raw t 'booking.buy.card' %></p>
                    <p class="bffd-cash latent"><%= raw t 'booking.buy.cash' %></p>
                </div>
                <div class="bff-progress"><%= t 'booking.buy.progress' %></div>
            </div>
            <div class="bff-required"></div>
        </div>
    </div>
    
<% end %>

<div class="bf-farerules">
<div class="bff-close"></div>
<div class="bff-content">
    <h3 class="bff-title"><%= t 'booking.farerules.title' %></h3>
    <p style="margin: 0 0 12px;"><%= raw t 'booking.farerules.restrictions' %></p>
    <p style="margin: 0 0 12px;"><%= raw t 'booking.farerules.service' %></p>
    <p><%= raw t 'booking.farerules.cancellation' %></p>
    <% @order_form.recommendation.rules.each do |(airline, fare) ,rule| %>
    <div class="bff-group">
        <% if @order_form.recommendation.source != 'sirena' %>
            <div class="bffg-translate"></div>
        <% end %>
        <h5 class="bffg-title"><%= t 'booking.farerules.fare' %> <%= fare %></h5>
        <pre class="bffg-content"><%= raw(rule) %></pre>
    </div>
    <% end %>
</div>
</div>
