<div class="booking g-none" data-variant="<%= @order.variant_id %>">
<div class="stop-booking-panel g-none">
    <p><span class="link stop-booking">Вернуться к выбору вариантов</span></p>
    <div class="shadow"></div>
</div>
<%= form_for @order.card, :as => :card, :url => booking_pay_path, :html => { :autocomplete => "off" } do |f| %>
    
    <!-- Данные пассажиров -->
    <h3>Введите данные <%= @order.people.size == 1 ? 'пассажира' : 'пассажиров' %></h3>
    <%= render :partial => 'person_form', :collection => @order.people %>

    <!-- Банковская карточка -->
    <h3>Введите данные банковской карты</h3>
    <%= render 'card_form' , :f => f %>
            
    <!-- Контакты -->
    <h3>Введите данные покупателя</h3>
    <%= render 'contacts_form' %>

    <!-- Отправка -->
    <div class="book-s">
        <div class="control">
        <table><tr>
            <td class="g-xl">Всё правильно?</td>
            <th><input type="submit" class="a-button g-xl" value="Купить"></th>
            <td class="g-xxs">
                <div class="cancel">или <a class="stop-booking" href="#">вернуться к выбору вариантов</a></div>
                <div class="loading"><br></div>
            </td>
        </tr></table>
        </div>
        <div class="blocker">
            <s></s>
            <h6>Пока невозможно. И вот почему:</h6>
            <ul class="b-pseudo"></ul>
        </div>
        <div class="disclaimer">
            <p>Нажимая «Купить», вы соглашаетесь с&nbsp;<a href="/agreement/" target="_blank">условиями использования</a>, <a href="/iata/" target="_blank">правилами IATA</a> и&nbsp;<a class="farerules-link" href="#">правилами тарифов</a></p>
        </div>
    </div>

<% end %>
<div class="farerules">
    <div class="close"></div>
    <h3>Правила тарифов</h3>
    <p>Внимание! Возврат средств в&nbsp;случае отказа при получении визы, болезни и&nbsp;прочих обстоятельств без штрафных санкций невозможен. Возврат билета производится строго по&nbsp;правилам авиакомпании. В&nbsp;случае комбинации в&nbsp;билете тарифов с&nbsp;различными правилами, наиболее строгие ограничения применются ко&nbsp;всему маршруту.</p>
    <% common_fare = @order.recommendation.rules_with_flights.length == 1 %>
    <% @order.recommendation.rules_with_flights.each do |fgroup| %>
    <% if fgroup[:rule] %>
    <div class="fgroup">
        <div class="fgtranslate">
            <span class="link fgrus">Перевести с помощью</span>
            <span class="link fgeng g-none">Оригинальный текст</span>
            <span class="fgloading g-none">Переводится…</span>
        </div>
        <div class="fgheader">
        <% if common_fare %>
            <p class="clofs">Класс бронирования <%= @order.recommendation.booking_class_for_flight(fgroup[:flights].first) %></p><h5>&nbsp;</h5>
        <% else %>
            <h5><% fgroup[:flights].each_with_index do |flight, i| %><%= flight.departure.city.name %> — <%= flight.arrival.city.name %><%= ', ' if i < fgroup[:flights].length - 1 %><% end %></h5>
            <p class="clofs">Класс бронирования <%= @order.recommendation.booking_class_for_flight(fgroup[:flights].first) %></p>
        <% end %>
        </div>
        <pre><%= fgroup[:rule] %></pre>
    </div>
    <% end %>
    <% end %>
</div>
</div>
