<div class="booking-form" data-variant="<%= @order_form.variant_id %>">
<%= form_for @order_form.card, :as => :card, :url => booking_pay_path, :html => { :autocomplete => "off" } do |f| %>

    <% availability = @order_form.recommendation.availability %>
    <% if availability && availability > 0 && availability < 9 %>
    <div class="availability">
        По этому тарифу осталось <strong><%= availability %>&nbsp;<%= Russian.pluralize(availability, 'место', 'места', 'мест') %></strong>. Не&nbsp;откладывайте покупку.
    </div>
    <% end %>

    <h3 class="bstitle">Введите данные <%= @order_form.people.one? ? 'пассажира' : 'пассажиров' %></h3>
    <% if @order_form.infants.length > 0 && @order_form.adults.length > 1 %> 
        <p class="persons-order"><b>Обратите внимание</b>, что данные о младенце нужно вводить после данных того взрослого пассажира, на руках у которого он полетит.</p>        
    <% end %>
    <%= render :partial => 'person_form', :collection => @order_form.people %>

    <h3 class="bstitle">Введите данные для оплаты</h3>
    <input type="hidden" name="order[payment_type]" id="booking-payment-type" value="card">
    <%= render 'card_form', :f => f %>
    <%= render 'cash_form' if @order_form.last_pay_time %>

    <h3 class="bstitle">Введите данные покупателя</h3>
    <%= render 'contacts_form' %>

    <div class="booking-submit">
        <table>
        <tr>
            <td class="bs-left">Всё правильно?</td>
            <td class="bs-button"><input type="submit" class="a-button" value="Купить" data-text="Купить"></th>
            <td class="bs-right">
                <div class="cancel">или <span class="link stop-booking">вернуться к выбору вариантов</span></div>
                <div class="loading"><br></div>
            </td>
        </tr>
        </table>
        <div class="booking-errors">
            <div class="be-triangle"></div>
            <h6>Пока невозможно. И вот почему:</h6>
            <ul class="be-list"></ul>
        </div>
    </div>

    <div class="booking-disclaimer">
        <p class="payment-card">После нажатия кнопки «Купить» данные пассажиров попадут в&nbsp;систему бронирования, билет будет оформлен и&nbsp;выслан вам на&nbsp;указанный электронный адрес в&nbsp;течение нескольких минут. Нажимая «Купить», вы соглашаетесь с&nbsp;<a href="/agreement/" target="_blank">условиями использования</a>, <a href="/iata/" target="_blank">правилами IATA</a> и&nbsp;<a class="farerules-link" href="#">правилами тарифов</a></p>
        <p class="payment-cash latent">После нажатия кнопки «Купить» подтверждение бронирования будет выслано вам на&nbsp;указанный электронный адрес в&nbsp;течение нескольких минут. Мы свяжемся с&nbsp;вами по&nbsp;телефону для уточнения деталей доставки. Нажимая «Купить», вы соглашаетесь с&nbsp;<a href="/agreement/" target="_blank">условиями использования</a>, <a href="/iata/" target="_blank">правилами IATA</a> и&nbsp;<a class="farerules-link" href="#">правилами тарифов</a></p>
    </div>

<% end %>
</div>
<% if params[:load_variant] %>
    <%= render :partial => 'pricer/variant', :locals => {
      :variant => @order_form.recommendation.journey,
      :recommendation => @order_form.recommendation,
      :variant_cabins => @order_form.recommendation.cabins_except(@search.cabin),
      :variant_summary => nil
    } %>
<% end %>
<div class="booking-price latent">
    <div class="cost"><dl>
        <% price = @order_form.recommendation.price_with_payment_commission.round.to_i %>
        <dt><%= raw price.to_s.sub(/(\d)(\d{3})$/, '\1<span class="digit">\2</span>') %></dt>
        <dd><%= Russian.pluralize(price, 'рубль', 'рубля', 'рублей') %><span class="cost-tip"><%= ' за всех' if @search.people_total != 1 %>, включая налоги и сборы</span></dd>
    </dl></div>
    <dl class="sum" data-value="<%= @order_form.recommendation.price_with_payment_commission.round.to_i %>">
        <dt>Итого <strong><%= human_price(@order_form.recommendation.price_with_payment_commission) %></strong><%= ' за всех' unless @order_form.people.one? %> со всеми сборами</dt>
        <dd>Тариф — <%= human_price(@order_form.recommendation.price_fare) %></dd>
        <dd>Таксы — <%= human_price(@order_form.recommendation.price_tax) %></dd>
        <dd>Сбор — <%= human_price(@order_form.recommendation.fee) %></dd>
        <dd><% unless @order_form.recommendation.price_declared_discount.zero? %>Скидка — <%= human_price(@order_form.recommendation.price_declared_discount) %><% end %></dd>
    </dl>
</div>
<div class="farerules">
    <div class="close"></div>
    <h3>Правила тарифов</h3>
    <p>Обратите внимание, что возврат средств в&nbsp;случае отказа при получении визы, болезни и&nbsp;прочих обстоятельств без штрафных санкций невозможен. Возврат билета производится строго по&nbsp;правилам авиакомпании. В&nbsp;случае комбинации в&nbsp;билете тарифов с&nbsp;различными правилами, наиболее строгие ограничения применяются ко&nbsp;всему маршруту.</p><br>
    <p>Билеты не&nbsp;передаваемые. В&nbsp;случае неявки на&nbsp;рейс, авиакомпания может аннулировать все&nbsp;последующие участки маршрута.</p>
    <% @order_form.recommendation.rules.each do |(airline, fare) ,rule| %>
    <div class="fgroup">
        <% if @order_form.recommendation.source != 'sirena' %>
          <div class="fgtranslate">
              <span class="link fgrus">Перевести с помощью</span>
              <span class="link fgeng g-none">Оригинальный текст</span>
              <span class="fgloading g-none">Переводится…</span>
          </div>
        <% end %>
        <div class="fgheader">
        <p class="clofs">Тариф <%= fare %></p><h5>&nbsp;</h5>
        </div>
        <pre><%= raw(rule) %></pre>
    </div>
    <% end %>
</div>
