<div class="bf-result bfr-fail" data-type="fail">
    <h5 class="bfr-title"><%= t 'booking.failed_payment.title' %></h5>
    <p class="bfr-content"><%= raw t 'booking.failed_payment.reasons' %></p>
    <p class="bfr-content"><%= raw t 'booking.failed_payment.whattodo' %></p>
    <p class="bfr-content"><%= raw t 'booking.failed_payment.support' %></p>
    <p class="bfr-content"><span class="link bfr-back"><%= t 'booking.failed_payment.again' %></span></p>
</div>
