<% price_total = @order_form.recommendation.price_with_payment_commission.round.to_i %>
<div class="bf-result" data-type="newprice" data-price="<%= price_total %>">
    <h5 class="bfnp-title">Авиакомпания изменила стоимость этого предложения</h5>
    <h6 class="bfnp-content">Новая стоимость — <%= price_total %>&nbsp;<%= rubles(price_total) %> (на {1} {0})</h6>
    <p class="bfnp-tip">Так иногда бывает. Цена может меняться как в&nbsp;большую, так и&nbsp;в&nbsp;меньшую сторону. К&nbsp;сожалению, от&nbsp;нас это не&nbsp;зависит. Спасибо за&nbsp;понимание.</p>
    <div class="bfr-controls">
        <div class="ob-button">
            <div class="obb-title">Продолжить покупку</div>
            <div class="obb-side obb-left"><div class="obb-side obb-right"></div></div>
        </div> или <span class="link bfr-cancel">выбрать другой вариант</span>
    </div>
    <% price_fare = @order_form.recommendation.price_fare.round.to_i %>
    <% price_tax_and_markup = @order_form.recommendation.price_tax_and_markup.round.to_i %>
    <div class="bfnp-data">
        <p class="bffp-nd">Итоговая стоимость —<br><span class="bffp-sum"><%= price_total %></span>&nbsp;<%= rubles(price_total) %></p>
        <p class="bffp-wd">Итоговая стоимость —<br><span class="bffp-sum"><%= price_total + 350 %></span>&nbsp;<%= rubles(price_total + 350) %></p>
        <p class="bffp-tip"><%= 'за всех пассажиров' if @order_form.people.many? %></p>
        <ul class="bffp-details">
            <li class="bffpd-item">Тариф — <%= price_fare %> <span class="ruble">Р</span></li>
            <li class="bffpd-item">Таксы и сборы — <%= price_total - price_fare %> <span class="ruble">Р</span></li>
            <li class="bffpd-item">В том числе сервисный сбор — <%= @order_form.recommendation.fee.round.to_i %> <span class="ruble">Р</span></li>
            <li class="bffpd-item bffp-wd">Доставка — 350 <span class="ruble">Р</span></li>
        </ul>
    </div>
</div>
