<div class="bf-cash">
<div class="bfc-deadline"><%= raw t 'booking.cash.due_date', :date => I18n.l(@order_form.last_pay_time || Time.now.tomorrow, :format => '%H:%M %e %B') %></div>
<div class="bfc-delivery"<% unless @order_form.enabled_delivery? && @order_form.enabled_cash? %> style="display: none;"<% end %>>
    <div class="bfc-delivery-item">
        <input type="radio" name="ptype" class="bfcd-radio" value="delivery" id="bfcd-yes"<% if @order_form.enabled_delivery? %> checked="checked"<% end %>>
        <label for="bfcd-yes"><%= raw t 'booking.cash.delivery.label', :sum => human_price(Conf.payment.price_delivery) %></label>
    </div>
    <div class="bfc-delivery-item">
        <input type="radio" name="ptype" class="bfcd-radio" value="cash" id="bfcd-no"<% unless @order_form.enabled_delivery? %> checked="checked"<% end %>>
        <label for="bfcd-no"><%= raw t 'booking.cash.office.label' %></label>
    </div>
</div>
<div class="bfc-address">
    <h6 class="bf-label"><%= t 'booking.cash.delivery.address' %> <span class="bfl-tip">(<%= raw t 'booking.cash.delivery.details' %>)</span></h6>
    <div class="bfca-content">
        <textarea class="bf-field" id="bc-address" name="order[delivery]" rows="5" cols="32"></textarea>
        <div class="bfst-tip bfc-tip"><%= raw t 'booking.cash.delivery.description' %></div>
    </div>
</div>
<div class="bfc-contacts">
    <p><%= raw t 'booking.cash.office.description' %></p>
    <p class="bfcc-text"><a href="/contacts/" target="_blank"><%= t 'booking.cash.office.contacts' %></a></p>
</div>
</div>
