<table class="bfp-table" data-people="<%= @order_form.people.length %>">
<thead>
    <tr>
    <th><h6 class="bf-label">Имя</h6></th>
    <th><h6 class="bf-label">Фамилия</h6></th>
    <th><h6 class="bf-label">Пол</h6></th>
    <th><h6 class="bf-label">Дата рождения</h6></th>
    <th><h6 class="bf-label">Гражданство</h6></th>
    <th><h6 class="bf-label">Номер документа</h6></th>
    <th><h6 class="bf-label">Срок действия</h6></th>    
    </tr>
</thead>
<tbody class="bfp-row">
<tr class="bfp-spacer-row">
    <td colspan="7"><div class="bfp-spacer"></div></td>
</tr>
<tr>
    <td class="bfp-control">
        <input type="text" size="30" name="person_attributes[$n][first_name]" id="bfp$n-first-name" class="bf-field bfp-fname">
    </td>
    <td class="bfp-control">
        <input type="text" size="30" name="person_attributes[$n][last_name]" id="bfp$n-last-name" class="bf-field bfp-lname">
    </td>
    <td class="bfp-control">
        <div class="bfp-sex" id="bfp$n-sex">
            <label class="bfp-sex-m" title="Мужской" for="bfp$n-sex-m">М<input type="radio" value="m" name="person_attributes[$n][sex]" id="bfp$n-sex-m" class="bfp-sex-radio"></label>
            <label class="bfp-sex-f" title="Женский" for="bfp$n-sex-f">Ж<input type="radio" value="f" name="person_attributes[$n][sex]" id="bfp$n-sex-f" class="bfp-sex-radio"></label>
        </div>    
    </td>
    <td class="bfp-control">
        <div class="bfp-date">
            <div class="bfpd-item"><label class="bf-placeholder" for="bfp$n-bday">ДД</label><input type="text" class="bf-field bfpd-day" id="bfp$n-bday" name="person_attributes[$n][birthday(3i)]" maxlength="2" title="День рождения"></div>
            <div class="bfpd-item"><label class="bf-placeholder" for="bfp$n-bmonth">ММ</label><input type="text" class="bf-field bfpd-month" id="bfp$n-bmonth" name="person_attributes[$n][birthday(2i)]" maxlength="2" title="Месяц рождения"></div>
            <div class="bfpd-item"><label class="bf-placeholder" for="bfp$n-byear">ГГГГ</label><input type="text" class="bf-field bfpd-year" id="bfp$n-byear" name="person_attributes[$n][birthday(1i)]" maxlength="4" title="Год рождения" data-current="<%= Date.current.strftime('%Y') %>"></div>
        </div>
    </td>
    <td class="bfp-control">
        <div class="bf-select bfp-nationality">
            <div class="bf-select-arrow"></div>
            <input class="bf-field" value="" disabled="disabled">
            <select name="person_attributes[$n][nationality_id]" id="bfp$n-nationality" class="bf-select-overlay">
                <%= grouped_options_for_select(Country.options_for_nationality_select, 170) %>
            </select>
        </div>
    </td>
    <td class="bfp-control">
        <input type="text" size="20" name="person_attributes[$n][passport]" maxlength="20" id="bfp$n-passport" class="bf-field bfp-passport">
    </td>
    <td class="bfp-control">
        <div class="bfp-date">
            <div class="bfpd-item"><label class="bf-placeholder" for="bfp$n-exp-day">ДД</label><input type="text" class="bf-field bfpd-day" id="bfp$n-exp-day" name="person_attributes[$n][document_expiration_date(3i)]" maxlength="2" title="День окончания срока действия документа"></div>
            <div class="bfpd-item"><label class="bf-placeholder" for="bfp$n-exp-month">ММ</label><input type="text" class="bf-field bfpd-month" id="bfp$n-exp-month" name="person_attributes[$n][document_expiration_date(2i)]" maxlength="2" title="Месяц окончания срока действия документа"></div>
            <div class="bfpd-item"><label class="bf-placeholder" for="bfp$n-exp-year">ГГГГ</label><input type="text" class="bf-field bfpd-year" id="bfp$n-exp-year" name="person_attributes[$n][document_expiration_date(1i)]" maxlength="4" title="Год окончания срока действия документа" data-current="<%= Date.current.strftime('%Y') %>"></div>
        </div>
    </td>
</tr>
<tr>
    <td colspan="6" class="bfp-option">
    <% carrier = @order_form.recommendation.validating_carrier %>
    <% programs = carrier.available_bonus_programms %>
    <% unless programs.empty? %>
        <div class="bf-checkbox">
            <input type="checkbox" value="1" name="person_attributes[$n][bonus_present]" id="bfp$n-bonus">
            <label for="bfp$n-bonus">Есть бонусная карта <%= carrier.alliance ? "альянса #{ carrier.alliance.name }" : "авиакомпании #{ carrier.name }" %></label>
        </div>
    <% end %>
    </td>
    <td class="bfp-option">
        <div class="bf-checkbox">
            <input type="checkbox" value="1" name="person_attributes[$n][document_noexpiration]" id="bfp$n-permanent">
            <label for="bfp$n-permanent">Без срока</label>
        </div>    
    </td>
</tr>
<% unless programs.empty? %>
<tr class="bfp-bonus-fields latent">
    <td colspan="7">
    <div class="bfpb-control">
        <div class="bf-select bfp-bonus-type">
            <div class="bf-select-arrow"></div>        
            <input class="bf-field" value="<%= carrier.iata %>" disabled="disabled">
            <select name="person_attributes[$n][bonuscard_type]" id="bfp$n-bonus-type" class="bf-select-overlay">
                <%= options_for_select(programs.map {|a| [ a.bonus_program_name, a.iata ] }) %>
            </select>        
        </div>
    </div>
    <div class="bfpb-control">
        <label for="bfp$n-bonus-num" class="bf-placeholder bfpb-placeholder">Номер карты</label>
        <input type="text" size="30" name="person_attributes[$n][bonuscard_number]" maxlength="30" id="bfp$n-bonus-num" class="bf-field bfp-bonus-number">        
    </div>
    </td>
</tr>
<% end %>
</tbody>
</table>
