<% fields_for "person_attributes", person_form, :index => person_form_counter do |person| %>
<div class="section book-p" onclick="return 'Person'">
    <table>
        <colgroup>
           <col width="224">
           <col width="224">
           <col width="217">
        </colgroup>        

        <tr>
            <td class="g-middle text-upper">
                <%= person.text_field :first_name,
                 :class => "text text-name g-xl",
                 :title => "имя пассажира",
                 :onclick => "return {def: 'Имя', mask: /[a-z]/i, rules: {req: true, minl: 2, latin: true, gender: 'N'}}"
                 %>
                 <%= person.error_message_on :first_name, 
                 :id => "error_person_#{person_form_counter}_first_name" %>
                 <div class="language-warning">Пожалуйста, переключитесь на&nbsp;английскую раскладку клавиатуры. Имя&nbsp;и&nbsp;фамилию нужно вводить латинскими буквами</div>
            <td class="g-middle text-upper">
                <%= person.text_field :last_name,
                 :class => "text text-name g-xl",
                 :title => "фамилия пассажира",
                 :onclick => "return {def: 'Фамилия', mask: /[a-z]/i, rules: {req: true, minl: 2, latin: true, gender: 'F'}}"
                 %>
                 <%= person.error_message_on :last_name, 
                  :id => "error_person_#{person_form_counter}_last_name" %>
            <td class="g-middle">
                <label
                 class="bold bp-sex-label g-s"
                 title="Пол пассажира"
                >Пол</label>

                <label class="bp-sex bp-sex-m g-xl" title="Мужской" for="book-p-<%= person_form_counter %>-sex-m">
                <%= person.radio_button :sex,
                 'm',
                 :id => "book-p-#{person_form_counter}-sex-m",
                 :title => "пол пассажира"
                 %>м
                </label>
                <label class="bp-sex bp-sex-f g-xl" title="Женский" for="book-p-<%= person_form_counter %>-sex-f">
                <%= person.radio_button :sex,
                 'f',
                 :id => "book-p-#{person_form_counter}-sex-f",
                 :title => "пол пассажира"
                 %>ж
                </label>
                <%= person.error_message_on :sex, 
                 :id => "error_person_#{person_form_counter}_sex" %>

        <tr>
            <td class="g-xxs sub" colspan="2">
                Латинскими буквами, как в загранпаспорте или банковской карточке&nbsp;<u class="b-expand" title="Как правильно написать имя&hellip;"></u>
                <p>
                    Имя и&nbsp;фамилия в авиабилете пишутся латинскими буквами.
                    <br>
                    Написание должно быть точно как в&nbsp;документе, по&nbsp;которому будет выполняться полёт.
                    <br>
                    Дефисы и&nbsp;другие знаки нужно пропустить&nbsp;&mdash;&nbsp;разрешены только буквы.
                </p>
            <td>
        <tr class="label">
            <td>
                <label 
                 for="book-p-<%=person_form_counter%>-nationality"
                 class="bold g-s"
                 title="Гражданство пассажира"
                >Гражданство</label>

            <td>
                <label
                 for="book-p-<%=person_form_counter%>-birth"
                 class="bold g-s"
                 title="Дата рождения пассажира в формате дд/мм/гггг"
                >Дата рождения</label>
            <td>
                <label
                 for="bonus-type-<%=person_form_counter%>"
                 id="bonus-type-<%=person_form_counter%>-label"
                 class="bold g-s g-none"
                 title="Название бонусной программы"
                >Бонусная программа</label>

        <tr>
            <td>
                <%= person.select :nationality_id,
                 grouped_options_for_select(Country.options_for_nationality_select, person_form.nationality_id),
                 {},
                 :id => "book-p-#{person_form_counter+1}-nationality",
                 :class => "text text-value g-xl"
                %>
                <%= person.error_message_on :nationality, 
                 :id => "error_person_#{person_form_counter}_nationality" %>
            <td>
                <input type="text" 
                 id="book-p-<%=person_form_counter%>-birth"
                 name="person_attributes[<%= person_form_counter %>][birthday(3i)]"
                 class="text text-dd g-xl"
                 value="<%= (person_form.birthday &&  person_form.birthday.day) ||"день"%>"
                 title="день рождения"
                 maxlength="2"
                 onclick="return {def: 'день', mask: /\d/, rules: {req: true, num: true, min: 1, max: 31, gender: 'M'}}"
                ><input type="text" 
                 name="person_attributes[<%= person_form_counter %>][birthday(2i)]"
                 class="text text-mm g-xl"
                 value="<%= (person_form.birthday &&  person_form.birthday.month) ||"месяц"%>"
                 title="месяц рождения"
                 maxlength="2"
                 onclick="return {def: 'месяц', mask: /\d/, rules: {req: true, num: true, min: 1, max: 12, gender: 'M'}}"
                ><input type="text" 
                 name="person_attributes[<%= person_form_counter %>][birthday(1i)]"
                 class="text text-yyyy g-xl"
                 value="<%= (person_form.birthday &&  person_form.birthday.year) ||"год"%>"
                 title="год рождения"
                 maxlength="4"
                 onclick="return {def: 'год', mask: /\d/, rules: {req: true, num: true, min: 1900, max: 2020, gender: 'M'}}"
                >
                <%= person.error_message_on :birthday, 
                 :id => "error_person_#{person_form_counter}_birthday" %>
            <td>
                <%= person.select :bonuscard_type,
                 @order.recommendation.validating_carrier.avaliable_bonus_programms.map {|a| [ a.bonus_program_name, a.iata ] },
                 {},
                 :id => "bonus-type-#{person_form_counter}",
                 :class => 'text select-bonus text-value g-xl g-none'
                 %>
                 <%= person.error_message_on :bonuscard_type, 
                  :id => "error_person_#{person_form_counter}_bonuscard_type" %>

        <tr class="label">
            <td>
            <td>
                <label
                 id="bp-<%=person_form_counter%>-expires-label"
                 for="bp-<%=person_form_counter%>-expires-d"
                 class="bold g-s"
                 title="Срок действия документа, который будет предъявлен при посадке. Если у документа срока действия нет, то поставьте отметку справа от поля."
                >Срок действия документа</label>
            <td>
                

        <tr>
            <td>
                <%= person.text_field :passport,
                 :id => "booking-person-#{person_form_counter}-passport",
                 :class => "text g-xl",
                 :maxlength => '100',
                 :title => 'номер документа',
                 :onclick => "return {def: 'Номер документа', rules: {req: true, minl: 1, gender: 'M'}}"
                 %>
                 <%= person.error_message_on :passport, 
                  :id => "error_person_#{person_form_counter}_passport" %>
            <td>
                <input type="text" 
                 id="bp-<%=person_form_counter%>-expires-d"
                 class="text text-dd g-xl"
                 name="person_attributes[<%= person_form_counter %>][document_expiration_date(3i)]"
                 value="<%= (person_form.document_expiration_date &&  person_form.document_expiration_date.day) ||"день"%>"
                 title="день окончания действия документа"
                 maxlength="2"
                 onclick="return {def: 'день', mask: /\d/, rules: {req: true, num: true, min: 1, max: 31, gender: 'M'}}"
                ><input type="text" 
                 id="bp-<%=person_form_counter%>-expires-m"
                 class="text text-mm g-xl"
                 name="person_attributes[<%= person_form_counter %>][document_expiration_date(2i)]"
                 value="<%= (person_form.document_expiration_date &&  person_form.document_expiration_date.month) ||"месяц"%>"
                 title="месяц окончания действия документа"
                 maxlength="2"
                 onclick="return {def: 'месяц', mask: /\d/, rules: {req: true, num: true, min: 1, max: 12, gender: 'M'}}"
                ><input type="text" 
                 id="bp-<%=person_form_counter%>-expires-y"
                 class="text text-yyyy g-xl"
                 name="person_attributes[<%= person_form_counter %>][document_expiration_date(1i)]"
                 value="<%= (person_form.document_expiration_date &&  person_form.document_expiration_date.year) ||"год"%>"
                 title="год окончания действия документа"
                 maxlength="4"
                 onclick="return {def: 'год', mask: /\d/, rules: {req: true, num: true, min: 2010, max: 2050, gender: 'M'}}"
                >
                
                <%= person.error_message_on :document_expiration_date, 
                 :id => "error_person_#{person_form_counter}_document_expiration_date" %>
            <td>
                <%=person.text_field :bonuscard_number,
                 :id => "bonus-num-#{person_form_counter}",
                 :class => 'text input-bonus g-xl g-none',
                 :maxlength => '50',
                 :disabled => 'disabled',
                 :onclick => "return {def: 'Номер карты', rules: {req: true, minl: 2, gender: 'M'}}"
                 %>
                 <%= person.error_message_on :bonuscard_number, 
                  :id => "error_person_#{person_form_counter}_bonuscard_number" %>

        <tr>
            <td class="sub g-xxs">
                Например, загранпаспорта&nbsp;<u class="b-expand" title="Подробнее о документах&hellip;"></u>
                <p>
                    Вы должны быть уверены, что документ пригоден для посещения выбранной страны.
                    <br>
                    Россиянам для полётов внутри страны и в нек страны СНГ обычно подходит общегр пасп, но можно и загран; а за бугор - только загран. Детям - загран или свидетельство.
                    <br>
                    Подробнее см. &laquo;<a href="http://ru.wikipedia.org/wiki/Визовые_требования_для_граждан_России" target="_blank">визовые требования</a>&raquo; на Википедии,
                    а также нашу справочную систему.
                </p>
            <td class="sub g-xxs">
                <%= person.check_box :document_noexpiration,
                {
                 :id => "bp-#{person_form_counter}-noexpiration",
                 :class => "noexpiration g-middle",
                 :onclick => "return {ctrls: '#bp-#{person_form_counter}-expires-d, #bp-#{person_form_counter}-expires-m, #bp-#{person_form_counter}-expires-y', label: '#bp-#{person_form_counter}-expires-label'}"
                }%>

                <label 
                 for="bp-<%=person_form_counter%>-noexpiration"
                 title=""
                 >нет срока действия</label>&nbsp;<u class="b-expand" title="О сроке действия&hellip;"></u>
                 <p>
                     Срока действия нет, например, у российского гражданского паспорта и свидетельства о рождении. Однако, у загранпаспорта срок действия есть, и его надо указать.
                 </p>

            <td class="sub g-xxs">
                <%= person.check_box :bonus_present,
                {
                :id => "bonus-#{person_form_counter}",
                :class => 'bonus',
                :onclick => "return {ctrls: '#bonus-type-#{person_form_counter}, #bonus-num-#{person_form_counter}', label: '#bonus-type-#{person_form_counter}-label'}"
                }%>

                <label 
                 for="bonus-<%= person_form_counter %>"
                 title="Карта участника программы премирования пассажиров (мильной программы или программы для&nbsp;часто летающих пассажиров, англ. frequent flyer program)"
                >есть бонусная карта</label>
                <a class="g-external" href="http://ru.wikipedia.org/wiki/Бонусные_программы_авиакомпаний" target="_blank" title="Что такое бонусная программа? (ссылка откроется в новом окне)"> </a>

    </table>
</div>
<% end  %>
