
<% if person_form_counter > 0 %>
    <h2><%= @numbers[person_form_counter]%> пассажир</h2>
<% end  %>
<% fields_for "data[person_attributes][]", person_form do |person| %>
<dd class="book-p" onclick="return 'Person'">
    <table>
        <tr>
            <td class="g-middle">
                <%= person.text_field :first_name,
                 :class => "text g-xl",
                 :title => "имя пассажира",
                 :onclick => "return {def: 'Имя', req: true, minl: 2, latin: true, symbols: /[a-z]/g}"
                 %>

            <td class="g-middle">
                <%= person.text_field :last_name,
                 :class => "text g-xl",
                 :title => "фамилия пассажира",
                 :onclick => "return {def: 'Фамилия', req: true, minl: 2, latin: true, symbols: /[a-z]/g}"
                 %>
            <td rowspan="2">
                <ul class="radio g-xxs">
                    <li>
                        <%= person.radio_button :sex,
                         'm',
                         :id => "book-p-#{person_form_counter+1}-sex-m"
                         %><label for="book-p-<%=person_form_counter+1%>-sex-m">мужской</label>

                    </li>
                    <li>
                        <%= person.radio_button :sex,
                         'f',
                         :id => "book-p-#{person_form_counter+1}-sex-f"
                         %><label for="book-p-<%=person_form_counter+1%>-sex-f">женский</label>
                </ul>

        <tr>
            <td colspan="2">
                <div class="g-xxs sub">
                    Латинскими буквами, как в загранпаспорте или банковской карточке&nbsp;<u class="b-expand" title="Как правильно написать имя&hellip;"></u>
                    <p>
                        Имя и&nbsp;фамилия в авиабилете пишутся латинскими буквами.
                        <br/>
                        Написание должно быть точно как в&nbsp;документе, по&nbsp;которому будет выполняться полёт.
                        <br/>
                        Дефисы и&nbsp;другие знаки нужно пропустить&nbsp;&mdash;&nbsp;разрешены только буквы.
                    </p>
                </div>

        <tr>
            <td>
                <label 
                 for="book-p-<%=person_form_counter+1%>-nationality"
                 class="bold g-s"
                 title="Гражданство пассажира"
                >Гражданство</label>

            <td>
                <label
                 for="book-p-<%=person_form_counter+1%>-birth"
                 class="bold g-s"
                 title="Дата рождения пассажира в формате дд/мм/гггг"
                >Дата рождения</label>
            <td>

        <tr>
            <td>
                <%= person.select :nationality,
                 grouped_options_for_select(Country.options_for_nationality_select),
                 {},
                 :id => "book-p-#{person_form_counter+1}-nationality",
                 :class => "text text-value g-xl"
                %>
            <td>
                <input type="text" 
                 id="book-p-<%=person_form_counter+1%>-birth"
                 name="data[person_attributes][][birthday(3i)]"
                 class="text text-dd g-xl"
                 value="<%= (person_form.birthday &&  person_form.birthday.day) ||"день"%>"
                 title="день рождения"
                 maxlength="2"
                 onclick="return {def: 'день', req: true, num: true, min: 1, max: 31}"
                ><input type="text" 
                 name="data[person_attributes][][birthday(2i)]"
                 class="text text-mm g-xl"
                 value=<%= (person_form.birthday &&  person_form.birthday.month) ||"месяц"%>
                 title="месяц рождения"
                 maxlength="2"
                 onclick="return {def: 'месяц', req: true, num: true, min: 1, max: 12}"
                ><input type="text" 
                 name="data[person_attributes][][birthday(1i)]"
                 class="text text-yyyy g-xl"
                 value=<%= (person_form.birthday &&  person_form.birthday.year) ||"год"%>
                 title="год рождения"
                 maxlength="4"
                 onclick="return {def: 'год', req: true, num: true, min: 0, max: 2100}"
                >
            <td>

        <tr>
            <td>
            <td>
                <label
                 for="book-p-<%=person_form_counter+1%>-expires"
                 class="bold g-s"
                 title="Срок действия документа, который будет предъявлен при посадке. Если у документа срока действия нет, то поставьте отметку справа от поля."
                >Срок действия документа</label>
            <td>

        <tr>
            <td>
                <%= person.text_field :passport,
                 :id => "booking-person-#{person_form_counter+1}-passport",
                 :class => "text g-xl",
                 :maxlength => '100',
                 :title => 'номер документа',
                 :onclick => "return {def: 'Номер документа', req: true, minl: 1}"
                 %>

                <div class="sub g-xxs">
                    Например, загранпаспорта&nbsp;<u class="b-expand" title="Подробнее о документах&hellip;"></u>
                    <p>
                        Вы должны быть уверены, что документ пригоден для посещения выбранной страны.
                        <br/>
                        Россиянам для полётов внутри страны и в нек страны СНГ обычно подходит общегр пасп, но можно и загран; а за бугор - только загран. Детям - загран или свидетельство.
                        <br/>
                        Подробнее см. &laquo;<a href="http://ru.wikipedia.org/wiki/Визовые_требования_для_граждан_России" target="_blank">визовые требования</a>&raquo; на Википедии,
                        а также нашу справочную систему.
                    </p>
                </div>

            <td>
                <input type="text" 
                 id="book-p-<%=person_form_counter+1%>-expires"
                 class="text text-dd g-xl"
                 name="data[person_attributes][][document_expiration_date(3i)]"
                 value=<%= (person_form.document_expiration_date &&  person_form.document_expiration_date.day) ||"день"%>
                 title="день окончания действия документа"
                 maxlength="2"
                 onclick="return {def: 'день', req: true, num: true, min: 1, max: 31}"
                ><input type="text" 
                 class="text text-mm g-xl"
                 name="data[person_attributes][][document_expiration_date(2i)]"
                 value=<%= (person_form.document_expiration_date &&  person_form.document_expiration_date.month) ||"месяц"%>
                 title="месяц окончания действия документа"
                 maxlength="10"
                 onclick="return {def: 'месяц', req: true, num: true, min: 1, max: 12}"
                ><input type="text" 
                 class="text text-yyyy g-xl"
                 name="data[person_attributes][][document_expiration_date(1i)]"
                 value=<%= (person_form.document_expiration_date &&  person_form.document_expiration_date.year) ||"год"%>
                 title="год окончания действия документа"
                 maxlength="4"
                 onclick="return {def: 'год', req: true, num: true, min: 0, max: 2100}"
                >

                <div class="sub g-xxs">
                    <%= person.check_box :document_noexpiration, {:id => "booking-person-#{person_form_counter+1}-noexpiration", :class => "g-middle", :style => "margin:0"} %>
                    <label 
                     for="booking-person-<%=person_form_counter+1%>-noexpiration"
                     title=""
                     >Нет срока действия</label>&nbsp;<u class="b-expand" title="О сроке действия&hellip;"></u>
                     <p>
                         Срока действия нет, например, у российского гражданского паспорта и свидетельства о рождении. Однако, у загранпаспорта срок действия есть, и его надо указать.
                     </p>
                </div>
            <td>

        <tfoot>
            <tr>
                <td>
                    <%= person.check_box :bonus_present, {:id => "booking-person-#{person_form_counter+1}-bonus",
                    :class => 'g-middle'} %>
                    <label 
                     for="booking-person-<%=person_form_counter+1%>-bonus"
                     class="g-xxs"
                     title="Карта участника программы премирования пассажиров (мильной программы или программы для&nbsp;часто летающих пассажиров, англ. frequent flyer program)"
                     >у&nbsp;пассажира есть <a href="http://ru.wikipedia.org/wiki/Бонусные_программы_авиакомпаний" target="_blank">бонусная карта</a></label>

                <td>
                    <%= person.select :bonuscard_type,
                     ['Аэрофлот Бонус', 'Бонусявый Бонус', 'Бонюсючий Бонус'],
                     {},
                     :class => 'text text-value g-xl -hidden'
                     %>
                <td>
                    <%=person.text_field :bonuscard_number,
                     :class => 'text text-bonus g-xl -hidden',
                     :maxlength => '50',
                     :onclick => "return {def: 'Номер карты', req: false}"
                     %>
    </table>
</dd>
<% end  %>
