<%= fields_for "person_attributes", person_form, :index => person_form_counter do |person| %>
<div class="section booking-person">
<table>
<colgroup>
    <col width="224">
    <col width="224">
    <col width="217">
</colgroup>
<tr>
    <td>
        <h6 class="blabel"><label for="person_attributes_<%= person_form_counter %>_first_name">Имя</label></h6>
        <%= person.text_field :first_name, :class => "bfield" %>            
    </td>
    <td>
        <h6 class="blabel"><label for="person_attributes_<%= person_form_counter %>_last_name">Фамилия</label></h6>
        <%= person.text_field :last_name, :class => "bfield" %>
    </td>
    <td rowspan="2">
        <h6 class="blabel"><label>Пол</label></h6>
        <div class="bp-sex">
            <label class="bp-sex-m" title="Мужской" for="bp-<%= person_form_counter %>-sex-m">М<%= person.radio_button :sex, 'm', :class => "bp-sex-radio", :id => "bp-#{person_form_counter}-sex-m" %></label>
            <label class="bp-sex-f" title="Женский" for="bp-<%= person_form_counter %>-sex-f">Ж<%= person.radio_button :sex, 'f', :class => "bp-sex-radio", :id => "bp-#{person_form_counter}-sex-f" %></label>
        </div>
    </td>
</tr>
<tr>
    <td colspan="2">
        <div class="language-warning">Пожалуйста, переключитесь на&nbsp;английскую раскладку клавиатуры. Имя&nbsp;и&nbsp;фамилию нужно вводить латинскими буквами</div>
        <div class="nameorder-warning">Проверьте пожалуйста, что вы не перепутали поля «Имя» и «Фамилия» <span class="link nameorder-replace">Поменять&nbsp;местами</span> или <span class="link">оставить</span> как есть</div>                    
        <div class="bdescription">
            Латинскими буквами, как в загранпаспорте или банковской карте&nbsp;(<span class="link hint">подробнее</span>)
            <p class="htext">Имя и&nbsp;фамилия в авиабилете пишутся латинскими буквами. Написание должно быть точно как в&nbsp;документе, по&nbsp;которому будет выполняться полёт. Дефисы и&nbsp;другие знаки нужно пропустить&nbsp;&mdash;&nbsp;разрешены только буквы.</p>
        </div>
    </td>
</tr>
<tr>
    <td>
        <h6 class="blabel"><label for="bp-<%= person_form_counter %>-nationality">Гражданство</label></h6>
        <%= person.select :nationality_id, grouped_options_for_select(Country.options_for_nationality_select, person_form.nationality_id), {}, :id => "bp-#{person_form_counter+1}-nationality", :class => "bfield nationality" %>
    </td>
    <td class="bp-birthday">
        <h6 class="blabel"><label for="bp-<%= person_form_counter %>-bday" title="Дата рождения в формате дд/мм/гггг">Дата рождения</label></h6>
        <div class="wrap">
            <div class="date-item"><label class="placeholder" for="bp-<%= person_form_counter %>-bday">ДД</label><input type="text" class="bfield date-day" id="bp-<%= person_form_counter %>-bday" name="person_attributes[<%= person_form_counter %>][birthday(3i)]" maxlength="2" title="День рождения"></div>
            <div class="date-item"><label class="placeholder" for="bp-<%= person_form_counter %>-bmonth">ММ</label><input type="text" class="bfield date-month" id="bp-<%= person_form_counter %>-bmonth" name="person_attributes[<%= person_form_counter %>][birthday(2i)]" maxlength="2" title="Месяц рождения"></div>
            <div class="date-item"><label class="placeholder" for="bp-<%= person_form_counter %>-byear">ГГГГ</label><input type="text" class="bfield date-year" id="bp-<%= person_form_counter %>-byear" name="person_attributes[<%= person_form_counter %>][birthday(1i)]" maxlength="4" title="Год рождения" data-current="<%= Date.current.strftime('%Y') %>"></div>
        </div>
    </td>
    <td>
        <div class="bp-bonus">
            <h6 class="blabel"><label for="bonus-type-<%= person_form_counter %>">Бонусная программа</label></h6>
            <%= person.select :bonuscard_type, @order.recommendation.validating_carrier.available_bonus_programms.map {|a| [ a.bonus_program_name, a.iata ] }, {}, :id => "bonus-type-#{person_form_counter}", :class => 'bfield' %>        
        </div>
    </td>
</tr>
<tr>
    <td>
        <h6 class="blabel"><label for="bp-<%= person_form_counter %>-passport" title="Номер документа, который будет предъявлен при посадке.">Номер документа</label></h6>
        <%= person.text_field :passport, :id => "booking-person-#{person_form_counter}-passport", :class => "bfield", :maxlength => '100' %>
        <div class="bdescription">
            <span class="link hint" title="Подробнее о документах">Какие нужны документы?</span>
            <p class="htext">Для полетов внутри страны подходит российский паспорт (для детей&nbsp;&mdash; свидетельство о&nbsp;рождении). Для полетов за&nbsp;рубеж нужен загранпаспорт. Обратите внимание, что помимо загранпаспорта, для въезда во&nbsp;многие страны требуется соответствующая виза (<a href="http://ru.wikipedia.org/wiki/%D0%92%D0%B8%D0%B7%D0%BE%D0%B2%D1%8B%D0%B5_%D1%82%D1%80%D0%B5%D0%B1%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F_%D0%B4%D0%BB%D1%8F_%D0%B3%D1%80%D0%B0%D0%B6%D0%B4%D0%B0%D0%BD_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8">подробнее в&nbsp;Википедии</a>)</p>
        </div>
    </td>
    <td class="bp-docexp">
        <h6 class="blabel"><label for="bp-<%= person_form_counter %>-eday" title="Срок действия документа в формате дд/мм/гггг. Если у документа нет срока действия, то поставьте отметку под полем.">Срок действия документа</label></h6>
        <div class="wrap">
            <div class="date-item"><label class="placeholder" for="bp-<%= person_form_counter %>-eday">ДД</label><input type="text" class="bfield date-day" id="bp-<%= person_form_counter %>-eday" name="person_attributes[<%= person_form_counter %>][document_expiration_date(3i)]" maxlength="2" title="День окончания срока действия документа"></div>
            <div class="date-item"><label class="placeholder" for="bp-<%= person_form_counter %>-emonth">ММ</label><input type="text" class="bfield date-month" id="bp-<%= person_form_counter %>-emonth" name="person_attributes[<%= person_form_counter %>][document_expiration_date(2i)]" maxlength="2" title="Месяц окончания срока действия документа"></div>
            <div class="date-item"><label class="placeholder" for="bp-<%= person_form_counter %>-eyear">ГГГГ</label><input type="text" class="bfield date-year" id="bp-<%= person_form_counter %>-eyear" name="person_attributes[<%= person_form_counter %>][document_expiration_date(1i)]" maxlength="4" title="Год окончания срока действия документа" data-current="<%= Date.current.strftime('%Y') %>"></div>
        </div>
        <div class="bdescription checkbox">
            <%= person.check_box :document_noexpiration, {:id => "bp-#{person_form_counter}-noexpiration"} %>
            <label for="bp-<%= person_form_counter %>-noexpiration">нет срока действия</label>&nbsp;(<span class="link hint">подробнее</span>)
            <p class="htext">Если вы&nbsp;путешествуете с&nbsp;российским паспортом или свидетельством о&nbsp;рождении, то&nbsp;срок действия указывать не&nbsp;нужно, так как эти документы его не&nbsp;имеют. В&nbsp;загранпаспорте&nbsp;же проставлена дата окончания его действия&nbsp;&mdash; ее&nbsp;необходимо указать.</p>
        </div>
    </td>
    <td>
        <div class="bp-bonus">
            <h6 class="blabel">Номер карты</h6>
            <%= person.text_field :bonuscard_number, :id => "bonus-num-#{person_form_counter}", :class => 'bfield', :maxlength => '50' %>  
        </div>
        <div class="bdescription checkbox<%= raw ' latent' if @order.recommendation.validating_carrier.available_bonus_programms.empty? %>">
            <%= person.check_box :bonus_present, {:id => "bonus-#{person_form_counter}"} %>
            <label for="bonus-<%= person_form_counter %>" title="Карта участника программы премирования пассажиров (мильной программы или программы для&nbsp;часто летающих пассажиров, англ. frequent flyer program)">есть бонусная карта</label>&nbsp;<a class="g-external" href="http://ru.wikipedia.org/wiki/Бонусные_программы_авиакомпаний" target="_blank" title="Что такое бонусная программа? (ссылка откроется в новом окне)">&nbsp;</a>
        </div>
    </td>
</tr>
</table>
</div>
<% end %>

