<table class="bfp-table" data-people="<%= @order_form.adults.length %><%= @order_form.children.length %><%= @order_form.infants.length %>" data-total="<%= @order_form.people.length %>" data-max="<%= recommendation_deficit(@order_form.recommendation) ? @order_form.recommendation.availability : 8 %>" data-date="<%= @order_form.recommendation.variants.first.flights.last.departure_date %>">
<tbody class="bfp-row">
<tr class="bfp-spacer-row">
    <td colspan="7"><div class="bfp-spacer"></div></td>
</tr>
<tr>
    <th><h6 class="bfp-label">Фамилия</h6></th>
    <th><h6 class="bfp-label">Имя</h6></th>
    <th><h6 class="bfp-label">Пол</h6></th>
    <th><h6 class="bfp-label">Дата рождения</h6></th>
    <th><h6 class="bfp-label">Гражданство</h6></th>
    <th><h6 class="bfp-label">Серия и № документа</h6></th>
    <th><h6 class="bfp-label">Срок действия</h6></th>
    <th></th>
</tr>
<tr>
    <td class="bfp-control">
        <input type="text" size="30" name="person_attributes[$n][last_name]" id="bfp$n-last-name" class="bf-field bfp-lname">
    </td>
    <td class="bfp-control">
        <input type="text" size="30" name="person_attributes[$n][first_name]" id="bfp$n-first-name" class="bf-field bfp-fname">
    </td>
    <td class="bfp-control">
        <div class="bfp-sex" id="bfp$n-sex">
            <label class="bfp-sex-m" title="Мужской" for="bfp$n-sex-m">М<input type="radio" value="m" name="person_attributes[$n][sex]" id="bfp$n-sex-m" class="bfp-sex-radio"></label>
            <label class="bfp-sex-f" title="Женский" for="bfp$n-sex-f">Ж<input type="radio" value="f" name="person_attributes[$n][sex]" id="bfp$n-sex-f" class="bfp-sex-radio"></label>
        </div>    
    </td>
    <td class="bfp-control">
        <div class="bfp-date">
            <div class="bfpd-item"><label class="bf-placeholder" for="bfp$n-bday">ДД</label><input type="text" pattern="[0-9]*" class="bf-field bfpd-day" id="bfp$n-bday" name="person_attributes[$n][birthday(3i)]" maxlength="2" title="День рождения"></div>
            <div class="bfpd-item"><label class="bf-placeholder" for="bfp$n-bmonth">ММ</label><input type="text" pattern="[0-9]*" class="bf-field bfpd-month" id="bfp$n-bmonth" name="person_attributes[$n][birthday(2i)]" maxlength="2" title="Месяц рождения"></div>
            <div class="bfpd-item"><label class="bf-placeholder" for="bfp$n-byear">ГГГГ</label><input type="text" pattern="[0-9]*" class="bf-field bfpd-year" id="bfp$n-byear" name="person_attributes[$n][birthday(1i)]" maxlength="4" title="Год рождения" data-current="<%= Date.current.strftime('%Y') %>"></div>
        </div>
    </td>
    <td class="bfp-control">
        <div class="bf-select bfp-nationality">
            <div class="bf-select-arrow"></div>
            <input class="bf-field" value="" disabled="disabled" style="background: #FFF; opacity: 1;">
            <select name="person_attributes[$n][nationality_id]" id="bfp$n-nationality" class="bf-select-overlay">
                <%= grouped_options_for_select(Country.options_for_nationality_select, 170) %>
            </select>
        </div>
    </td>
    <td class="bfp-control">
        <input type="text" size="20" name="person_attributes[$n][passport]" maxlength="20" id="bfp$n-passport" class="bf-field bfp-passport">
    </td>
    <td class="bfp-control">
        <div class="bfp-date">
            <div class="bfpd-item"><label class="bf-placeholder" for="bfp$n-exp-day">ДД</label><input type="text" pattern="[0-9]*" class="bf-field bfpd-day" id="bfp$n-exp-day" name="person_attributes[$n][document_expiration_date(3i)]" maxlength="2" title="День окончания срока действия документа"></div>
            <div class="bfpd-item"><label class="bf-placeholder" for="bfp$n-exp-month">ММ</label><input type="text" pattern="[0-9]*" class="bf-field bfpd-month" id="bfp$n-exp-month" name="person_attributes[$n][document_expiration_date(2i)]" maxlength="2" title="Месяц окончания срока действия документа"></div>
            <div class="bfpd-item"><label class="bf-placeholder" for="bfp$n-exp-year">ГГГГ</label><input type="text" pattern="[0-9]*" class="bf-field bfpd-year" id="bfp$n-exp-year" name="person_attributes[$n][document_expiration_date(1i)]" maxlength="4" title="Год окончания срока действия документа" data-current="<%= Date.current.strftime('%Y') %>"></div>
        </div>
    </td>
    <td class="bfp-remove">
        <span class="bfpr-link">&times;</span>
    </td>
    </td>
</tr>
<tr>
    <td colspan="6" class="bfp-option">
    <div class="bfpo-adult">
    <% carrier = @order_form.recommendation.validating_carrier %>
    <% programs = carrier.available_bonus_programms %>
    <% unless programs.empty? %>
        <div class="bf-checkbox">
            <input type="checkbox" value="1" name="person_attributes[$n][bonus_present]" id="bfp$n-bonus">
            <label for="bfp$n-bonus">Есть бонусная карта <%= carrier.alliance ? "альянса #{ carrier.alliance.name }" : "авиакомпании #{ carrier.name }" %></label>
        </div>
    <% end %>
    </div>
    <div class="bfpo-infant" style="display: none;">
        <div class="bf-checkbox">
            <input type="checkbox" value="1" name="person_attributes[$n][with_seat]" id="bfp$n-seat">
            <label for="bfp$n-seat">С отдельным местом</label> <span class="bfph-link bf-hint" data-hint="bfh-withseat">?</span></span>
        </div>    
    </div>
    </td>
    <td colspan="2" class="bfp-option">
        <div class="bf-checkbox">
            <input type="checkbox" value="1" name="person_attributes[$n][document_noexpiration]" id="bfp$n-permanent">
            <label for="bfp$n-permanent">Без срока</label>
        </div>    
    </td>
</tr>
<% unless programs.empty? %>
<tr class="bfp-bonus-fields latent">
    <td colspan="8">
    <div class="bfpb-control">
        <div class="bf-select bfp-bonus-type">
            <div class="bf-select-arrow"></div>        
            <input class="bf-field" value="<%= carrier.iata %>" disabled="disabled" style="background: #FFF; opacity: 1;">
            <select name="person_attributes[$n][bonuscard_type]" id="bfp$n-bonus-type" class="bf-select-overlay">
                <%= options_for_select(programs.map {|a| [ a.bonus_program_name, a.iata ] }) %>
            </select>        
        </div>
    </div>
    <div class="bfpb-control">
        <label for="bfp$n-bonus-num" class="bf-placeholder bfpb-placeholder">Номер карты</label>
        <input type="text" size="30" name="person_attributes[$n][bonuscard_number]" maxlength="30" id="bfp$n-bonus-num" class="bf-field bfp-bonus-number">        
    </div>
    </td>
</tr>
<% end %>
</tbody>
</table>

<div class="bfp-add">
    <span class="link bfpa-link">Добавить еще одного пассажира</span>
</div>

<div class="latent" id="bfh-withseat">Если младенец летит на&nbsp;отдельном месте, то&nbsp;применяется более высокий, детский тариф. Если младенец летит без&nbsp;места, то&nbsp;его данные вводятся после того пассажира, на&nbsp;руках у&nbsp;которого он полетит.</div>