<% paid = @order_form.payment_type == 'card' %>
<div class="bf-result bfr-success wrap" data-type="success">
<div class="bfrs-message">
    <p class="bfrsm-text"><strong>Все отлично!</strong> <%= @order_form.people.one? ? "Ваш билет #{ paid ? 'оплачен' : 'забронирован' }" : "Ваши билеты #{ paid ? 'оплачены' : 'забронированы' }" %>. Подтверждение будет отправлено на ваш электронный адрес в течение десяти минут. <span class="link bf-hint bfrsm-hint" data-hint="bfh-mail">Что делать, если ничего не пришло?</span</p>
    <p class="bfrsm-text">Номер вашей брони — <span class="bfr-pnr"><%= pnr_number %></span></p>
    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Feviterra&amp;send=false&amp;layout=standard&amp;width=552&amp;show_faces=true&amp;action=recommend&amp;colorscheme=light&amp;font&amp;height=80&amp;appId=155739531227363" scrolling="no" frameborder="0" style="margin-top: 10px; border:none; overflow:hidden; width:552px; height:80px;" allowTransparency="true"></iframe>
</div>
<div class="bfrs-addition">
    <div class="bfrs-actions">
        <h5 class="bfrs-title">Что ещё можно сделать</h5>
        <p class="bfrsa-item"><a target="_blank" href="<%= pnr_path %>">Распечатать подтверждение</a></p>
        <% tweet = order_tweet(@order_form) %>
        <% unless tweet.empty? %>
            <p class="bfrsa-item"><a href="http://twitter.com/?status=<%= tweet %>" target="_blank">Поделиться в Твиттере</a></p>
        <% end %>
        <% gevent = order_event(@order_form) %>
        <% unless gevent.empty? %>        
            <p class="bfrsa-item"><a href="http://www.google.com/calendar/event?action=TEMPLATE&<%= gevent %>" target="_blank">Добавить поездку в Гугл-календарь</a></p>
        <% end %>
    </div>
    <% insurance_url = smart_insurance_uri(@order_form) %>
    <% unless insurance_url.nil? %>
    <div class="bfrs-insurance">    
        <h5 class="bfrs-title">Туристическая страховка онлайн</h5>
        <a class="bfrsi-link" href="<%= insurance_url %>" target="_blank">Узнать стоимость и&nbsp;купить</a>
        <p class="bfrsi-item">Оплата картой</p>
        <p class="bfrsi-item">Электронный полис</p>
        <p class="bfrsi-item">Подходит для визы</p>
        <p class="bfrsi-item">Страхование багажа</p>        
    </div>
    <% end %>
</div>
<p class="latent" id="bfh-mail">Если вы&nbsp;не&nbsp;получили письмо с&nbsp;<% @order_form.payment_type == 'card' ? 'электронным билетом' : 'подтверждением бронирования' %> в&nbsp;течение <nobr>10-15 минут,</nobr> проверьте папку &laquo;Спам&raquo; в&nbsp;вашей почте. Если и&nbsp;там его нет, то&nbsp;напишите нам (<a href="mailto:operator@eviterra.com">operator@eviterra.com</a>) или позвоните <nobr>(+7 495 660-35-20) &mdash;</nobr> мы&nbsp;разберемся.</p>
</div>    
