<% unless threeds  %>
  <div class="result" data-type="success">
      <p class="success"><strong>Всё отлично!</strong> Ваш билет оплачен, забронирован и выслан на&nbsp;ваш электронный адрес. Номер брони&nbsp;— <%= pnr_number %>. Если хотите, можете <a target="_blank" href="<%= pnr_path %>">распечатать</a> ваш билет.</p>
      <p class="tip">
          <a class="stop-booking" href="#">Вернуться к выбору вариантов</a>
          <a href="#">Что делать, если на почту ничего не пришло?</a>
      </p>
  </div>
<% else %>
  <div class="result" data-type="success">
      <p class="success"><strong>Подтверждение 3ds</strong> </p>
      <% form_tag payture_response.acs_url do %>
        <%= hidden_field_tag 'PaReq', payture_response.pa_req %>
        <%= hidden_field_tag 'TermUrl', "http://localhost:3000/confirm_3ds/#{order.order_id}" %>
        <%= hidden_field_tag 'MD', payture_response.threeds_key %>
        <%= submit_tag 'Подтвердить' %>
      <% end %>
      <p class="tip">
          <a class="stop-booking" href="#">Вернуться к выбору вариантов</a>
          <a href="#">Что делать, если на почту ничего не пришло?</a>
      </p>
  </div>
<% end %>