<div class="bf-result bfr-success wrap" data-type="success">
<div class="bfrs-message">
    <p class="bfrsm-text"><strong><%= t 'booking.success.allright' %></strong> <%= t @order_form.people.one? ? 'one' : 'few', :scope => [:booking, :success, @order_form.payment_type == 'card' ? 'card' : 'cash'] %> <%= t 'booking.success.confirmation' %> <span class="link bf-hint bfrsm-hint" data-hint="bfh-mail"><%= t 'booking.success.whattodo.link' %></span</p>
    <p class="bfrsm-text bfrsm-number"><%= raw t 'booking.success.pnr', :number => content_tag(:span, pnr_number, :class => 'bfr-pnr') %></p>
    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Feviterra&amp;send=false&amp;layout=standard&amp;width=552&amp;show_faces=true&amp;action=recommend&amp;colorscheme=light&amp;font&amp;height=80&amp;appId=155739531227363" scrolling="no" frameborder="0" style="margin-top: 10px; border:none; overflow:hidden; width:552px; height:80px;" allowTransparency="true"></iframe>
</div>
<div class="bfrs-addition">
    <div class="bfrs-actions">
        <h5 class="bfrs-title">Что ещё можно сделать</h5>
        <p class="bfrsa-item"><a target="_blank" href="<%= pnr_path %>">Распечатать подтверждение</a></p>
        <% tweet = order_tweet(@order_form) %>
        <% unless tweet.empty? %>
            <p class="bfrsa-item"><a href="http://twitter.com/?status=<%= tweet %>" target="_blank">Поделиться в Твиттере</a></p>
        <% end %>
        <% gevent = order_event(@order_form) %>
        <% unless gevent.empty? %>
            <p class="bfrsa-item"><a href="http://www.google.com/calendar/event?action=TEMPLATE&<%= gevent %>" target="_blank">Добавить поездку в Гугл-календарь</a></p>
        <% end %>
    </div>
    <% if insurance_url = sravnikupi_insurance_uri(@order_form) %>
    <div class="bfrs-insurance">
        <h5 class="bfrs-title">Туристическая страховка</h5>
        <a class="bfrsi-link" href="<%= insurance_url %>" target="_blank">Купить онлайн</a>
        <p class="bfrsi-item">Оплата картой</p>
        <p class="bfrsi-item">Электронный полис</p>
        <p class="bfrsi-item">Подходит для визы</p>
        <p class="bfrsi-item">Страхование багажа</p>        
    </div>
    <% end %>
</div>
<p class="latent" id="bfh-mail"><%= raw t 'booking.success.whattodo.hint' %></p>
</div>    
