<div class="bf-result bfr-success wrap" data-type="success">
<div class="bfrs-social">
    <ul class="bfrss-actions">
        <li class="bfrss-action"><a href="/" class="bfr-newsearch">Купить <%= @order_form.recommendation.variants.first.segments.length == 1 ? 'билет обратно' : 'другой билет' %></a></li>
    <% tweet = order_tweet(@order_form) %>
    <% gevent = order_event(@order_form) %>
    <% unless tweet.empty? %>
        <li class="bfrss-action"><a href="http://twitter.com/?status=<%= tweet %>" target="_blank">Поделиться в Твиттере</a></li>
    <% end %>
    <% unless gevent.empty? %>
        <li class="bfrss-action"><a href="http://www.google.com/calendar/event?action=TEMPLATE&<%= gevent %>" target="_blank">Добавить поездку в Гугл-календарь</a></li>
    <% end %>
    </ul>
    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Feviterra&amp;width=287&amp;height=241&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=false&amp;appId=429677207045748" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:287px; height:241px; background: #FFF;" allowTransparency="true"></iframe>
</div>
<div class="bfrs-message">
    <p class="bfrsm-text"><strong><%= t 'booking.success.allright' %></strong> <%= t @order_form.people.one? ? 'one' : 'few', :scope => [:booking, :success, @order_form.payment_type == 'card' ? 'card' : 'cash'] %> <%= t 'booking.success.confirmation' %>&nbsp; <span class="link bf-hint bfrsm-hint" data-hint="bfh-mail"><%= t 'booking.success.whattodo.link' %></span</p>
    <p class="bfrsm-pnr"><a target="_blank" href="<%= pnr_path %>">Распечатать подтверждение</a></p>
    <p class="bfrsm-text bfrsm-number"><%= raw t 'booking.success.pnr', :number => content_tag(:span, pnr_number, :class => 'bfr-pnr') %></p>
</div>

<% ostrovok_url = ostrovok_link(@order_form) %>
<% insurance_url = sravnikupi_insurance_uri(@order_form) %>
<% tripster_url = tripster_link(@order_form) %>
<% weatlas_url = weatlas_link(@order_form) unless tripster_url %>

<% if ostrovok_url || insurance_url || weatlas_url %>
<div class="bfrs-addition">
    <% if ostrovok_url %>
    <div class="bfrs-hotels">
        <h5 class="bfrsa-title">Отели<br><%= ostrovok_city(@order_form) %></h5>
        <ul class="bfrsa-features">
            <li class="bfrsa-feature">Самые низкие цены</li>
            <li class="bfrsa-feature">Большой выбор разных отелей</li>
            <li class="bfrsa-feature">Мгновенная оплата</li>
            <li class="bfrsa-feature">Моментальное подтверждение</li>
        </ul>
        <div class="bfrsa-bar">
            <a class="bfrsa-link" href="<%= ostrovok_url %>" target="_blank">Выбрать и&nbsp;забронировать отель</a>
        </div>
        <div class="bfrsa-partner">Совместно с партнером Ostrovok.ru</div>
    </div>
    <% end %>
    <% if insurance_url %>
    <div class="bfrs-insurance">
        <h5 class="bfrsa-title">Туристическая страховка</h5>
        <ul class="bfrsa-features">
            <li class="bfrsa-feature">Электронный полис</li>
            <li class="bfrsa-feature">Оплата банковской картой</li>
            <li class="bfrsa-feature">Страхование багажа</li>
            <li class="bfrsa-feature">Подходит для шенгенской визы</li>
        </ul>
        <div class="bfrsa-bar">
            <a class="bfrsa-link" href="<%= insurance_url %>" target="_blank">Выбрать<br>и&nbsp;купить полис</a>
        </div>
        <div class="bfrsa-partner">Совместно с партнером Sravnikupi.ru</div>
    </div>
    <% end %>
    <% if tripster_url %>
    <div class="bfrs-excursion">
        <h5 class="bfrsa-title">Чем заняться<br><%= city_case_in(@order_form) %></h5>
        <ul class="bfrsa-features">
            <li class="bfrsa-feature">Экскурсии от местных жителей</li>
            <li class="bfrsa-feature">Все самое интересное в городе</li>
            <li class="bfrsa-feature">Индивидуальные программы</li>
            <li class="bfrsa-feature">Онлайн-бронирование</li>
        </ul>
        <div class="bfrsa-bar">
            <a class="bfrsa-link" href="<%= tripster_url %>" target="_blank">Выбрать и&nbsp;забронировать</a>
        </div>
        <div class="bfrsa-partner">Совместно с Трипстером</div>
    </div>
    <% elsif weatlas_url %>
    <div class="bfrs-excursion">
        <h5 class="bfrsa-title">Чем заняться<br><%= city_case_in(@order_form) %></h5>
        <ul class="bfrsa-features">
            <li class="bfrsa-feature">Индивидуальные экскурсии</li>
            <li class="bfrsa-feature">Персональные гиды</li>
            <li class="bfrsa-feature">Нестандартные впечатления</li>
            <li class="bfrsa-feature">Онлайн-бронирование</li>
        </ul>
        <div class="bfrsa-bar">
            <a class="bfrsa-link" href="<%= weatlas_url %>" target="_blank">Выбрать и&nbsp;забронировать</a>
        </div>
        <div class="bfrsa-partner">Совместно с партнером Weatlas.com</div>
    </div>
    <% end %>
</div>
<% end %>
<p class="latent" id="bfh-mail"><%= raw t 'booking.success.whattodo.hint' %></p>
</div>
