<div class="result" data-type="3dsecure">
    <p class="success">Ваша банковская карта требует дополнительной авторизации 3DSecure. Вы будете перенаправлены на сайт платёжного шлюза. После успешной авторизации вы получите подтверждение покупки.</p>
    <%= form_tag payture_response.acs_url, :class => 'tds-form' do %>
      <%= hidden_field_tag 'PaReq', payture_response.pa_req %>
      <%= hidden_field_tag 'TermUrl', confirm_3ds_url %>
      <%= hidden_field_tag 'MD', payture_response.threeds_key %>
      <%= submit_tag 'Перейти к авторизации' %>
    <% end %>
    <div class="tds-submit tip">
        <a class="stop-booking" href="#">Вернуться к выбору вариантов</a>
        <a class="a-button" href="#">Перейти к авторизации</a>
    </div>
</div>

