<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <%= render 'shared/head_common', {:title => @error_message ? 'не удалось оплатить билет' : 'ваш билет оплачен и забронирован'} %>
    <link rel="stylesheet" type="text/css" href="/css/static.css">
    <link rel="stylesheet" type="text/css" href="/css/controls/hint.css">
    <%= javascript_include_tag "main", "static", "hint" %>
</head>
<body>
<%= render 'shared/header' %>
<div class="l-wrapper" id="page-wrapper">
<div class="l-canvas">
    <div class="l-content">
    <div id="back2search">
        <a href="/">Вернуться к поиску</a>
    </div>
    <div class="article tds-result">
    <% if @error_message %>
        <p class="fail"><strong>Упс…</strong> Что-то пошло не так. Скорее всего, банк отклонил попытку платежа по&nbsp;вашей карте.</p>
        <p class="tip">Попробуйте проверить, правильно ли введены данные, или используйте другую карту. Если это невозможно, узнайте <a href="/about/#payment">какими ещё способами</a> можно купить у&nbsp;нас билет.</p>    
    <% else %>
        <p class="success"><strong>Всё отлично!</strong> Ваш билет оплачен, забронирован и выслан на&nbsp;ваш электронный адрес. Номер брони&nbsp;— <%= @pnr_number %>. Если хотите, можете <a target="_blank" href="<%= @pnr_path %>">распечатать</a> ваш билет.</p>    
        <p class="tip"><span class="link" onclick="hint.show(event, $(this).parent().find('.htext').html());">Что делать, если на почту ничего не пришло?</span></p>
        <p class="htext latent">Если вы&nbsp;не&nbsp;получили письмо с&nbsp;электронным билетом в&nbsp;течение <nobr>10-15 минут,</nobr> проверьте папку &laquo;Спам&raquo; в&nbsp;вашей почте. Если и&nbsp;там его нет, то&nbsp;напишите нам (<a href="mailto:ticket@eviterra.com">ticket@eviterra.com</a>) или позвоните <nobr>(+7 495 660-35-20) &mdash;</nobr> мы&nbsp;разберемся.</p>        
        <script type="text/javascript">
        if (window._gaq) {
            _gaq.push(['_trackPageview', '/#3ds:success']);
            _gaq.push(['_addTrans', '<%= @pnr_number %>', '', '<%= @order.recommendation.price_total.round.to_i %>']);
            _gaq.push(['_trackTrans']);
        }
        </script>
    <% end %>
    </div>
    </div>
    <div class="l-footer">
        <%= render 'shared/footer' %>
    </div>
</div>
</div>
<div id="hint">
    <div class="close"></div>
    <div class="content"></div>
</div>
<script type="text/javascript">
hint.init();
</script>
</body>
</html>    