<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Eviterra / Выбор направления </title>
<link rel="favicon icon" type="image/x-icon" href="/favicon.ico">
<style>
body		{font-family: Arial, sans-serif;}
</style>
</head>
<body>

  <%= link_to 'new payment', booking_form_path %>
  <p style="color: red">
    <%= h @message %>
  </p>

  <% form_for :card, @card, :url => booking_pay_path do |f| %>

  <p>Сумма:<br>
  <%= text_field_tag :amount, @amount, :maxlength => 6, :style => "width: 6em;" %>
  коп.</p> 

  <p>Идентификатор платежа:<br>
  <%= text_field_tag :order_id, @order_id, :maxlength => 8, :style => "width: 8em;" %>
  </p>
  <hr>

<p>Номер карты:<br>
<%= f.text_field :number, :style => "width: 16em;" %>
<%= f.error_message_on :number %>
<%#= f.text_field :number1, :style => "width: 4em;" %>
<%#= f.text_field :number2, :style => "width: 4em;" %>
<%#= f.text_field :number3, :style => "width: 4em;" %>
<%#= f.text_field :number4, :style => "width: 4em;" %>
</p>

<p>Имя владельца:<br>
  <%= f.text_field :first_name %>
  <%= f.error_message_on :first_name, :maxlength => 100, :style => "width: 18em;" %>
  <%= f.text_field :last_name %>
  <%= f.error_message_on :last_name, :maxlength => 100, :style => "width: 18em;" %>
  <br>

<p>Срок действия:<br>
  <%= f.select(:month, ("01".."12").map{|x| [x,x.to_i]}, {:include_blank => "месяц"}) %>
  <%= f.error_message_on :month %>
 / 
  <%= f.select :year, [[2010, 2010],[2011, 2011],[2012, 2012],[2013, 2013],[2014, 2014]], {:include_blank => "год"} %>
  <%= f.error_message_on :year %>
</p>

<p>CVV/CVC:<br>
<%= f.text_field :verification_value, :maxlength => 3, :style => "width: 3em;" %>
<%= f.error_message_on :verification_value %>

<hr>

<input type="submit" value="Оплатить">

<% end %>
</body>
</html>
