<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <%= render 'shared/head_common', {:title => 'Покупка билета'} %>

    <!-- [production] Все нижеследующие скрипты объединить в таком же порядке и упаковать -->
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <script type="text/javascript" src="/js/booking/validation.js"></script>
    <script type="text/javascript" src="/js/booking/wizard.js"></script>
    <script type="text/javascript" src="/js/booking/onready.js"></script>
</head>

<body>

    <div class="l-page">
        <div class="l-header">
            <%= render 'shared/header' %>
        </div>

        <div class="l-canvas l-canvas-booking">

            <div id="offers-title">
                <h1>из Москвы в Париж и обратно с 8 по 15 сентября вдвоём с ребёнком</h1>
                <h5 class="g-xxs">
                    <a href="#">Вернуться к&nbsp;результатам поиска</a>
                    или
                    <a href="#">поискать что-нибудь заново</a>
                </h5>
            </div>

            <% form_for :card,
             @card,
             :url => booking_pay_path,
             :html => { :autocomplete => "off" } do |f|
             %>

                <dl class="booking">

                    <!-- Вариант перелёта -->
                    <dt><b>1</b>Проверьте, что вы бронируете

                    <dd class="book-v ready">

                        <!-- подробности перелёта -->
                        <div class="offer">
                            <table class='offer-variant'>
                            <tbody class="details">
                                <% @variant.segments.each_with_index do |segment, segment_counter| %>
                                    <%#= render :partial => 'pricer/segment_details', :locals => {:segment => segment, :variant => @variant, :segment_counter => segment_counter} %>
                                <% end %>  
                            </tbody>
                            </table>
                        </div>
                    
                        <!-- описание тарифа -->
                        <div class="tarif">
                            <h3 class="g-xs">Важно</h3>
                            <ul class="g-xxs">
                                <li>Эти билеты невозвратные.
                                <li>Максимальный вес бесплатного багажа - 20 Кг.
                                <li>Перенести дату вылета можно за сутки до вылета или ранее.
                                <li>Стоимость переноса - 20% от стоимости тарифа (5&nbsp;150&nbsp;<s class="rur">р<s>уб.</s></s>).
                            </ul>
                            <span class="g-xxs">Прочитать <a href="#" id="tarif-expand" class="b-pseudo" onclick="return 'tarif-text'"><u>текст тарифа целиком</u></a></span>
                            <pre id="tarif-text">
0.  APPLICATION AND OTHER CONDITIONS
RULE - 021/0921
UNLESS OTHERWISE SPECIFIED
ECONOMY NORMAL FARE WITHIN EUROPE VIA MSQ
 APPLICATION
   AREA
     THESE FARES APPLY
     WITHIN EUROPE
     VIA MSQ.
   CLASS OF SERVICE
     THESE FARES APPLY FOR ECONOMY CLASS SERVICE.
   TYPES OF TRANSPORTATION
     FARES GOVERNED BY THIS RULE CAN BE USED TO CREATE
     ONE-WAY/ROUND-TRIP JOURNEYS.
   FARES ONLY APPLY IF PURCHASED BEFORE DEPARTURE
                            </pre>
                        </div>

                    </dd>

                    <!-- Данные пассажиров -->
                    
                    <dt>
                        <b>2</b>Введите данные <%= @people.count == 1 ? 'пассажира' : 'пассажиров' %>

                        <%= render :partial => 'person_form', :collection => @people %>
<!--
    Взрослых: <%= @people_count[:adults] %>, детей: <%= @people_count[:children] %>, младенцев: <%= @people_count[:infants] %>
-->

                    <!-- Банковская карточка -->

                    <dt><b>3</b>Введите данные банковской карты

                        <%= render 'card_form' , :f => f%>


                    <!-- Контакты -->

                    <dt><b>4</b>Введите данные покупателя

                        <%= render 'contacts_form' %>

                    <!-- Отправка -->

                    <dt><b>5</b>Всё правильно? Нажмите <input type="submit" class="a-button a-button-ready g-l" value="Забронировать">

                    <dd class="book-s">

                        <div class="blocker g-xs">
                            <s></s>
                            <p>Пока невозможно. И вот почему:
                            <ul class="b-pseudo">
                                <li>введён невалидный <a href="#" title="Отредактировать номер"><u>номер карточки</u></a>
                                <li><a href="#" title="Отредактировать имя"><u>имя</u></a> второго пассажира написано не латинскими буквами
                            </ul>
                        </div>

                        <!--
                        <p class="notice">
                        </p>
                        -->

                    </dd>

                </dl>
            

            <% end %> <%# - form %>

        </div>
        
        <div class="l-canvas-bottom"></div>
    </div>

    <div class="l-footer">
        <%= render 'shared/footer' %>
    </div>

</body>
</html>
