<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="utf-8">
    <title>Eviterra — бронирование авиабилета</title>
    <meta name="description" content="Eviterra.com — простой, удобный и красивый способ найти и купить авиабилет. Поиск, выбор рейса и бронирование онлайн. Цены на авиабилеты. +7 (495) 660-35-20">
    <meta name="keywords" content="авиабилет, авиакасса, авиабилеты купить, бронирование, выбрать рейс, авиарейс, перелет, дешевые авиабилеты, цены на билеты, онлайн бронирование, эвитерра, eviterra, спецпредложения, авиакомпании, расписание рейсов, маршрут, агентство, турагентство, путешествия">
    <script type="text/javascript">
        var customPageView = function() {
            _gaq.push(['_setAllowAnchor', true]);
            _gaq.push(['_setCampMediumKey', 'type']);
            _gaq.push(['_setCampSourceKey', 'partner']);
            _gaq.push(['_trackPageview']);
        };
    </script>
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag 'variant', :debug => true %>
    <%= javascript_include_tag "local/ru", 'home', :debug => true %>
    <%#= javascript_include_tag "main", "controls/hint", "booking/form", "booking/validation", "booking/names", "booking/independent" %>
</head>
<body>

<%= render 'shared/header' %>

<div id="results-header">
<div class="rh-wrapper">
    <table class="rh-content">
    <tr>
        <td class="rh-left"><h3 class="rh-summary"></h3></td>
        <td class="rh-right">
            <div class="rh-select"><span class="rhs-link">Другой&nbsp;вариант</span></div>            
        </td>
    </tr>
    </table>
    <div class="rh-shadow"></div>
</div>
</div>

<div style="float: left; display: block; visibility: hidden; position: absolute; top: 0px; right: 0px; background: #c1f29e; width: 240px; padding: 10px 12px; font-size: 90%;">Вы
оформляете авиабилеты в&nbsp;одном из&nbsp;самых современных и&nbsp;технологичных
сервисов в&nbsp;мире. Сотни пассажиров ежедневно летают с&nbsp;нами и&nbsp;доверяют&nbsp;нам.
<br><br>
У нас не только низкие цены, но&nbsp;и&nbsp;отличное обслуживание. Мы&nbsp;очень любим наших клиентов и&nbsp;делаем все&nbsp;возможное для того, чтобы
один раз воспользовавшись нашим сервисом, вы&nbsp;покупали авиабилеты
только у&nbsp;нас.
<br><br>
Мы гарантируем абсолютную безопасность ваших платежей
и&nbsp;предоставление услуг в&nbsp;полном объеме.<br><br>Спасибо за&nbsp;покупку и&nbsp;приятного полета!
</div>


<div id="booking-loading" class="b-message">
<div class="bm-content">
    <h3 class="bm-title"><span class="bmt-progress">Проверяем доступность мест</span></h3>
    <p class="bm-tip">Это займет от пяти до двадцати секунд</p>
</div>
</div>

<div id="booking-fail" class="b-message">
<div class="bm-content">
    <h3 class="bm-title">В данный момент невозможно выбрать этот вариант</h3>
    <p class="bm-tip">Так иногда бывает, потому что авиакомпания не&nbsp;может подтвердить наличие мест на&nbsp;этот рейс по&nbsp;этому тарифу. К&nbsp;сожалению, от&nbsp;нас это не&nbsp;зависит. Выберите <span class="link stop-booking">другой вариант</span>.</p>
</div>
</div>



<%= render 'shared/footer' %>

<script type="text/javascript">
hint.init();
$(function() {
    booking.init();
});
</script>
</body>
</html>

