<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <script type="text/javascript">
        var customPageView = function() {
            _gaq.push(['_setAllowAnchor', true]);
            _gaq.push(['_setCampMediumKey', 'type']);
            _gaq.push(['_setCampSourceKey', 'partner']);
            _gaq.push(['_trackPageview']);
        };
    </script>
    <%= render 'shared/head_common', {:title => 'бронирование авиабилета'} %>
    <%= stylesheet_link_tag "atoms/button", "results/results", "results/message", "results/offer", "controls/hint", "booking/booking", "booking/sections", "booking/independent" %>
    <%= javascript_include_tag "main", "controls/hint", "booking/form", "booking/validation", "booking/names", "booking/independent" %>
</head>
<body>
<%= render 'shared/header' %>
<div id="wrapper">
<div id="booking">
    <div class="bh-placeholder">
    <div class="booking-header bh-static">
        <h3 class="bh-title"><span style="margin-right: 5px;"><%= raw @search.human %></span> <span class="link stop-booking latent">Найти другой вариант</span></h3>
        <div class="hshadow"></div>
    </div>
    </div>
    <div class="booking-body">
    <div class="booking-frame">
        <div class="booking-variant offer"></div>
        <div class="booking-content"></div>
    </div>
    </div>
    <div id="results-loading" class="rmessage rcontent">
        <div class="rmphoto">
            <p>Вы всегда можете проконсультироваться по&nbsp;всем вопросам или&nbsp;сделать заказ по&nbsp;телефону <strong><nobr>+7 495 660-35-20</nobr></strong> или&nbsp;по&nbsp;почте <a href="mailto:ticket@eviterra.com">ticket@eviterra.com</a></p>
        </div>
        <div class="rmtext">
            <div class="progress"></div>
            <h3>Проверяем доступность мест</h3>
            <div style="font-size: 12px; line-height: 14px; text-align: center; margin-top: 5px;">Это займет от пяти до двадцати секунд</div>
        </div>
    </div>
    <div id="results-empty" class="rcontent rmessage latent">
        <div class="rmphoto">
            <p>Вы всегда можете проконсультироваться по&nbsp;всем вопросам или&nbsp;сделать заказ по&nbsp;телефону <strong><nobr>+7 495 660-35-20</nobr></strong> или&nbsp;по&nbsp;почте <a href="mailto:ticket@eviterra.com">ticket@eviterra.com</a></p>
        </div>
        <div class="rmtext">
            <h3>В данный момент невозможно выбрать этот вариант</h3>
            <p style="text-align: left; font-size: 14px; line-height: 18px;">Так иногда бывает, потому что авиакомпания не&nbsp;может подтвердить наличие мест на&nbsp;этот рейс по&nbsp;этому тарифу. К&nbsp;сожалению, от&nbsp;нас это не&nbsp;зависит. Выберите <span class="link stop-booking">другой вариант</span>.</p>
        </div>
    </div>
</div>
</div>
<%= render 'shared/footer' %>
<div id="hint">
    <div class="close"></div>
    <div class="content"></div>
</div>
<script type="text/javascript">
hint.init();
$(function() {
    booking.init('<%= @partner %>');
});
</script>
</body>
</html>

