<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="utf-8">
    <title>Eviterra — покупка авиабилета</title>
    <meta name="description" content="Eviterra.com — простой, удобный и красивый способ найти и купить авиабилет. Поиск, выбор рейса и бронирование онлайн. Цены на авиабилеты. +7 495 660-35-20">
    <meta name="keywords" content="авиабилет, авиакасса, авиабилеты купить, бронирование, выбрать рейс, авиарейс, перелет, дешевые авиабилеты, цены на билеты, онлайн бронирование, эвитерра, eviterra, спецпредложения, авиакомпании, расписание рейсов, маршрут, агентство, турагентство, путешествия">
    <meta name="apple-itunes-app" content="app-id=569307779">
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag 'variant' %>
    <%= javascript_include_tag 'variant' %>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAllowAnchor', true]);
    _gaq.push(['_setCampMediumKey', 'type']);
    _gaq.push(['_setCampSourceKey', 'partner']);
    </script>
</head>
<body>

<%= render 'shared/header' %>

<div id="results-header">
<div class="rh-wrapper">
    <table class="rh-content">
    <tr>
        <td class="rh-left"><h3 class="rh-summary"></h3></td>
        <td class="rh-right">
            <div class="rh-select"><span class="rhs-link">Все&nbsp;варианты перелета</span></div>
        </td>
    </tr>
    </table>
    <div class="rh-shadow"></div>
</div>
</div>

<div id="booking-disclaimer" class="b-disclaimer wrap">
<div class="bd-partner">
    <h6 class="bdp-eviterra">eviterra <span class="bdp-plus">+</span></h6>
    <p id="parther-logo"><% if @context.partner.logo_exist? %><img src="<%= @context.partner.logo_url %>" alt="<%= @context.partner.token %>" title="<%= @context.partner.token %>"><% end %></p>
</div>
<div class="bd-column">
    <h5 class="bd-title">Почему покупают у нас</h5>
    <p class="bd-item">Билеты на 500 авиакомпаний</p>
    <p class="bd-item">Низкие цены и большие скидки</p>
    <p class="bd-item">Современно и технологично</p>
    <p class="bd-item">Безопасные платежи</p>
    <p class="bd-item">Моментальное оформление</p>
</div>
<div class="bd-column">
    <h5 class="bd-title">Всегда честные цены</h5>
    <p>В отличие от&nbsp;других сайтов мы&nbsp;показываем окончательную цену со&nbsp;всеми сборами и&nbsp;не&nbsp;взимаем никаких скрытых комиссий.</p>
</div>
<div class="bd-column" id="booking-appstore">
    <h5 class="bd-title"><a target="_blank" style="text-decoration: none; color: #333;" href="https://itunes.apple.com/ru/app/eviterra/id569307779">Приложение для Айфона</a></h5>
    <a target="_blank" class="bd-iphone" href="https://itunes.apple.com/ru/app/eviterra/id569307779"><img src="/images/booking/iphone.png" alt="Купить в AppStore"></a>
    <p class="bd-item">Удобный интерфейс</p>
    <p class="bd-item">Быстрый поиск</p>
    <p class="bd-item">Ничего лишнего</p>
    <p class="bd-item">Покупка за три минуты</p>
</div>
</div>

<div id="booking" class="b-processing">
    <div class="b-content offer"></div>
    <div class="b-loading">
        <h3 class="bl-title"><span class="bl-progress">Проверяем доступность мест</span></h3>
        <p class="bl-tip">Это займет от пяти до двадцати секунд</p>
    </div>
</div>

<div class="ob-button" id="obb-template">
    <div class="obb-title"><div class="obbt-sum">Купить</div></div>
    <div class="obb-side obb-left"><div class="obb-side obb-right"></div></div>
</div>

<div id="hint">
    <div class="h-close"></div>
    <div class="h-content"></div>
</div>

<%= render 'shared/footer' %>

<script type="text/javascript">
$(function() {
    var kmqdata = ['record', 'VISIT: metasearch'];
    var partner = window.location.hash.match(/partner=([^&?]+)/);
    if (partner) {
        kmqdata.push({'partner': partner[1]});
    }
    _kmq.push(kmqdata);
    _gaq.push(['_trackPageview']);
    search.dates = {csnow: new Date('<%= Time.now.to_formatted_s(:rfc822) %>')};
    results.data = $.parseJSON('<%= raw @search.details.to_json %>');
    results.updateTitles();
    results.header.init();
    results.header.summary.addClass('rh-ready').html('<span class="rhs-text">' + results.data.titles.header + '</span>');
    results.header.adjust();
    results.header.summary.show();
    results.header.select.show();
    booking.init();
    booking.restore();
    hint.init();
});
</script>

</body>
</html>
