<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <%= render 'shared/head_common', {:title => @order.description} %>
    <%= stylesheet_link_tag "static", "atoms/button", "atoms/pseudo", "controls/hint", "booking/booking", "booking/sections" %>
    <%= javascript_include_tag "static", "main", "booking/form", "booking/validation", "payment", "controls/hint" %>
</head>
<body>
<%= render 'shared/header' %>
<div id="wrapper">
<div id="content">
    <div id="back2search">
        <div class="bscontent"><a href="/">Вернуться к поиску</a></div>
    </div>
    <div class="payment">

<div class="booking-form">
<% if @card %>
<%= form_for @card, :as => :card, :url => edit_payment_url(:code=> @order.code), :html => { :autocomplete => "off" } do |f| %>
    <h3><%= @order.description %></h3>
    <div class="section booking-card">
        <div class="bc-payments">
            <p>Данные вашей банковской карты обрабатываются платежным центром <a target="_blank" href="http://www.alfabank.ru/">Альфа-Банка</a> и защищены 256-битным шифрованием, обеспеченным компанией <a target="_blank" href="http://www.thawte.com/">Thawte</a></p>
            <img class="alfa" src="/img/booking/alfabank.png" alt="Альфа-Банк">
            <img class="thawte" src="/img/booking/thawte.png" alt="Thawte">
        </div>
        <%= render 'booking/card', :f => f %>
        <div class="bc-bill-short">
            <span style="padding-right: 2px;">С&nbsp;карты будет списано</span> <span style="white-space: nowrap;"><%= decorated_price @order.price_with_payment_commission, 'strong', 'span' %></span>
        </div>        
    </div>
    <div class="booking-submit">
        <table>
        <tr>
            <td class="bs-left">Всё правильно?</td>
            <td class="bs-button"><input type="submit" class="a-button" value="Оплатить" data-text="Оплатить"></th>
            <td class="bs-right">
                <div class="loading"><br></div>
            </td>
        </tr>
        </table>
        <div class="booking-errors">
            <div class="be-triangle"></div>
            <h6>Пока невозможно. И вот почему:</h6>
            <ul class="be-list"></ul>
        </div>
    </div>
<% end %>
<% else %>
    <h3><%= @order.description %></h3>
    <h3>Платеж уже обработан.</h3>
<% end %>
</div>

    </div>
</div>
<div id="footer">
    <%= render 'shared/footer' %>
</div>
</div>
<div id="hint">
    <div class="close"></div>
    <div class="content"></div>
</div>
<script type="text/javascript">
booking.form.init();
hint.init();
</script>
</body>
</html>
