<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="utf-8">
    <title>Eviterra — <%= @order.description || 'оплата заказа' %></title>
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag 'static/all', 'variant', :debug => true %>
    <%= javascript_include_tag "local/ru", 'payment', :debug => true %>
</head>
<body>
<div class="page-wrapper">

<%= render 'shared/header' %>

<div id="results-header">
<div class="rh-wrapper">
    <table class="rh-content">
    <tr>
        <td class="rh-left"><h3 class="rh-summary rh-ready"><%= @order.description || 'Оплата заказа' %></h3></td>
        <td class="rh-right"></td>
    </tr>
    </table>
    <div class="rh-shadow"></div>
</div>
</div>

<% if @card %>
<div id="booking" style="display: block;">
<div class="b-content" style="display: block;">
<%= form_for @card, :as => :card, :url => edit_payment_url(:code=> @order.code), :html => { :id => 'booking-form', :autocomplete => "off" } do |f| %>

    <div class="bf-section" data-type="payment">
        <div class="bfs-title">
            <h4 class="bfst-text">Платежные данные</h4>
        </div>
        <%= render 'booking/payment_card_form', :f => f %>
    </div>

    <% price_total = @order.price_with_payment_commission.round.to_i %>
    <div class="bf-footer" style="padding-bottom: 15px;">
        <div class="bff-price">
            <div class="bffp-content">
                <p class="bffp-nd">С&nbsp;карты будет списано —<br><span class="bffp-sum"><%= price_total %></span>&nbsp;<%= rubles(price_total) %></p>
            </div>
        </div>
        <div class="bff-submit">
            <div class="bf-button">
                <div class="bfb-title">Оплатить</div>
                <div class="bfb-side bfb-left"><div class="bfb-side bfb-right"></div></div>
            </div>
            <div class="bff-progress">секундочку...</div>
        </div>
        <div class="bff-required"></div>
    </div>
    
<% end %>
</div>
</div>
<% else %>
    <h3><%= @order.description %></h3>
    <h3>Платеж уже обработан.</h3>
<% end %>

<div id="hint">
    <div class="h-close"></div>
    <div class="h-content"></div>
</div>

<div class="page-buffer"></div>
</div>
<%= render 'shared/footer' %>

<script type="text/javascript">
var search = {};
$(function() {
    search.dates = {csnow: new Date('<%= Time.now.to_formatted_s(:rfc822) %>')};
    booking.form.init();
    hint.init();
});
</script>
</body>
</html>
