<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="utf-8">
    <title>Eviterra — истек срок оплаты</title>
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag 'static/all', 'booking/booking', :debug => true %>
    <%= javascript_include_tag "local/ru", 'static', :debug => true %>
</head>
<body>

<%= render 'shared/header' %>
<div id="back2search">
    <div class="bs-content"><a class="bs-link" href="/">Поиск авиабилетов</a></div>
</div>

<div id="booking" class="b-processing" style="display: block;">
<div class="b-loading" style="display: block; width: 700px; margin-left: -350px;">
    <h3 class="bl-title">К сожалению, срок оплаты для этой брони истек.</span></h3>
    <p class="bl-tip">Если вы уверены, что здесь все-таки должна быть форма оплаты, позвоните нам.</p>
</div>
</div>

<%= render 'shared/footer' %>
</body>
</html>

