<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="utf-8">
    <title>Eviterra — истек срок оплаты</title>
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag 'static/all', 'results/header', 'booking/payment' %>
    <%= javascript_include_tag "local/ru", 'static' %>
</head>
<body>
<div class="page-wrapper">

<%= render 'shared/header' %>

<div id="results-header">
<div class="rh-wrapper">
    <table class="rh-content">
    <tr>
        <td class="rh-left"><h3 class="rh-summary rh-ready"><%= @order.try(:description) || 'Оплата заказа' %></h3></td>
        <td class="rh-right"></td>
    </tr>
    </table>
    <div class="rh-shadow"></div>
</div>
</div>

<div class="p-message">
    <h3 class="pm-title">К сожалению, срок оплаты для этой брони истек.</h3>
    <p class="pm-tip">Если вы уверены, что здесь все-таки должна быть форма оплаты, позвоните нам.</p>
</div>

<div class="page-buffer"></div>
</div>
<%= render 'shared/footer' %>
</body>
</html>

