<input autocomplete="off" class="daterangepicker" id="date<%= count %>" name="date<%= count %>" title="Создан" type="text" value="<%= date %>" />
<input data-disable-with="Sending data ..." type="submit" value="OK">
<table>
  <tr valign="top">
    <td>
      <table class="data">
        <tr valign="top"><td class="dataName">Заказов</td><td><%= display_numbers(report[:orders].order_count)%></td></tr>
        <tr valign="top"><td class="dataName">Билетов</td><td><%= display_numbers(report[:orders].ticket_count)%></td></tr>
        <tr valign="top"><td class="dataName">Оборот</td><td><%= display_price(report[:orders].order_total)%></td></tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr valign="top"><td class="dataName">Средний заказ</td><td><%= display_price(report[:orders].order_average)%></td></tr>
        <tr valign="top"><td class="dataName">Средний билет</td><td><%= display_price(report[:ticket_average])%></td></tr>
        <tr><td colspan="2">&nbsp;</td></tr>
        <tr valign="top"><td class="dataName">Общий доход</td><td><%= display_price(report[:orders].income_total)%></td></tr>
        <tr valign="top"><td class="dataName">С заказа</td><td><%= display_price(report[:orders].income_average)%></td></tr>
        <tr valign="top"><td class="dataName">% от оборота</td><td><%= display_percent(report[:percent_total])%></td></tr>
        <tr valign="top"><td class="dataName">% от тарифа</td><td><%= display_percent(report[:percent_fare])%></td></tr>
        <tr><td colspan="2">&nbsp;</td></tr>

        <tr valign="top" <% if report[:days] < 2 %>class="blank"<% end %>><td class="dataName">Дней</td><td><%= report[:days] %></td></tr>
        <tr valign="top" <% if report[:days] < 2 %>class="blank"<% end %>><td class="dataName">Оборот за день</td><td><%= display_price(report[:day_total])%></td></tr>
        <tr valign="top" <% if report[:days] < 2 %>class="blank"<% end %>><td class="dataName">Доход за день</td><td><%= display_price(report[:day_income])%></td></tr>
        <tr><td colspan="2">&nbsp;</td></tr>

        <tr valign="top"><td class="dataName">Поисков</td><td><%= display_numbers(report[:searches]) %></td></tr>
        <tr valign="top"><td class="dataName">Переходов</td><td><%= display_numbers(report[:enter]) %></td></tr>
        <tr valign="top"><td class="dataName">Поиск/заказ</td><td><%= number_to_percentage(report[:searches_per_order]) %></td></tr>
        <tr valign="top"><td class="dataName">Поиск/переход</td><td><%= number_to_percentage(report[:searches_per_enter]) %></td></tr>
        <tr valign="top"><td class="dataName">Переход/заказ</td><td><%= number_to_percentage(report[:conv]) %></td></tr>
      </table>
    </td>
    <td style="width: 60%; text-align: center;">
      <div style="text-align: left;">
        <div id="piechart<%= count %>" style="width:400px;height:250px"></div>
      <script type="text/javascript">
    $(function () {
      // data
      var carrier<%= count %> = [
      <% report[:top_carriers].each do |carrier| %>
      { label: '<%= carrier[:iata]%>:<%= carrier[:title]%>',
        data: <%= carrier[:tickets]%>
        <% if carrier[:color]%>, color: '#<%= carrier[:color]%>'<%end%>},
      <% end %>];

      $.plot($("#piechart<%= count %>"), carrier<%= count %>,
      {
        series: {
          pie: {
            show: true,
            radius: 1,
            label: {
              show: true,
              radius: 3/4,
              formatter: function(label, series){
                return '<div style="font-size:8pt;text-align:center;padding:2px;color:white; font-weight:bold">'+label.split(' ')[0]+'<br/>'+Math.round(series.percent)+'%</div>';
              },
              background: { opacity: 0.5 }
            }
          }
        },
        legend: {
            show: true,
            position: "ne",
            labelFormatter: function(label, series){
              return label.split(':')[0]+' - '+'<strong title="'+label.split(':')[1]+'">'+Math.round(series.percent)+'%</strong> ('+series.data[0][1]+')';
            }
        }
      });
    })
      </script>

      </div>
    </td>
  </tr>
</table>
