    <% strype = cycle('background-color: #fff', 'background-color: #ddd') %>
      <table>

          <td width="4%">
            <%= link_to "URI", "#{hot_offer.url}" %>
          </td>
          <td width="10%"> <%= City.find_by_iata(hot_offer.from_iata).name %> </td>
          <td width="10%"> <%= City.find_by_iata(hot_offer.to_iata).name %> </td>
          <td width="10%"> <%= hot_offer.date1 %> </td>
          <td width="10%"> <%= hot_offer.price.round(2) %> </td>
          <td width="10%"> <%= hot_offer.price_variation.round(2) %> </td>
      </table>


