<p>Добро пожаловать на Эвитерру!</p>

<p>Чтобы завершить регистрацию аккаунта <%= @resource.email %>, перейдите по ссылке ниже.</p>

<p><%= link_to 'Подтвердить регистрацию', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Если вы не регистрировались на сайте <%= link_to 'eviterra.com', 'https://eviterra.com' %>, просто проигнорируйте это письмо.</p>

<p>-- </p>
<p>Спасибо что вы с нами,<br>
Команда Eviterra.com</p>

<p><%= link_to 'facebook.com/eviterra', 'http://facebook.com/eviterra' %></p>
<p><%= link_to 'twitter.com/eviterra', 'http://twitter.com/eviterra' %></p>
<p><%= link_to 'vkontakte.ru/eviterra', 'http://vkontakte.ru/eviterra' %></p>

