<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <%= render 'shared/head_common', {:title => 'контактная информация'} %>
    <%= stylesheet_link_tag "static" %>
    <%= javascript_include_tag "static" %>
</head>
<body>
<%= render 'shared/header' %>
<div id="wrapper">
<div id="content">
    <div id="back2search">
        <div class="bscontent"><a href="/">Вернуться к поиску</a></div>
    </div>
    <div class="article">

<h2>Контактная информация</h2>

<div class="wrap">
<div style="float: right;">
    <div id="map-canvas" style="width: 450px; height: 350px; border: 1px solid #C0C0C0;"></div>
</div>
<div style="margin-right: 480px;">
    <div class="asection">
        <h4>Телефон</h4>
        <p><b style="font-size: 120%; line-height: 1.6em;">+7 (495) 660-35-20</b><br>операторы работают без&nbsp;выходных с&nbsp;десяти утра до&nbsp;девяти вечера по&nbsp;московскому&nbsp;времени</p>
    </div>
    <div class="asection">
        <h4>Электронная почта</h4>
        <p><a href="mailto:ticket@eviterra.com">ticket@eviterra.com</a><br>по всем вопросам бронирования, оплаты, обмена и&nbsp;возврата билетов<br><br>
        <a href="mailto:support@eviterra.com">support@eviterra.com</a><br>по вопросам работы сайта<br><br>
        <a href="mailto:hello@eviterra.com">hello@eviterra.com</a><br>по любым остальным вопросам</p>
    </div>
    <div class="asection">
        <h4>Социальные сети</h4>
        <p><a href="http://www.facebook.com/eviterra">facebook.com/eviterra</a><br>
        <a href="http://twitter.com/eviterra">twitter.com/eviterra</a><br>
        <a href="http://vk.com/eviterra">vk.com/eviterra</a><br>
        <a href="http://www.odnoklassniki.ru/group/50662531858626">odnoklassniki.ru/group/50662531858626</a><br>
        <a href="http://friendfeed.com/eviterra">friendfeed.com/eviterra</a><br>
        <a href="http://pinterest.com/eviterra/">pinterest.com/eviterra</a><br></p>
    </div>
    <div class="asection">
        <h4>Адрес</h4>
        <p>Территория Трёхгорной мануфактуры<br>
        Улица Рочдельская, дом 15, строение 17-18, офис 5<br>
        Москва, 123022<br>
        Россия</p>
    </div>
    <div class="asection">
        <h4>Банковские реквизиты</h4>
        <p>OOO «Эвитерра Трэвел»<br>
        ИНН 7714818115, КПП 771401001<br>
        ОГРН 1107746762463 от 17.09.2010</p>
    </div>
</div>
</div>

<script type="text/javascript" src="https://maps-api-ssl.google.com/maps/api/js?v=3&sensor=false&language=ru"></script>
<script type="text/javascript">
$(function() {
    var map = new google.maps.Map($('#map-canvas').get(0), {
        zoom: 14,
        center: new google.maps.LatLng(55.758594, 37.565955),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        streetViewControl: false,
    });
    var marker = new google.maps.Marker({
        position: new google.maps.LatLng(55.755448, 37.563382),
        title: 'Трёхгорная мануфактура, строение 17-18',
        map: map
    });
});
</script>

    </div>
</div>
</div>
<%= render 'shared/footer' %>
</body>
</html>