<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <%= render 'shared/head_common', {:title => 'контактная информация'} %>
    <%= stylesheet_link_tag "static" %>
    <%= javascript_include_tag "static" %>
</head>
<body>
<%= render 'shared/header' %>
<div id="wrapper">
<div id="content">
    <div id="back2search">
        <div class="bscontent"><a href="/">Вернуться к поиску</a></div>
    </div>
    <div class="article">

<h2>Контактная информация</h2>

<div class="wrap">
<div style="float: right;">
    <div id="map-canvas" style="width: 450px; height: 350px; border: 1px solid #C0C0C0;"></div>
</div>
<div style="margin-right: 480px;">
    <div class="asection">
        <h4>Телефон</h4>
        <p>+7 (495) 660-35-20</p>
    </div>
    <div class="asection">
        <h4>Электронная почта</h4>
        <p><a href="mailto:ticket@eviterra.com">ticket@eviterra.com</a> — по всем вопросам бронирования<br>
        <a href="mailto:support@eviterra.com">support@eviterra.com</a> — по вопросам работы сайта<br>
        <a href="mailto:hello@eviterra.com">hello@eviterra.com</a> — по любым остальным вопросам</p>
    </div>
    <div class="asection">
        <h4>Адрес</h4>
        <p>Бизнес-центр «Магистраль Плаза», 4-й этаж<br>
        1-й Магистральный тупик, дом 5А<br>
        Москва, 123290<br>
        Россия</p>
    </div>
    <div class="asection">
        <h4>Реквизиты</h4>
        <p>OOO «Эвитерра Трэвел»<br>
        ИНН 7714818115, КПП 771401001<br>
        ОГРН 1107746762463 от 17.09.2010</p>
    </div>
</div>
</div>

<script type="text/javascript" src="https://maps-api-ssl.google.com/maps/api/js?v=3&sensor=false&language=ru"></script>
<script type="text/javascript">
$(function() {
    var map = new google.maps.Map($('#map-canvas').get(0), {
        zoom: 14,
        center: new google.maps.LatLng(55.769142, 37.536915),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        streetViewControl: false,
    });
    var marker = new google.maps.Marker({
        position: new google.maps.LatLng(55.765942, 37.532915),
        title: 'Бизнес-центр «Магистраль Плаза»',
        map: map
    });
});
</script>

    </div>
</div>
</div>
<%= render 'shared/footer' %>
</body>
</html>