<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <%= render 'shared/head_common', {:title => 'контактная информация'} %>
    <%= stylesheet_link_tag "static" %>
    <%= javascript_include_tag "static" %>
</head>
<body>
<%= render 'shared/header' %>
<div id="wrapper">
<div id="content">
    <div id="back2search">
        <div class="bscontent"><a href="/">Вернуться к поиску</a></div>
    </div>
    <div class="article">

<h2>Контактная информация</h2>

<div class="wrap">
<div style="float: right;">
<script src="http://api-maps.yandex.ru/1.1/?key=AKmYOU0BAAAAtWdDbAIAcYcSsDum1mxl1Fi86wQ9FyjMil8AAAAAAAAAAABL2c0xCUDKvR22oCYa-bIXmY55wQ==~AGOZOU0BAAAAMypbQAIAmbO7Kwq-_BktC1xT3izfxB19PzIAAAAAAAAAAACppEJNzLw6Gxy1euaJA71sxZ3FsQ==&modules=pmap&wizard=constructor" type="text/javascript"></script>
<script type="text/javascript">
YMaps.jQuery(window).load(function () {
    var map = new YMaps.Map(YMaps.jQuery("#YMapsID-315")[0]);
    map.setCenter(new YMaps.GeoPoint(37.532915,55.766842), 15, YMaps.MapType.MAP);
    map.addControl(new YMaps.Zoom());
    map.addControl(new YMaps.ToolBar());
    YMaps.MapType.PMAP.getName = function () { return "Народная"; }
    map.addControl(new YMaps.TypeControl([
        YMaps.MapType.MAP,
        YMaps.MapType.SATELLITE,
        YMaps.MapType.HYBRID,
        YMaps.MapType.PMAP
    ], [0, 1, 2, 3]));

    YMaps.Styles.add("constructor#pmlbmPlacemark", {
        iconStyle : {
            href : "http://api-maps.yandex.ru/i/0.3/placemarks/pmlbm.png",
            size : new YMaps.Point(28,29),
            offset: new YMaps.Point(-8,-27)
        }
    });

    map.addOverlay(createObject("Placemark", new YMaps.GeoPoint(37.532721,55.766092), "constructor#pmlbmPlacemark", "Бизнес-центр «Магистраль Плаза»"));
    
    function createObject (type, point, style, description) {
        var allowObjects = ["Placemark", "Polyline", "Polygon"],
            index = YMaps.jQuery.inArray( type, allowObjects),
            constructor = allowObjects[(index == -1) ? 0 : index];
            description = description || "";
        
        var object = new YMaps[constructor](point, {style: style, hasBalloon : !!description});
        object.description = description;
        
        return object;
    }
});
</script>
<div id="YMapsID-315" style="width:450px; height:350px; border: 1px solid #C0C0C0;"></div>
</div>
<div style="margin-right: 480px;">
    <div class="asection">    
        <h4>Телефон</h4>
        <p>+7 (495) 660-35-20</p>
    </div>
    <div class="asection">
        <h4>Электронная почта</h4>
        <p><a href="mailto:ticket@eviterra.com">ticket@eviterra.com</a> — по всем вопросам бронирования<br>
        <a href="mailto:support@eviterra.com">support@eviterra.com</a> — по вопросам работы сайта<br>
        <a href="mailto:hello@eviterra.com">hello@eviterra.com</a> — по любым остальным вопросам</p>
    </div>
    <div class="asection">
        <h4>Адрес</h4>
        <p>Бизнес-центр «Магистраль Плаза», 4-й этаж<br>
        1-й Магистральный тупик, дом 5А<br>
        Москва, 123290<br>
        Россия</p>
    </div>
    <div class="asection">
        <h4>Реквизиты</h4>
        <p>OOO «Эвитерра Трэвел»<br>
        ИНН 7714818115, КПП 771401001<br>
        ОГРН 1107746762463 от 17.09.2010</p>
    </div>
</div>
</div>

    </div>
</div>
<div id="footer">
    <%= render 'shared/footer' %>
</div>
</div>
</body>
</html>    