<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="utf-8">
    <title>Eviterra — вопросы и ответы</title>
    <meta name="description" content="Eviterra.com — простой, удобный и красивый способ найти и купить авиабилет. Поиск, выбор рейса и бронирование онлайн. Цены на авиабилеты. +7 (495) 660-35-20">
    <meta name="keywords" content="авиабилет, авиакасса, авиабилеты купить, бронирование, выбрать рейс, авиарейс, перелет, дешевые авиабилеты, цены на билеты, онлайн бронирование, эвитерра, eviterra, спецпредложения, авиакомпании, расписание рейсов, маршрут, агентство, турагентство, путешествия">
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag 'static/all', 'static/faq', :debug => true %>
    <%= javascript_include_tag "local/ru", 'static', :debug => true %>
</head>
<body>
<div class="page-wrapper">

<%= render 'shared/header' %>
<div id="back2search">
    <div class="bs-content"><a class="bs-link" href="/">Поиск авиабилетов</a></div>
</div>

<div class="article faq">
    <div class="faq-contents">
        <div class="fc-fixed">
        <ul>
            <li><a href="#service">Работа сайта и наши услуги</a></li>
            <li><a href="#booking">Бронирование и выписка билетов</a></li>
            <li><a href="#payment">Оплата</a></li>
        </ul>
        <p>Не нашли ответа на свой вопрос? <a href="mailto:hello@eviterra.com">Напишите нам</a>.</p>
        </div>
    </div>

<div class="asection" id="service">
    <h2>Работа сайта и наши услуги</h2>
    <dl>
        <dt>Почему у&nbsp;вас билеты стоят дешевле, чем на&nbsp;сайте авиакомпании? С&nbsp;ними точно все будет в&nbsp;порядке?</dt>
        <dd>Не&nbsp;волнуйтесь. Наши условия работы с&nbsp;авиакомпаниями позволяют нам делать скидки от&nbsp;официальных тарифов авиакомпаний. К&nbsp;тому&nbsp;же, зачастую на&nbsp;нашем сайте доступны специальные тарифы, которые авиакомпании по&nbsp;ряду причин не&nbsp;показывают на&nbsp;своих собственных сайтах.</dd>
        <dt>Почему я&nbsp;не&nbsp;нашел у&nbsp;вас рейсы лоукост-авиакомпаний?</dt>
        <dd>Дело в&nbsp;том, что у&nbsp;таких перевозчиков (например, WizzAir или EasyJet) совершенно другая бизнес-модель, и&nbsp;они предпочитают, чтобы их&nbsp;авиабилеты оформлялись на&nbsp;их&nbsp;же собственных сайтах. Тем не&nbsp;менее, мы&nbsp;работаем над тем, чтобы через какое-то время они появились и&nbsp;у&nbsp;нас.</dd>
        <dt>На&nbsp;чем вы&nbsp;зарабатываете?</dt>
        <dd>Мы&nbsp;не&nbsp;берем никаких дополнительных сборов с&nbsp;пассажиров. Авиакомпании платят нам комиссию и&nbsp;бонусы за&nbsp;оформленные билеты&nbsp;&mdash; в&nbsp;зависимости от&nbsp;объемов продаж.</dd>
        <dt>У&nbsp;меня есть карточка мильной бонусной программы. Как сделать так, чтобы мне начислили мили за&nbsp;полет, купленный у&nbsp;вас?</dt>
        <dd>При вводе данных пассажира можно выбрать нужную бонусную программу и&nbsp;ввести номер карточки. Соответствующее количество миль будет начислено вам после совершения полета.</dd>
        <dt>Я&nbsp;нашел на&nbsp;другом сайте (или на&nbsp;поисковой системе по&nbsp;авиабилетам) более низкую цену чем у&nbsp;вас. Почему такое бывает?</dt>
        <dd>Во-первых, ситуация с&nbsp;наличием тех или иных тарифов в&nbsp;системах бронирования меняется ежесекундно. Поэтому на&nbsp;какой-то момент некоторых тарифов может не&nbsp;быть (и&nbsp;это справедливо для всех сайтов). К&nbsp;тому&nbsp;же, билетные поисковики часто сохраняют информацию о&nbsp;ценах у&nbsp;себя, отображая цену, по&nbsp;которой купить билет уже невозможно.</dd>
        <dt>Как сэкономить на&nbsp;билете?</dt>
        <dd>Во-первых, есть самое главное правило: чем раньше до&nbsp;вылета вы&nbsp;покупаете билет, тем он&nbsp;дешевле. Это связано с&nbsp;тем, что доступны более дешевые классы бронирования. С&nbsp;течением времени их&nbsp;раскупают и&nbsp;остаются только более дорогие классы. Но&nbsp;стоит отметить, что более дорогой класс бронирования обладает более гибкими правиалами обмена и&nbsp;возврата, а&nbsp;дешевые классы как правило не&nbsp;подлежат ни&nbsp;возврату, ни&nbsp;обмену.</dd>
        <dt>Когда появятся отели? А&nbsp;аренда автомобилей?</dt>
        <dd>Отели и&nbsp;прокат авто у&nbsp;нас в&nbsp;планах как раз после авиабилетов. То&nbsp;есть именно сейчас мы&nbsp;работаем над тем, чтобы это появилось как можно быстрее.</dd>
    </dl>
</div>
<div class="asection" id="booking">
    <h2>Бронирование и выписка билетов</h2>
    <dl>
        <dt>Можно&nbsp;ли вернуть авиабилеты или обменять их&nbsp;на&nbsp;другие?</dt>
        <dd>Это полностью зависит от&nbsp;правил тарифа, с&nbsp;которыми вы&nbsp;можете ознакомиться перед тем, как забронировать билет. В&nbsp;целом, все устроено так, что самые дешевые варианты иностранных авиакомпаний практически всегда невозвратные, а&nbsp;те, что дороже (и&nbsp;бизнес-класс конечно&nbsp;же)&nbsp;&mdash; можно и&nbsp;обменивать и&nbsp;аннулировать практически без штрафов. Правила тарифов отображаются в&nbsp;том виде, в&nbsp;котором их&nbsp;передают нам авиакомпании&nbsp;&mdash; чаще всего на&nbsp;английском языке. Если вы&nbsp;не&nbsp;можете самостоятельно разобраться с&nbsp;правилами выбранного тарифа&nbsp;&mdash; позвоните нам или напишите письмо, мы&nbsp;вам обязательно поможем.</dd>
        <dt>Я&nbsp;ошибся при вводе данных&nbsp;&mdash; неправильно ввел фамилию. Меня посадят на&nbsp;рейс?</dt>
        <dd>При вводе имени и&nbsp;фамилии нельзя допускать ошибок (равно как менять местами имя и&nbsp;фамилию). Если вы&nbsp;ошиблись при вводе каких-либо данных, лучше связаться с&nbsp;нами, и&nbsp;мы&nbsp;вам поможем.</dd>
        <dt>Если на&nbsp;момент полета туда моему ребенку еще 11&nbsp;лет, а&nbsp;на&nbsp;момент обратного полета уже&nbsp;12, как забронировать билет?</dt>
        <dd>Если на&nbsp;момент обратного полета ребенку будет уже 12&nbsp;лет, то&nbsp;он&nbsp;уже считается взрослым пассажиром.</dd>
    </dl>
</div>
<div class="asection" id="payment">
    <h2>Оплата</h2>
    <dl>
        <dt>Как я&nbsp;могу оплатить авиабилеты?</dt>
        <dd>Удобнее и&nbsp;быстрее всего&nbsp;&mdash; банковской картой на&nbsp;сайте. Если это вам не&nbsp;подходит, можно вызвать курьера, который примет наличные. Или можно приехать к&nbsp;нам в&nbsp;офис и&nbsp;заплатить (но&nbsp;это&nbsp;доступно не&nbsp;для&nbsp;всех билетов). Скоро появится возможность оплаты электронными деньгами и&nbsp;через платежные терминалы.</dd>
        <dt>Вам вообще можно доверять? Откуда мне знать, что вы&nbsp;сделаете с&nbsp;данными моей карты.</dt>
        <dd>Мы&nbsp;&mdash; юридическое лицо (ООО &laquo;Эвитерра Трэвел&raquo;), зарегистрированное и&nbsp;работающее в&nbsp;соответствии с&nbsp;нормами российского законодательства. У&nbsp;нас есть офис и&nbsp;все соответствующие разрешения и&nbsp;аккредитации. Нам незачем заниматься мошенничеством по&nbsp;отношению к&nbsp;нашим пользователям. Данные банковской карты вы&nbsp;вводите на&nbsp;сайте, защищенном <nobr>256-битным</nobr> ключом шифрования, который невозможно взломать. К&nbsp;тому&nbsp;же мы&nbsp;передаем данные вашей карты (в&nbsp;зашифрованном виде, естественно) только банку и&nbsp;не&nbsp;сохраняем их&nbsp;после этого. Безопасность нашего сайта подтверждена сертификатом PCI&nbsp;DSS Compliance (если&nbsp;бы мы&nbsp;ее&nbsp;не&nbsp;подтвердили, нам&nbsp;бы вообще не&nbsp;разрешили принимать карты).</dd>
        <dt>Что произойдет, после того, как я&nbsp;куплю билет у&nbsp;вас на&nbsp;сайте?</dt>
        <dd>После нажатия кнопки &laquo;Купить&raquo;, при наличии на&nbsp;вашей карте необходимой суммы, мы&nbsp;забронируем выбранный вами вариант перелета и&nbsp;пришлем на&nbsp;указанный вами адрес электронной почты данные вашего билета. Там будет все, что нужно: время, номер рейса и&nbsp;данные пассажиров. Кстати, сейчас уже не&nbsp;обязательно распечатывать электронный билет&nbsp;&mdash; достаточно показать паспорт на&nbsp;стойке регистрации в&nbsp;аэропорту.</dd>
        <!-- <dd>Очень редко, но&nbsp;бывает, что авиакомпания не&nbsp;может подтвердить возможность бронирования того или иного варианта перелета. В&nbsp;таком случае мы&nbsp;с&nbsp;вами свяжемся, извинимся, моментально вернем деньги и&nbsp;предложим другие варианты перелета.</dd> -->
        <dt>Мне не&nbsp;пришло письмо с&nbsp;электронным билетом. Как быть?</dt>
        <dd>Прежде всего проверьте папку &laquo;Спам&raquo; в&nbsp;вашем почтовом ящике. Иногда бывает, что письма попадают туда. Также убедитесь, в&nbsp;том, что вы&nbsp;правильно указали свой электронный адрес, и&nbsp;в&nbsp;том, что ваш почтовый ящик не&nbsp;переполнен. Если в&nbsp;течение <nobr>15-20</nobr> минут вы&nbsp;не&nbsp;получили письмо, свяжитесь с&nbsp;нами&nbsp;&mdash; мы&nbsp;отправим вам ваш билет еще раз или перешлем его на&nbsp;другой адрес, который вы&nbsp;укажете.</dd>
        <dt>При покупке билета ваш сайт перенаправляет меня на&nbsp;какой-то 3DSecure. Что это вообще такое?</dt>
        <dd>Это означает, что ваша банковская карта имеет дополнительную защиту от&nbsp;незаконных операций. В&nbsp;этом случае мы&nbsp;перенаправляем вас на&nbsp;страницу вашего банка, где нужно ввести одноразовый пароль, который придет вам в&nbsp;SMS на&nbsp;мобильный телефон. Если вы&nbsp;до&nbsp;этого ни&nbsp;разу не&nbsp;платили в&nbsp;интернете с&nbsp;использованием 3DSecure, банк предложит пройти простую процедуру регистрации.</dd>
        <dt>Я&nbsp;представляю юридическое лицо. Можем&nbsp;ли мы&nbsp;оплатить билеты по&nbsp;безналичному расчету?</dt>
        <dd>Можете. Свяжитесь с&nbsp;нами, и&nbsp;мы&nbsp;расскажем как это можно сделать.</dd>
        <dt>При оплате на&nbsp;сайте нужно ввести <nobr>CVC-код</nobr> банковской карты. Что это такое? А&nbsp;если на&nbsp;моей карте его нет?</dt>
        <dd>Обычно <nobr>CVC-код</nobr> указан на&nbsp;обратной стороне карты (это последние три цифры рядом с&nbsp;подписью). А&nbsp;на&nbsp;карточках Visa Electron и&nbsp;Maestro этого кода нет, так как такие карты не&nbsp;предназначены для оплаты в&nbsp;интернете.</dd>
        <dt>На&nbsp;моей карте есть достаточная сумма, но&nbsp;платеж не&nbsp;принимается. В&nbsp;чем дело?</dt>
        <dd>Скорее всего, ваш банк в&nbsp;целях безопасности выставил лимит для оплаты картой в&nbsp;интернете или полностью запретил оплату без подтверждения. Вам нужно связаться с&nbsp;банком и&nbsp;сообщить им&nbsp;о&nbsp;том, что вы&nbsp;хотите оплатить покупку в&nbsp;интернете&nbsp;&mdash; сотрудники банка вам помогут.</dd>
        <dt>Счет моей банковской карты&nbsp;&mdash; не&nbsp;в&nbsp;рублях. По&nbsp;какому курсу произойдет списание денег?</dt>
        <dd>Деньги будут списаны по&nbsp;внутреннему курсу вашего банка.</dd>
    </dl>
</div>

</div>
<div class="page-buffer"></div>
</div>
<%= render 'shared/footer' %>
<script type="text/javascript">
$('.fc-fixed li a').click(function(event) {
    var section = $($(this).attr('href'));
    if (section) {
        event.preventDefault();
        $w.smoothScrollTo(section.find('h2').position().top - 130);
    }
});
</script>
</body>
</html>