<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="utf-8">
    <title>Eviterra — вопросы и ответы</title>
    <meta name="description" content="Eviterra.com — простой, удобный и красивый способ найти и купить авиабилет. Поиск, выбор рейса и бронирование онлайн. Цены на авиабилеты. +7 495 660-35-20">
    <meta name="keywords" content="авиабилет, авиакасса, авиабилеты купить, бронирование, выбрать рейс, авиарейс, перелет, дешевые авиабилеты, цены на билеты, онлайн бронирование, эвитерра, eviterra, спецпредложения, авиакомпании, расписание рейсов, маршрут, агентство, турагентство, путешествия">
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag 'static/all', 'static/faq' %>
    <%= javascript_include_tag 'static' %>
</head>
<body>
<div class="page-wrapper">

<%= render 'shared/header' %>
<div id="back2search">
    <div class="bs-content"><a class="bs-link" href="/">Search flights</a></div>
</div>

<div class="article faq">
    <div class="faq-contents">
        <div class="fc-fixed">
        <ul>
            <li><a href="#service">Site and service</a></li>
            <li><a href="#booking">Booking and ticketing</a></li>
            <li><a href="#payment">Payment</a></li>
        </ul>
        <p>It wasn't helpful? <a href="mailto:hello@eviterra.com">Write a line</a>.</p>
        </div>
    </div>

<div class="asection" id="service">
    <h2>Site and service</h2>
    <dl>
        <dt>Air tickets on your website are much cheaper than on airline  website. Why? Is it possible?</dt>
        <dd>It's ok. We make discounts from airline fares due to our cooperation conditions with them. In addition we often have access to special fares which airlines don't display on their own websites.</dd>
        <dt>But how do you make your money?</dt>
        <dd>Airlines pay us commission for every ticket sold. As well as we receive bonuses – depending on sales volume. That’s why we don’t apply extra fees to our users.</dd>
        <dt>I have a frequent flyer bonus card. Am I able to earn miles when booking with your website?</dt>
        <dd>Of course. When entering passenger' details you can choose your bonus program name and enter your frequent flyer number. After the flight miles will be added to your account.</dd>
        <dt>I've found a lower price than yours on another website. Why?</dt>
        <dd>Fare availability is changing all the time. That's why for a certain moment of time you may not find a specific fare (and it is truth for all air booking websites). Furthermore, meta-search systems often keep some information in their cache and sometimes display outdated prices.</dd>
        <dt>How to save money when buying a ticket?</dt>
        <dd>The first thing is to book flight as earlier as possible, because more lower fares are available.  Closer to the departure date higher fares are remaining.  However, higher fare is more flexible than lower one in terms of change or refund.. Normally, low fare tickets aren't changeable or refundable.</dd>
        <dt>How to book a hotel or a car on your site?</dt>
        <dd>Right now we have only air tickets. But we plan to add hotels and car rentals in late 2013.</dd>
    	<dt>I can’t find low-cost airlines on your website. Why?</dt>
        <dd>Low-cost carriers have another business model and prefer to sell their flights on their own websites. But anyway, we try to have them too.</dd>
    </dl>
</div>
<div class="asection" id="booking">
    <h2>Booking and ticketing</h2>
    <dl>
        <dt>How to change or refund the ticket?</dt>
        <dd>This depends on fare rules which are displayed right before booking. Basically, low fares are non-returnable in almost all cases. Higher fares (and business class too) are changeable or refundable almost without penalties. </dd>
        <dt>When booking, I've made mistake in my name. Will I get on the plane?</dt>
        <dd>If you think you’ve made a mistake when filling(a) the booking form, please contact us via phone or email for help. It’s better to do this on the same day you’ve made your booking</dd>
        <dt>How could I book a flight for my child, if he gets 12 during a trip?</dt>
        <dd>If he will get 12 on the moment of return flight he's deemed as an adult passenger.</dd>
    </dl>
</div>
<div class="asection" id="payment">
    <h2>Payment</h2>
    <dl>
        <dt>How can I pay for the ticket?</dt>
        <dd>The easiest and fastest way is to pay with a credit card on our website. If it's not ok, you can pay cash on delivery or visit our office (only in Moscow, not available for all flights). Soon we will add the possibility to pay with electronic money and with payment terminals.</dd>
        <dt>Can I trust you? How can I be sure you will not do fraud operations with my credit card details?</dt>
        <dd>We are the legal entity, Eviterra LLC working under laws of Russian Federation. We have all the necessary licenses and certificates. We just have no interest in making this kind of things. Credit card information is encrypted with SHA1 security key. In addition to that we transfer this information (in encrypted way, of course) only to the bank and don't save it. (С имплементацией кабинета поменять). Your safety is validated with PCI DSS Compilance certificate </dd>
        <dt>What will happen right after buying a ticket on your website?</dt>
        <dd>If you have enough amount of money on your card we will block this amount, book the flight you have picked up and send the ticket to your email adress right after you click "Buy ticket" button. In the email you will find everything you need: e-ticket number, booking confirmation number, departure/arrival time, flight numbers and passenger details. By the way, you don't need to print this – just show your passport at the airport check-in desk  airport.</dd>
        <!-- <dd>Очень редко, но&nbsp;бывает, что авиакомпания не&nbsp;может подтвердить возможность бронирования того или иного варианта перелета. В&nbsp;таком случае мы&nbsp;с&nbsp;вами свяжемся, извинимся, моментально вернем деньги и&nbsp;предложим другие варианты перелета.</dd> -->
        <dt>I didn't receive a mail, what's up?</dt>
        <dd>If you didn’t receive the email from us within 10 minutes after booking, check your spam folder – sometimes emails go there, unfortunately. Also make sure you've entered your correct email address and you have enough space in your inbox. If you haven't got the mail,please contact us, we will send it once more or to another email address you will provide.</dd>
        <dt>When I book the ticket on your website, it forwards me to something like "3DSecure". What is it?</dt>
        <dd>This means your card has an advanced security system preventing fraud transactions. In this case we forward you to a webpage of your bank, where you have to enter randomly generated password, which usually is sent to you via SMS. If you haven't use such kind of protection before, you will pass simple registration procedure on a website of your bank.</dd>
        <dt>Your site requires me to enter for CVC code. What is it? What if I have no CVC?</dt>
        <dd>CVC is usually located on a back side of your card (last three digits near to your signature). But most of Visa Electron or Maestro cards have no CVC cause this type of credit cards are not suitable for online payments.</dd>
        <dt>I’m sure I have enough money on my card, but payment is rejected. What is going on?</dt>
        <dd>Sometimes  banks set up limits for online payment amounts (can be daily or one-time restriction) for security reasons. Or your card can be blocked without any confirmation. You have to contact your bank and explain the situation – usually banks solve it in 3-5 minutes.</dd>
        <dt>Your prices are displayed in Russian roubles, and my card account is in another currency. What exchange rate will be applied?</dt>
        <dd>The amount will be converted in roubles according to your bank exchange rate.</dd>
    </dl>
</div>

</div>
<div class="page-buffer"></div>
</div>
<%= render 'shared/footer' %>
<script type="text/javascript">
$('.fc-fixed li a').click(function(event) {
    var section = $($(this).attr('href'));
    if (section) {
        event.preventDefault();
        $w.smoothScrollTo(section.find('h2').position().top - 130);
    }
});
</script>
</body>
</html>
