<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="utf-8">
    <title>Eviterra — о проекте</title>
    <meta name="description" content="Eviterra.com — простой, удобный и красивый способ найти и купить авиабилет. Поиск, выбор рейса и бронирование онлайн. Цены на авиабилеты. +7 (495) 660-35-20">
    <meta name="keywords" content="авиабилет, авиакасса, авиабилеты купить, бронирование, выбрать рейс, авиарейс, перелет, дешевые авиабилеты, цены на билеты, онлайн бронирование, эвитерра, eviterra, спецпредложения, авиакомпании, расписание рейсов, маршрут, агентство, турагентство, путешествия">
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag 'static/all', :debug => true %>
    <%= javascript_include_tag "local/ru", 'static', :debug => true %>
</head>
<body>
<div class="page-wrapper">

<%= render 'shared/header' %>
<div id="back2search">
    <div class="bs-content"><a class="bs-link" href="/">Поиск авиабилетов</a></div>
</div>

<div class="article">

<!--<div class="asection" style="height: 540px;">
    <iframe title="Как правильно покупать авиабилеты в интернете" src="http://player.vimeo.com/video/20245105?byline=0&amp;portrait=0&amp;color=ffffff" width="960" height="540" frameborder="0"></iframe>
</div>-->
<div class="asection">
    <h2>Пара слов о проекте</h2>
    <p>Eviterra.com&nbsp;&mdash; это самый простой, удобный и&nbsp;современный способ поиска и&nbsp;покупки авиабилетов (а&nbsp;в&nbsp;будущем появятся отели, прокат авто, билеты на&nbsp;поезд, страховки и&nbsp;так далее). Мы&nbsp;постоянно работаем над развитием и&nbsp;улучшением сервиса.</p>
    <p>Наш сайт подключен сразу к&nbsp;нескольким системам бронирования, что позволяет сравнивать тарифы и&nbsp;подбирать наиболее выгодные и&nbsp;удобные тарифы и&nbsp;рейсы.</p>
    <p>Наша компания официально аккредитована в&nbsp;Международной ассоциации авиаперевозчиков (IATA) и&nbsp;в&nbsp;российской транспортной клиринговой палате (ТКП). Мы&nbsp;прошли все необходимые процедуры для оформления электронных билетов на&nbsp;рейсы российских и&nbsp;зарубежных авиакомпаний.</p>
    <p>Помимо сайта у&nbsp;нас есть собственная служба бронирования, которая находится в&nbsp;нашем офисе. Всегда можно позвонить и&nbsp;вам помогут и&nbsp;ответят на&nbsp;все вопросы.</p>
    <p>Офис компании находится в&nbsp;Москве.</p>
</div>
<div class="asection">
    <h2 id="payment">Как выбрать и купить</h2>
    <p>Нужно просто написать в&nbsp;поле поиска куда вам нужно, выбрать даты путешествия, количество пассажиров и&nbsp;класс обслуживания. Нажмите &laquo;Искать&raquo;: наш сайт некоторое время подумает, свяжется с&nbsp;системами бронирования и&nbsp;покажет вам возможные варианты. Их&nbsp;можно различными способами сортировать и&nbsp;фильтровать. Также можно посмотреть минимальные цены на&nbsp;соседние дни вылета или в&nbsp;соседние города&nbsp;&mdash; зачастую может оказаться дешевле.</p>
    <p>Пункт назначения можно вводить в&nbsp;любом формате: город, аэропорт или код. Помимо этого можно ввести название страны, если вам не&nbsp;принципиально, в&nbsp;какой конкретно город прилететь&nbsp;&mdash; мы&nbsp;подберем наиболее выгодные и&nbsp;удобные варианты.</p>
    <p>После того, как нашелся подходящий вам вариант, нажмите &laquo;Выбрать&raquo; рядом с&nbsp;ним. Вам будет предложено ввести данные пассажиров, данные банковской карты и&nbsp;данные того, кто покупает билет. После того, как всё введено, нужно нажать кнопку &laquo;Купить&raquo;. Если что-то не&nbsp;введено или введено неправильно, кнопка &laquo;Купить&raquo; будет недоступна. Внимательно вводите данные&nbsp;&mdash; особенно имена и&nbsp;данные паспорта. Если при покупке вы&nbsp;пользуетесь банковской картой, принадлежащей не&nbsp;вам, убедитесь в&nbsp;согласии владельца карты на&nbsp;эту покупку.</p>
    <p>Если всё в&nbsp;порядке и&nbsp;на&nbsp;вашей банковской карте есть необходимая сумма, то&nbsp;она спишется, билет будет автоматически оформлен и&nbsp;вы&nbsp;получите подтверждение покупки&nbsp;&mdash; электронную маршрут-квитанцию. Ее&nbsp;можно будет увидеть на&nbsp;сайте и&nbsp;она будет отправлена на&nbsp;электронный адрес покупателя. В&nbsp;маршрут-квитанции указаны все данные о&nbsp;пассажирах и&nbsp;о&nbsp;путешествии. Кстати, уже совсем не&nbsp;обязательно распечатывать ее&nbsp;&mdash; информация о&nbsp;вас сразу попадает в&nbsp;систему бронирования и&nbsp;для того, чтобы зарегистрироваться на&nbsp;рейс в&nbsp;аэропорту, достаточно лишь паспорта.</p>
    <p>В&nbsp;данный момент мы&nbsp;принимаем только карты Visa и&nbsp;MasterCard, но&nbsp;работаем над расширением набора платежных средств. Оплата наличными в&nbsp;офисе тоже возможна.</p>
</div>
<div class="asection">
    <h2>Это безопасно?</h2>
    <p>Конечно. Наш сайт сертифицирован по&nbsp;стандарту PCI&nbsp;DSS и&nbsp;оборудован <nobr>256-битным</nobr> ключом шифрования. Также, мы&nbsp;не&nbsp;храним и&nbsp;не&nbsp;передаем ваши данные никуда, кроме авиакомпании и&nbsp;платежного банка.</p>
    <p>Тем не&nbsp;менее, нужно внимательно отнестись к&nbsp;вводу данных банковской карты, если вы&nbsp;подозреваете, что кто-нибудь может их&nbsp;увидеть у&nbsp;вас&nbsp;же на&nbsp;экране. О&nbsp;безопасности в&nbsp;этом вопросе вам нужно позаботиться самостоятельно.</p>
</div>
<div class="asection">
    <h2>Почему нужно покупать на <strong>eviterra.com</strong>?</h2>
    <p>Наш сайт подключен сразу к&nbsp;нескольким системам бронирования и&nbsp;при этом мы&nbsp;являемся полноценным билетным агентством&nbsp;&mdash; то&nbsp;есть&nbsp;то, что мы&nbsp;вам предложим, можно сразу&nbsp;же у&nbsp;нас&nbsp;же и&nbsp;купить. Никакой сайт отдельной авиакомпании не&nbsp;даст вам того разнообразия вариантов (а&nbsp;также простоты и&nbsp;удобства), которое предложим&nbsp;мы. Мы&nbsp;постоянно следим за&nbsp;тем, чтобы наши цены были низкими.</p>
    <p>Летайте с&nbsp;нами!</p>
</div>

</div>
<div class="page-buffer"></div>
</div>
<%= render 'shared/footer' %>
</body>
</html>
