<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="utf-8">
    <title>Eviterra — партнерская программа</title>
    <meta name="description" content="Eviterra.com — простой, удобный и красивый способ найти и купить авиабилет. Поиск, выбор рейса и бронирование онлайн. Цены на авиабилеты. +7 495 660-35-20">
    <meta name="keywords" content="авиабилет, авиакасса, авиабилеты купить, бронирование, выбрать рейс, авиарейс, перелет, дешевые авиабилеты, цены на билеты, онлайн бронирование, эвитерра, eviterra, спецпредложения, авиакомпании, расписание рейсов, маршрут, агентство, турагентство, путешествия">
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag 'static/all' %>
    <%= javascript_include_tag 'static' %>
</head>
<body>
<div class="page-wrapper">

<%= render 'shared/header' %>
<div id="back2search">
    <div class="bs-content"><a class="bs-link" href="/">Поиск авиабилетов</a></div>
</div>

<div class="article">

<div class="asection">
    <h2>Партнерская программа</h2>
    <p>Для всех, кто хочет реализовать у&nbsp;себя на&nbsp;сайте поиск авиабилетов и&nbsp;зарабатывать на&nbsp;этом, у&nbsp;нас есть партнерский программный интерфейс, с&nbsp;помощью которого это можно сделать.</p>
    <p>Все выглядит так: мы&nbsp;предоставляем вам доступ к&nbsp;описанию формата обмена данными и&nbsp;вы&nbsp;реализуете техническую часть на&nbsp;вашей стороне. На&nbsp;вашем сайте появляется интерфейс поиска и&nbsp;вывод предложений по&nbsp;авиабилетам. После выбора интересующего предложения пользователь перенаправляется на&nbsp;наш сайт, где ему остается только ввести данные для оплаты.</p>
    <p>Доходом от&nbsp;проданных таким образом билетов мы&nbsp;делимся с&nbsp;партнерами (соотношение этого разделения обсуждается отдельно в&nbsp;зависимости от&nbsp;объемов). Партнер получает доступ к&nbsp;статистике продаж в&nbsp;реальном времени.</p>
    <p>Есть вопросы? Хотите сотрудничать? Пишите на&nbsp;<a href="mailto:partnership@eviterra.com">partnership@eviterra.com</a>.</p>
</div>

</div>
<div class="page-buffer"></div>
</div>
<%= render 'shared/footer' %>
</body>
</html>
