<div class="ph-user" id="user">
<% if customer_signed_in? %>
    <div class="phu-link">
        <a class="phul-wrapper" href="<%= profile_path %>">
            <span class="phul-text"><%= current_customer.email.downcase %></span>
            <span class="phul-overflow">&nbsp;</span>
        </a>
        <span class="phul-logout" title="Выйти из личного кабинета"><img class="phul-icon" src="/images/common/exit.png" alt="Выйти"></span>
    </div>
    <div class="phu-logout">
        <%= button_to('Выйти', destroy_customer_session_path, :method => :delete) %>    
    </div>
<% else %>
<div class="phu-wrapper">
    <div class="phu-control">Личный кабинет<span class="phuc-bar"></span></div>
    <div class="phu-popup" id="phup-authorization">
        <div class="phu-stator">
        <div class="phu-slider">
            <%= form_for("customer", :url => customer_session_path, :html => {:class => 'phu-section phu-signin', :novalidate => 'novalidate'}) do |f| %>
                <h6 class="phus-title" style="margin-bottom: 13px;"><span class="phu-signin-link">Вход с паролем</span></h6>
                <div class="phu-field">
                    <label for="signin-email" class="phuf-placeholder">электронная почта</label>                
                    <%= f.email_field :email, :class => 'phuf-input', :id => 'signin-email', :placeholder => 'электронная почта' %>
                </div>
                <div class="phu-field">
                    <label for="signin-password" class="phuf-placeholder">пароль</label>
                    <%= f.password_field :password, :class => 'phuf-input', :id => 'signin-password', :placeholder => 'пароль' %>
                </div>
                <div class="phu-submit">
                    <span class="link phu-forgot-link">Забыли пароль?</span>
                    <%= f.submit "Войти", :class => 'phu-button' %><span class="phu-loading"></span>
                </div>
                <div class="phu-error"></div>
            <% end %>
            <%= form_for("customer", :url => customer_password_path, :html => {:class => 'phu-section phu-forgot', :novalidate => 'novalidate'}) do |f| %>
                <h6 class="phus-title">Сброс пароля</h6>
                <div class="phu-forgot-fields">
                    <p style="margin: 0 0 10px;">Мы пришлём на почту ссылку для получения нового пароля.</p>
                    <div class="phu-field">
                        <label for="forgot-email" class="phuf-placeholder">электронная почта</label>
                        <%= f.email_field :email, :class => 'phuf-input', :id => 'forgot-email', :placeholder => 'электронная почта' %>
                    </div>            
                    <div class="phu-submit">
                        <span class="link phu-remember-link">Вспомнили?</span>
                        <%= f.submit "Сбросить пароль", :class => 'phu-button' %>
                    </div>
                    <div class="phu-error"></div>
                </div>
                <div class="phu-forgot-result">
                    <p style="margin: 0 0 8px;">На ваш электронный адрес отправлено письмо. Для&nbsp;завершения сброса пароля перейдите по&nbsp;ссылке в&nbsp;письме.</p>
                    <p class="phufr-what-link"><span class="link">Что делать, если ничего не пришло?</span></p>
                    <p class="phufr-what">Если вы&nbsp;не&nbsp;получили письмо в&nbsp;течение <nobr>10-15 минут,</nobr> проверьте папку &laquo;Спам&raquo; в&nbsp;вашей почте. Если и&nbsp;там его нет, мы можем выслать письмо для сброса пароля <span class="link">ещё раз</span>.</p>
                </div>
            <% end %>            
        </div>
        </div>
        <div class="phu-section">
            <h6 class="phus-title"><span class="phust-link phu-signup-link">Регистрация</span></h6>
            <p>Нужна для того, чтобы хранить вашу историю заказов и данные пассажиров. После первого заказа у нас вы будете зарегистрированы автоматически.</p>
            <%= form_for("customer", :url => customer_registration_path, :html => {:class => 'phu-signup', :novalidate => 'novalidate'}) do |f| %>
            <div class="phu-signup-fields">
                <div class="phu-field">
                    <label for="signup-email" class="phuf-placeholder">электронная почта</label>
                    <%= f.email_field :email, :class => 'phuf-input', :id => 'signup-email', :placeholder => 'электронная почта' %>
                </div>            
                <div class="phu-submit">
                    <%= f.submit "Зарегистрироваться", :class => 'phu-button' %><span class="phu-loading"></span>
                </div>
                <div class="phu-error"></div>
            </div>
            <% end %>
        </div>
        <div class="phu-section phu-signup-result">
            <h6 class="phus-title">Аккаунт создан</h6>
            <p>На ваш электронный адрес отправлено письмо-подтверждение. Для&nbsp;завершения регистрации перейдите по&nbsp;ссылке в&nbsp;письме.</p>
            <p style="margin: 10px 0 0;"><span class="link phu-confirm-link">Что делать, если ничего не пришло?</span></p>
        </div>
        <div class="phu-section" style="display: none;">
            <h6 class="phus-title">Подтверждение регистрации</h6>        
            <p style="margin: 0 0 10px;">Если вы не получили письмо в течение 10-15 минут, проверьте папку «Спам» в вашей почте. Если и там его нет, мы можем выслать письмо ещё раз.</p>
            <%= form_for("customer", :url => customer_confirmation_path, :html => { :method => :post, :class => 'phu-confirm', :novalidate => 'novalidate' }) do |f| %>
                <div class="phu-field">
                    <label for="signup-email" class="phuf-placeholder">электронная почта</label>
                    <%= f.email_field :email, :class => 'phuf-input', :id => 'confirm-email', :placeholder => 'электронная почта' %>
                </div>
                <div class="phu-submit">
                    <%= f.submit "Выслать", :class => 'phu-button' %><span class="phu-loading"></span>
                </div>
                <div class="phu-error"></div>                
            <% end %>
        </div>
    </div>
    <div class="phu-popup" id="phup-password">
        <div class="phu-section">
            <h6 class="phus-title">Придумайте пароль</h6>
            <p class="phupp-profile" style="margin: 0 0 10px;">для личного кабинета</p>
            <%= form_for("customer", :url => customer_confirm_path, :html => {:method => :put, :novalidate => 'novalidate'}) do |f| %>
            <%= f.hidden_field :confirmation_token, :id => 'password_token' %>
            <div class="phu-field">
                <label for="new-password-1" class="phuf-placeholder">пароль</label>
                <%= f.password_field :password, :class => 'phuf-input', :id => 'new-password-1', :placeholder => 'пароль' %>
            </div>
            <div class="phu-field">
                <label for="new-password-2" class="phuf-placeholder">ещё раз пароль</label>
                <%= f.password_field :password_confirmation, :class => 'phuf-input', :id => 'new-password-2', :placeholder => 'ещё раз пароль' %>
            </div>
            <div class="phu-submit">
                <%= f.submit "Продолжить", :class => 'phu-button' %><span class="phu-loading"></span>
            </div>
            <div class="phu-error"></div>
            <% end %>
        </div>
    </div>
    <div class="phu-popup" id="phup-token">
        <div class="phu-section">
            <p style="width: 230px; margin-top: 2px;">Ссылка, по&nbsp;которой вы&nbsp;перешли, устарела или неверна. Чтобы задать пароль для личного кабинета, перейдите, пожалуйста, по&nbsp;ссылке из&nbsp;письма.</p>
        </div>
    </div>
</div>
<div class="phu-fade"></div>
<% end %>
</div>