<% content_for :title do %>Личный кабинет<% end %>

<h2 class="page-title"><%= current_customer.email %><%#= current_customer.confirmed? %></h2>

<%#= link_to "Change your password", edit_customer_registration_path %>

<ul class="profile-menu">
    <li class="pm-item">Заказы</li>
    <li class="pm-item">Пассажиры</li>
    <li class="pm-item">Подписки</li>
</ul>

<%#= debug @orders.first %>

<table id="personal-orders">
<thead class="po-header">
<tr>
    <th>номер</th>
    <th>дата</th>
    <th>маршрут</th>
    <th>вылет</th>
    <th>статус</th>
    <th style="text-align: right;">стоимость</th>
</tr>
</thead>
<% @orders.each do |order| %>
<tbody class="po-row">
<tr>
    <td><%= order.pnr_number %></td>
    <td><%= l(order.created_at, :format => :human) %></td>
    <td><%= order.route %></td>
    <td><%= order.departure_date %></td>
    <td><%= order.ticket_status %></td>
    <td style="text-align: right;"><%= decorate_price short_price(order.price_with_payment_commission.round.to_i) %></td>
</tr>
<tr class="po-details pod-hidden">
    <td colspan="6" class="pod-cell">
    <div class="pod-wrapper">
        <div class="pod-content">
            <div class="pod-passenger">
                <h6 class="pod-name">MAXIM ZAKHAROV</h6>
                <p class="pod-ticket">билет № 25763756723</p>
            </div>
            <div class="pod-pnr">Маршрут квитанция <a href="/">на русском</a> или <a href="/">на английском</a></div>
        </div>
    </div>    
    </td>
</tr>
</tbody>
<% end %>
</table>
<script type="text/javascript">
var ordersTable = {
init: function() {
    var that = this;
    this.el = $('#personal-orders');
    this.el.on('click', '.po-row:not(.po-selected)', function() {
        var selected = that.el.find('.po-selected');
        if (selected.length) {
            that.hide(selected);
        }
        that.show($(this));
    });
},
show: function(row) {
    row.addClass('po-selected');
    row.find('.po-details').removeClass('pod-hidden');
    row.find('.pod-wrapper').slideDown(150);
},
hide: function(row) {
    row.removeClass('po-selected').addClass('po-previous');
    row.find('.pod-wrapper').slideUp(150, function() {
        row.find('.po-details').addClass('pod-hidden');
        row.removeClass('po-previous');
    });
}
};
ordersTable.init();
</script>
