<% content_for :title do %>Личный кабинет <%= current_customer.email.downcase %><% end %>
<% content_for :tabs do %>
<div id="profile-tabs">
<ul class="pt-content wrap">
    <li class="pt-item pt-selected">Заказы<% unless @orders.empty? %> <span class="pt-amount"><%= @orders.length %></span><% end %></li>
    <li class="pt-item">Пассажиры</li>
    <li class="pt-item">Подписки</li>
</ul>
</div>
<% end %>

<%#= link_to "Change your password", edit_customer_registration_path %>
<%#= debug @orders.first %>

<div id="orders">
<% if @orders.empty? %>
    <p class="orders-empty">Вы еще ничего не заказывали. Хотите <a href="/">купить билет</a>?</p>
<% else %>
<% @orders.each do |order| %>
<% if order.profile_active? || order.profile_all_tickets_returned? || admin_user %>
<div class="order"
  <% if order.profile_all_tickets_returned? %> style="background-color: #ddd;"
  <% elsif !order.profile_active? %> style="background-color: transparent; border: 1px dotted #454752"
  <% end %>>

<table class="order-summary">
<tr>
    <td style="width: 140px;">
        <h6 class="ors-date"><%= l(order.created_at, :format => :human_year) %></h6>
        <div class="ors-number">
            <p class="orsn-title">Номер брони</p>
            <p class="orsn-text"><%= order.pnr_number %></p>
        </div>
        <% if order.additional_pnr_number %>
        <div class="ors-number">
            <p class="orsn-title">Номер подтверждения</p>
            <p class="orsn-text"><%= order.additional_pnr_number %></p>
        </div>
        <% end %>
    </td>
    <td>
        <h5 class="ors-route"><%= order.profile_route_smart %></h5>
        <% if order.departure_date %>
            <p class="ors-departure">Вылет <%= l(order.profile_departure_date, :format => :human_year) %></p>
        <% end %>
        <ul class="ors-passengers">
        <% order.profile_people.each do |person| %>
            <li class="orsp-person"><%= person[:name] %></li>
        <% end %>
        </ul>
    </td>
    <td style="width: 160px;">
    <% if order.profile_alive_tickets_exists? || !order.profile_ticketed? %>
    <% if order.profile_stored? && order.profile_arrival_in_future? && order.profile_correct_pnr? %>
        <p class="orsp-title">Маршрутная квитанция</p>
        <p class="ors-pnr">
            <a class="orsp-link" href="<%= profile_itinerary_path(:id => order.pnr_number) %>" target="_blank">на русском</a>
        </p>
        <p class="ors-pnr">
            <a class="orsp-link" href="<%= profile_itinerary_path(:id => order.pnr_number, :lang =>'en') %>" target="_blank">in English</a>
        </p>
    <% end %>
    <% end %>    
    </td>
    <td style="width: 180px;">
        <% unless order.profile_payment_price.zero? %>
            <div class="ors-price"><%= decorate_price short_price(order.profile_payment_price), '<strong>', '</strong>' %></div>
        <% end %>
        <div class="ors-state"><%= order.profile_status %></div>
    </td>
</tr>
</table>

<div class="order-controls">
    <div class="orc-show">Показать детали</div>
    <div class="orc-hide">Скрыть детали</div>
</div>

<div class="order-details">
<% if order.profile_ticketed? %>
<% if order.profile_alive_tickets_exists? || order.profile_all_tickets_returned? || admin_user %>

    <div class="ordp-wrapper">
    <table class="ord-passengers">
    <tr>
        <th style="width: 290px;"><%= order.profile_tickets.length > 1 ? 'Пассажиры' : 'Пассажир' %></th>
        <th style="width: 240px;"><%= order.profile_tickets.length > 1 ? 'Билеты' : 'Билет' %></th>
        <th>Распечатать</th>
    </tr>
    <% order.profile_tickets.each do |ticket| %>
    <% if !ticket.profile_active? || @exchanged_tickets_numbers.include?(ticket.number_with_code) %>
    <tr class="ordp-inactive" style="color: #999;">
    <% else %>
    <tr>
    <% end %>
        <td><%= ticket.profile_name %></td>
        <td>
            <%= ticket.number_with_code %> <span class="ordp-status"><%= ticket.profile_status %></span>
            <% if admin_user %>
                <p class="ordp-debug">[<%= ticket.kind %>: <%= ticket.status %>]</p>
            <% end %>
        </td>
        <td>
        <% if ticket.status == 'ticketed' && ticket.profile_stored? && order.profile_correct_pnr? %>
            <a class="ordp-ticket" href="<%= profile_itinerary_for_ticket_path(:id => order.pnr_number, :ticket_id => ticket.id) %>" target="_blank">на русском</a>
            <a class="ordp-ticket" href="<%= profile_itinerary_for_ticket_path(:id => order.pnr_number, :ticket_id => ticket.id, :lang=> 'en') %>" target="_blank">in English</a>
        <% end %>
        </td>
    </tr>
      <% if ticket.parent_id %>
    <tr>
        <td>&nbsp;</td>
        <td><%= ticket.parent.number_with_code %> <span class="ordp-status"><%= ticket.parent.profile_status %></span></td>
        <td>
        <% if ticket.parent.profile_stored? && order.profile_correct_pnr? %>
            <a class="ordp-ticket" href="<%= profile_itinerary_for_ticket_path(:id => order.pnr_number, :ticket_id => ticket.parent_id) %>" target="_blank">на русском</a>
            <a class="ordp-ticket" href="<%= profile_itinerary_for_ticket_path(:id => order.pnr_number, :ticket_id => ticket.parent_id, :lang=> 'en') %>" target="_blank">in English</a>
        <% end %>
        </td>
    </tr>
      <% end %>

    <% end %>
    </table>
    </div>

    <% if order.profile_stored? && order.profile_alive_tickets_exists? %>
        <%= render :partial => 'flights', :locals => { :order => order } %>
    <% end %>

<% end %>
<% else %>

    <div class="ordp-wrapper">
    <table class="ord-passengers">
    <tr>
        <th style="width: 290px;"><%= order.profile_people.length > 1 ? 'Пассажиры' : 'Пассажир' %></th>
        <th style="width: 240px;"><%= order.profile_people.length > 1 ? 'Билеты' : 'Билет' %></th>    
    </tr>
    <% order.profile_people.each do |person| %>
    <tr>
        <td><%= person[:name] %></td>
        <td><%= person[:status] %></td>
    </tr>
    <% end %>
    </table>
    </div>
    
<% end %>
</div>

<% if admin_user %>
<div class="order-debug">
    <p>
        <% if order.profile_active? %> Живой! <% else %> Мертвый! <% end %>
        <% if order.profile_all_tickets_returned? %> Возврат! <% end %>
        sold_tickets=<%= order.profile_sold_tickets_count %> / ticketed?=<%= order.profile_ticketed? %> / stored?=<%= order.profile_stored? %>
        <a class="orc-link" href="<%= profile_itinerary_path(:id => order.pnr_number) %>" target="_blank">PNR</a>
    </p>
    <p>Route: <%= order.profile_route %></p>
    <p>Статусы заказа: <%= order.payment_type %> / <%= order.payment_status %> / <%= order.ticket_status %></p>
    <% if order.profile_ticketed? %>
        <p>Статусы билетов: <% order.tickets.each do |t| %> <%= t.kind %>: <%= t.status %> / <% end %></p>
    <% end %>
</div>
<% end %>

</div>

<% end %>
<% end %>
<% end %>
</div>

<script type="text/javascript">
var ordersTable = {
init: function() {
    var that = this;
    var context = $('#orders');
    context.on('click', '.orc-show', function() {
        that.show($(this).closest('.order'));
    });
    context.on('click', '.orc-hide', function() {
        that.hide($(this).closest('.order'));
    });
},
show: function(elem) {
    elem.find('.orc-show').hide();
    elem.find('.orc-hide').show();        
    elem.find('.order-details').slideDown(250);
},
hide: function(elem) {
    elem.find('.orc-hide').hide();
    elem.find('.orc-show').show();
    elem.find('.order-details').slideUp(250);
}
};
ordersTable.init();
</script>
