<% content_for :title do %>Личный кабинет<% end %>

<h2 class="page-title"><%= current_customer.email %><%#= current_customer.confirmed? %></h2>

<%#= link_to "Change your password", edit_customer_registration_path %>

<ul class="profile-menu">
    <li class="pm-item">Заказы</li>
    <li class="pm-item">Пассажиры</li>
    <li class="pm-item">Подписки</li>
</ul>

<%#= debug @orders.first %>

<table id="personal-orders">
<thead class="po-header">
<tr>
    <th>дата</th>
    <th>номер</th>
    <th>маршрут</th>
    <th>билетов</th>
    <th style="text-align: right;">стоимость</th>
    <th style="width: 100px;">статус</th>
</tr>
</thead>
<% @orders.each do |order| %>
<tbody class="po-row po-compact">
<tr>
    <td style="width: 90px;"><%= l(order.created_at, :format => :human) %></td>
    <td><%= order.pnr_number %></td>
    <td><%= order.route %></td>
    <td><%= order.blank_count %></td>
    <td style="text-align: right;"><%= decorate_price short_price(order.price_with_payment_commission.round.to_i) %></td>
    <td><%= order.ticket_status %></td>
</tr>
<tr class="po-details">
    <td colspan="2">
        <h6 class="po-name">MAXIM ZAKHAROV</h6>
    </td>
    <td>
        <p class="po-ticket">билет № 25763756723</p>
    </td>
    <td colspan="3">
        <dl class="wrap">
            <dt class="po-pnr">маршрут квитанция&nbsp;</dt>
            <dd class="po-pnr-links">
                <a href="/">на русском</a><br>
                <a href="/">на английском</a>
            </dd>
        </dl>
    </td>
</tr>
</tbody>
<% end %>
</table>
<script type="text/javascript">
var ordersTable = $('#personal-orders');
ordersTable.on('click', '.po-compact', function() {
    ordersTable.find('.po-detailed').addClass('po-compact').removeClass('po-detailed');
    $(this).addClass('po-detailed').removeClass('po-compact');
});
</script>
