<% content_for :title do %>Личный кабинет<% end %>

<h2 class="page-title"><%= current_customer.email %><%#= current_customer.confirmed? %></h2>

<%#= link_to "Change your password", edit_customer_registration_path %>

<ul class="profile-menu">
    <li class="pm-item">Заказы</li>
    <li class="pm-item">Пассажиры</li>
    <li class="pm-item">Подписки</li>
</ul>

<%#= debug @orders.first %>
<div id="orders">
<% if @orders.empty? %>
    <p class="orders-empty">Вы еще ничего не заказывали. Хотите <a href="/">купить билет</a>?</p>
<% else %>
<% @orders.each do |order| %>
<div class="order">
<table class="order-summary">
    <tr>
        <th style="width: 120px;">Дата заказа</th>
        <th style="width: 240px;">Маршрут</th>
        <th style="width: 120px;">Дата вылета</th>
        <th>Номер&nbsp;брони</th>
        <th>Номер&nbsp;подтверждения</th>
        <th>Статус оплаты</th>
        <th class="ors-right">Стоимость</th>
    </tr>
    <tr>
        <td><%= l(order.created_at, :format => :human_year) %></td>
        <td>
            <p class="ors-route"><%= order.profile_route_smart %></p>
            <p class="ors-route-raw"><%= order.profile_route %></p>
        </td>
        <td><%= l(order.departure_date, :format => :human_year) %></td>
        <td><%= order.pnr_number %></td>
        <td></td>
        <td><%= order.profile_status %></td>
        <td class="ors-right"><%= decorate_price short_price(order.profile_payment_price) %></td>
    </tr>
</table>
<div class="order-controls">
    <div class="orc-show">Показать детали</div>
    <div class="orc-hide">Скрыть детали</div>    
    <div class="orc-pnr">
        <span class="orc-link"><a href="<%= profile_show_pnr_path(:id => order.pnr_number) %>" target="_blank">Маршрут квитанция</a></span>
    </div>
</div>
<div class="order-details">

<div class="ord-passengers">
<% if order.profile_ticketed? %>
    <table>
    <tr>
        <th style="width: 294px;">Пассажир</th>
        <th style="width: 200px;">Номер билета</th>
        <th style="width: 200px;">Статус билета</th>
        <th><!--Распечатать--></th>
    </tr>
    <% order.tickets.each do |ticket| %>
        <tr>
            <td><%= ticket.profile_name %></td>
            <td>билет <%= ticket.carrier %> <%= ticket.number %></td>
            <td><%= ticket.profile_status %></td>
            <td>
            <% if ticket.flights.present? %>
                <a class="ordp-ticket" href="<%= profile_show_pnr_for_ticket_path(:id => order.pnr_number, :ticket_id => ticket.id) %>" target="_blank">распечатать</a>
            <% end %>                
            </td>
        </tr>
    <% end %>
    </table>
<% else %>
    <table class="ordp-table">
    <tr>
        <th style="width: 294px;">Пассажир</th>
        <th>Статус билета</th>
    </tr>
    <% order.profile_people.each do |person| %>
        <tr>
            <td><%= person[:name] %></td>
            <td><%= person[:status] %></td>
        </tr>
    <% end %>
    </table>
<% end %>
</div>

<% if order.profile_ticketed? && order.profile_flights %>
    <%= render :partial => 'flights', :locals => { :order => order } %>
<% end %>

</div>
<% if admin_user %>
<div class="order-debug">
    <%= order.payment_type %> / <%= order.payment_status %> / <%= order.ticket_status %>
</div>
<% end %>
</div>

<% end %>
<% end %>
</div>

<script type="text/javascript">
var ordersTable = {
init: function() {
    var that = this;
    var context = $('#orders');
    context.on('click', '.order-summary, .order-controls', function() {
        var elem = $(this).closest('.order');
        if (elem.find('.order-details').is(':visible')) {
            that.hide(elem);
        } else {
            that.show(elem);
        }
    });
    context.find('.orc-link').on('click', function(event) {
        event.stopPropagation();
    });
},
show: function(elem) {
    elem.find('.orc-show').hide();
    elem.find('.orc-hide').show();        
    elem.find('.order-details').slideDown(250);
},
hide: function(elem) {
    elem.find('.orc-hide').hide();
    elem.find('.orc-show').show();
    elem.find('.order-details').slideUp(250);
}
};
ordersTable.init();
</script>
