<% content_for :title do %>Личный кабинет<% end %>

<h2 class="page-title"><%= current_customer.email %><%#= current_customer.confirmed? %></h2>

<%#= link_to "Change your password", edit_customer_registration_path %>

<ul class="profile-menu">
    <li class="pm-item">Заказы</li>
    <li class="pm-item">Пассажиры</li>
    <li class="pm-item">Подписки</li>
</ul>

<%#= debug @orders.first %>

<% @orders.each do |order| %>
<div class="order">
<table class="order-summary">
    <tr>
        <th style="width: 120px;">Дата заказа</th>
        <th style="width: 240px;">Маршрут</th>
        <th style="width: 120px;">Дата вылета</th>
        <th>Номер&nbsp;брони</th>
        <th>Номер&nbsp;подтверждения</th>
        <th>Статус оплаты</th>
        <th class="ors-right">Стоимость</th>
    </tr>
    <tr>
        <td><%= l(order.created_at, :format => :human_year) %></td>
        <td>
            <p class="ors-route"><%= order.profile_route_smart %></p>
            <p class="ors-route-raw"><%= order.profile_route %></p>
        </td>
        <td><%= l(order.departure_date, :format => :human_year) %></td>
        <td><%= order.pnr_number %></td>
        <td></td>
        <td><%= order.profile_status %></td>
        <td class="ors-right"><%= decorate_price short_price(order.profile_payment_price) %></td>
    </tr>
</table>
<div class="order-controls">
    <div class="orc-show">Показать детали</div>
    <div class="orc-pnr"><a href="<%= profile_show_pnr_path(:id => order.pnr_number) %>" target="_blank">Маршрут квитанция</a></div>
</div>
<div class="order-details">

<div class="ord-passengers">
<% if order.profile_ticketed? %>
    <table class="ordp-table">
    <tr>
        <th>Пассажир</th>
        <th>Номер билета</th>
        <th>Статус билета</th>
        <th>Распечатать</th>
    </tr>
    <% order.tickets.each do |ticket| %>
        <tr>
            <td><%= ticket.profile_name %></td>
            <td>билет <%= ticket.carrier %> <%= ticket.number %></td>
            <td><%= ticket.profile_status %></td>
            <td>
            <% if ticket.flights.present? %>
                <p class="pod-ticket">&nbsp;-&nbsp;</p>
                <p class="pod-ticket"><a href="<%= profile_show_pnr_for_ticket_path(:id => order.pnr_number, :ticket_id => ticket.id) %>" target="_blank">билет</a></p>
            <% end %>                
            </td>
        </tr>
    <% end %>
    </table>
<% else %>
    <table class="ordp-table">
    <tr>
        <th>Пассажир</th>
        <th>Статус билета</th>
    </tr>
    <% order.profile_people.each do |person| %>
        <tr>
            <td><%= person[:name] %></td>
            <td><%= person[:status] %></td>
        </tr>
    <% end %>
    </table>
<% end %>
</div>

<div class="ord-flights">
<table class="ordf-table">
<tr>
    <th>Маршрут</th>
    <th>Отправление</th>
    <th>Прибытие</th>
    <th>Класс обслуживания и багаж</th>
</tr>
<tr>
    <td>
        Москва &mdash; Дюссельдорф
        Люфтганза
        Рейс LH&nbsp;2991
    </td>
    <td>
        22 июня 2013 суббота
        12:45
        Внуково, терминал A
    </td>
    <td>
        22 июня суббота
        14:05
        Дюссельдорф
    </td>
    <td>
        E (HK)<br>
        1&nbsp;место на&nbsp;пассажира
    </td>
</tr>
</table>
</div>

</div>
<% if admin_user %>
<div class="po-debug">
    <%= order.payment_type %> / <%= order.payment_status %> / <%= order.ticket_status %>
</div>
<% end %>
</div>
<% end %>

<script type="text/javascript">
var ordersTable = {
init: function() {
    var that = this;
    this.el = $('#personal-orders');
    this.el.on('click', '.po-row:not(.po-selected)', function() {
        var selected = that.el.find('.po-selected');
        if (selected.length) {
            that.hide(selected);
        }
        that.show($(this));
    });
},
show: function(row) {
    row.addClass('po-selected');
    row.find('.po-details').removeClass('pod-hidden');
    row.find('.pod-wrapper').slideDown(150);
},
hide: function(row) {
    row.removeClass('po-selected').addClass('po-previous');
    row.find('.pod-wrapper').slideUp(150, function() {
        row.find('.po-details').addClass('pod-hidden');
        row.removeClass('po-previous');
    });
}
};
//ordersTable.init();
</script>
