<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<meta charset="utf-8">
    <title><%= yield(:title) or 'Личный кабинет' %></title>
    <meta name="description" content="Eviterra — простой, удобный и быстрый способ найти и купить авиабилет. Поиск, выбор рейса и бронирование онлайн. Мгновенная оплата и оформление авиабилетов. Цены на авиабилеты.">
    <meta name="keywords" content="авиабилет, авиабилеты, дешевые авиабилеты, авиабилеты онлайн, авиакасса, авиа билеты, авиакомпании, все авиакомпании, купить авиабилеты, куплю авиабилеты, авиабилеты дешево, самые дешевые авиабилеты, стоимость авиабилетов, билеты на самолет, авиабилеты из москвы, забронировать авиабилеты, бронирование авиабилетов, выбрать рейс, авиарейс, перелет, дешевые авиаперелеты, цены на билеты, онлайн бронирование, эвитерра, авитерра, авитера, евитерра, eviterra, aviterra.ru, evitera, эвитера, эвиттера, эвиттерра, спецпредложения, акции, авиакомпании, расписание рейсов, сложный маршрут, агентство, турагентство, путешествия, аэрофлот, трансаэро, lufthansa, iberia, s7, сибирь, delta, ютэйр, гтк россия, пулково, аэросвит, air berlin, шереметьево, домодедово, внуково, авиабилеты по россии, авиабилеты в европу, авиабилеты в сша">
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag 'inner', 'profile/forms', 'profile/orders' %>
    <%= javascript_include_tag 'static' %>
</head>
<body>
<div class="page-wrapper">
<%= render 'shared/header' %>
<div id="profile-header">
    <div class="prh-content">
        <a class="prh-search" class="bs-link" href="/">Поиск авиабилетов</a>
        <h3 class="prh-name"><%= yield(:title) or 'Личный кабинет' %></h3>
    </div>
    <div class="prh-shadow"></div>
</div>
<%= yield(:tabs) %>
<div class="page-content">

<%= yield %>

</div>
<div class="page-buffer"></div>
</div>
<%= render 'shared/footer' %>
</body>
</html>